[2016-08-26 15:01] #891 closed

[2016-08-26 15:02] pdpinch opened #921 "Program Pages: update template to match current design"
![mm_program_ 2x](https://cloud.githubusercontent.com/assets/430126/18009876/10b34158-6b7c-11e6-8e32-b3431edc9a6f.jpg)

Acceptance criteria:

- [x] match curent design
- [x] Hero image and blurb come from CMS
- [x] About the Program and Frequently asked questions come from CMS
- [x] contact us link comes from the CMS
- [x] header consistent with the rest of the site

Related issues:

- #922 : Cour

[2016-08-26 15:07] #821 closed

[2016-08-26 15:17] pdpinch opened #922 "Program Pages: Courses widget"
![programpagecourses](https://cloud.githubusercontent.com/assets/125561/18010935/c9a3d1ba-6b80-11e6-8778-b5494262be38.png)

![image](https://cloud.githubusercontent.com/assets/430126/18010407/6117aeb6-6b7e-11e6-98c5-97ee169c39ad.png)

Acceptance criteria:

- [ ] Style should match the mockup
- [ ] Data in this widget is not editable via CMS. They should come from MM app.
- [ ] don't display prices

[2016-08-26 15:21] pdpinch opened #923 "Program Pages: Faculty profile widget"
Update the program page template to include a carousel of faculty profiles

![image](https://cloud.githubusercontent.com/assets/430126/18010516/d8c128fc-6b7e-11e6-8cad-6dc3adf60e69.png)
[InVisionapp mockup](https://projects.invisionapp.com/share/NB7VM1GSG#/screens/182565886)
# Depends on:

- #924 : Allow program owners to add/update faculty profiles

# Acceptance criteria

- [ ] Display faculty na

[2016-08-26 15:24] pdpinch opened #924 "Program Pages: Allow program owners to add/update faculty profiles"
Add faculty profiles to CMS. Include fields for name/title, image and blurb

Related issue:

- Program Pages: Faculty profile widget #923

When it's added to the template, it looks like this:

![image](https://cloud.githubusercontent.com/assets/430126/18010516/d8c128fc-6b7e-11e6-8cad-6dc3adf60e69.png)

[2016-08-26 16:16] pdpinch opened #925 "Dashboard: update to match design"
Should look like this:

![mm_dashboard 2x](https://cloud.githubusercontent.com/assets/430126/18012133/2d7d4694-6b86-11e6-93d2-c4add1304746.jpg)

Not like this:

![image](https://box.everhelper.me/attachment/559111/eb68aeb9-7366-4cd9-9ed9-edae1a1b5a5a/623857-O2nYtnYzIAku0OV3/screen.png)

Here is a complete set of course states:

![course_statuses 2x](https://cloud.githubusercontent.com/assets/43012

[2016-08-26 21:47] noisecapella opened #927 "Update app.json with new environment variables"

[2016-08-28 19:59] pdpinch commented on #927
Is this about the mailgun variables?

[2016-08-28 20:33] pdpinch opened #928 "Sign-up: Update Styling for screen 1 - Basic Info"
Should look like this:

![image](https://cloud.githubusercontent.com/assets/430126/18036607/37eb7ee4-6d3d-11e6-88ad-dd3946c8a20d.png)

Not like this:

![image](https://box.everhelper.me/attachment/560103/eb68aeb9-7366-4cd9-9ed9-edae1a1b5a5a/623857-dah8m4mQGTiSc2g8/screen.png)

# Acceptance Criteria:

- [ ] Update styling to match design
- [ ] Add "why we ask this" button
- [ ] Remove TOS checkbox

[2016-08-29 00:21] pdpinch opened #929 "Sign-up: Update UX for screen 2 - Education"
# Acceptance Criteria:

- [ ] defaults cards to nothing selected
- [ ] clicking yes will show the pop-up
- [ ] hide yes/no option when an entry is added;
- [ ] when all entries are deleted, the yes/no option should return
- [ ] ignore pre-existing edX data
- [ ] styling fixes

Should look like this:

![sign_up_2 2x](https://cloud.githubusercontent.com/assets/430126/18037934/f19db554-6d5c-11e6-92f2

[2016-08-29 00:28] pdpinch opened #930 "Sign-up: Update UX and styling for screen 3 - Professional"
# Acceptance Criteria:

- [ ] defaults cards to nothing selected
- [ ] clicking yes will show the pop-up
- [ ] hide yes/no option when an entry is added;
- [ ] when all entries are deleted, the yes/no option should return
- [ ] styling fixes

Should look like this:

![sign_up_3 2x](https://cloud.githubusercontent.com/assets/430126/18037976/df0adf6a-6d5d-11e6-9d44-3cb8f83c695c.png)

[2016-08-29 00:32] pdpinch commented on #802
After meeting with edX we learned that to implement this properly requires API scopes to be added, so that an MIT "server-to-server" user would only be able to affect MIT courses. This limitation doesn't exist now.

[2016-08-29 00:32] #802 closed

[2016-08-29 00:58] pdpinch commented on #796
@giocalitri Does this cover the dashboard context, or is there more?

[2016-08-29 01:02] #770 closed

[2016-08-29 01:03] pdpinch commented on #845
@roberthouse54 I think is done for now

[2016-08-29 01:03] #845 closed

[2016-08-29 01:21] pdpinch opened #931 "Instructor search: facets should be open by default"
On loading the page, it should look like:

![image](https://cloud.githubusercontent.com/assets/430126/18038355/07760cf2-6d65-11e6-94c2-3abc867fa5ee.png)

Not like:

![image](https://box.everhelper.me/attachment/560184/eb68aeb9-7366-4cd9-9ed9-edae1a1b5a5a/623857-pncKvYk6VJR0K7Hu/screen.png)

[2016-08-29 01:24] pdpinch opened #932 "Instructor search: Add city (3rd level) to location facet"
Users can currently drill down to the 2nd level of the current location facet, from country to region (aka state). This issue is to add the 3rd level, city.

[2016-08-29 01:33] pdpinch opened #933 "Search: Courses facet"
![image](https://cloud.githubusercontent.com/assets/20047260/20535693/dfc1c45c-b0b3-11e6-864d-decd45cfe97e.png)

Clicking on a course filters by that course, and shows all users who are currently taking the course, or who have taken the course in the past.

## Acceptance Criteria:

- [ ] Add courses to elastic search index
- [ ] The courses facet is the first facet
- [ ] This will be an "and" face

[2016-08-29 01:49] pdpinch opened #934 "Instructor search: Update styling to match design"
Should look like:

![learner_search 2x](https://cloud.githubusercontent.com/assets/430126/18038529/4af8302a-6d67-11e6-8272-a4c77c6ba1d9.jpg)

Not:

![image](https://box.everhelper.me/attachment/560187/eb68aeb9-7366-4cd9-9ed9-edae1a1b5a5a/623857-zbunyYQDz9pf6RiV/screen.png)

# Acceptance Criteria

- [x] Remove tabs
- [x] Remove "New Group" button
- [ ] Change "Email Selected" button label to "Email

[2016-08-29 01:58] pdpinch opened #935 "Learners search for learners"
As a learner, I would like to find out more about other learners in my program and contact them individually.

The learner will discover this feature via the "learners near me" widget in the learner dashboard. The learner can explore further via the learner search for learners features -- which is similar to the instructor search except that it doesn't include grades or grade facets, nor the abili

[2016-08-29 02:03] pdpinch opened #936 "Settings: Update styling"
Update setting styling to match current design:

Should be like:

![settings 2x](https://cloud.githubusercontent.com/assets/430126/18038838/9f579252-6d6a-11e6-9a86-88eb4376e369.png)

Not like:

![image](https://box.everhelper.me/attachment/560189/eb68aeb9-7366-4cd9-9ed9-edae1a1b5a5a/623857-xfgS7W1qDcLXnOpd/screen.png)

# Acceptance criteria:

- [x] remove tab navigation
- [x] remove avatar header

[2016-08-29 12:13] giocalitri commented on #796
We need to update the dashboard rest API to take in input the id of the program and return data about only that one.

This means that we need to somehow pass the list of the programs to the UI. This is important also to build the dropdown menu itself. Probably it makes sense to build a new REST API specific to this purpose.

If there are other parts that need to be modified, I will add another com

[2016-08-29 12:27] pdpinch commented on #796
Ok. I updated the description.

[2016-08-29 12:34] pdpinch commented on #333
Closing this for now. If we want to revisit it in the future, we can open a new issue.

[2016-08-29 12:34] #333 closed

[2016-08-29 12:35] pdpinch commented on #442
Closing this for now. If we want to revisit it in the future, we can open a new issue.

[2016-08-29 12:35] #442 closed

[2016-08-29 14:30] pdpinch commented on #796
Updated screenshots

[2016-08-29 14:40] Ferdi opened #937 "Personalized Pricing: add section to dashboard, when required by programs"
Not all programs offer personalized pricing. This text box should only be displayed for those that do.

![image](https://cloud.githubusercontent.com/assets/430126/18365843/450e71dc-75e2-11e6-8b6d-00a8ccc4363a.png)

# Acceptance Criteria:

- [x] Display the cost calculator box when the program offers personalized pricing

# Related Issues:

- #998 Course price calculator

[2016-08-29 14:41] Ferdi opened #938 "Dashboard: Display course prices"
![image](https://cloud.githubusercontent.com/assets/430126/18055660/bf1754d0-6dd6-11e6-9e2b-a28d1f3b66ad.png)

# Acceptance Criteria

- [x] Update the API to return course price
- [x] Display the price for each course in the dashboard

This does not include the (?) tooltip.

# Related Issues:

- Financial Aid

[2016-08-29 14:41] Ferdi opened #939 "Dashboard: Display multiple runs of the same course"
This is a lower priority issue because it may be some time before we have multiple runs of courses available in the MicroMasters programs.

The relevant cases are (see [Google Doc](https://docs.google.com/document/d/1C8JwVxLW0YZBAFwUR06754uz-uyCCEbnvt2TIMJtKk0/) for screenshots):

### Missed Deadline to Pay

![image](https://cloud.githubusercontent.com/assets/430126/18767163/9d737458-80eb-11e6-9f1

[2016-08-29 14:42] Ferdi opened #940 "Dashboard: Add tooltip with personal pricing info"
Depends on #937

<img width="485" alt="screen shot 2016-09-09 at 9 42 43 am" src="https://cloud.githubusercontent.com/assets/430126/18389011/d6ad5146-7671-11e6-96d2-2161d85dbe63.png">

# Acceptance Criteria

- [ ] tool tip icon is only displayed for courses that offer personalized pricing
- [ ] Need to get text from DEDP program

[2016-08-29 14:44] Ferdi opened #941 "Dashboard: Update progress widget to work with program context"
The number of completed courses and the total number of courses in the progress widget should update when the user switches program contexts.

Depends on #796

<img width="241" alt="screen shot 2016-08-22 at 3 28 27 pm" src="https://cloud.githubusercontent.com/assets/430126/17868570/57cc9046-687d-11e6-9cd6-87d2874649ff.png">

# related issue

- Update circle

[2016-08-29 14:50] Ferdi opened #943 "Learners should be able to e-mail other learners"
Send single e-mail, to one user, from the current user.

![image](https://cloud.githubusercontent.com/assets/430126/18056404/b7c814be-6dd9-11e6-8545-eb94e963ac5e.png)

![image](https://cloud.githubusercontent.com/assets/430126/18038756/f4d49898-6d69-11e6-8635-3ced0e9b4301.png)
# Acceptance Criteria:
- [ ] Button on user chip to send message
- [ ] modal for composing e-mail
- [ ] connect to mail AP

[2016-08-29 14:52] Ferdi opened #944 "CMS: update program thumbnails, description and link"
Program teams need to be able to update the program thumbnail (within design guidelines), program description, and the program page link on the MicroMasters home page.

![image](https://cloud.githubusercontent.com/assets/430126/18387240/7c51f7a4-7669-11e6-89cd-66129a412141.png)

# Acceptance criteria

- [ ] CMS editors can change this data via the CMS, although it's [stored in the courses model cu

[2016-08-29 15:04] #888 closed

[2016-08-29 15:15] Ferdi opened #946 "Roadmap"
Tentative roadmap with rough estimates.
### October 7, 2016
#1113 : Sign in / up workflow
#1111 : MM home page: Improvements
#1112 : MM program pages: Improvements
#1116 : Financial Aid: Backend/APIs
#1115 : Financial aid workflow : UI
# ....     : Financial Review page
#1114 : Dashboard: Course statuses
#1220 : Production Ready
### October 14, 2016
## Dashboard
- [ ] #600 : Dashboard: Learner nea

[2016-08-29 15:16] giocalitri commented on #796
If this story includes also the enrollment in the program (it seems so from the latest screenshots), then, in addition to what I wrote before, we need also to:

1. create a rest API to enroll the user in a program (the program enrollment model already exists).
2. create something (a view?) where we can send via parameter and preselect the program where to enroll and just enroll the user (use case

[2016-08-29 15:19] giocalitri commented on #796
I think I need clarification about

from the description

[2016-08-29 15:19] aliceriot commented on #715
@noisecapella what do you think about tackling this soon? I think it would be good to enforce that flow should be passing on any JS changes.

[2016-08-29 15:20] #908 closed

[2016-08-29 15:24] noisecapella commented on #715
It has a :+1: from me

[2016-08-29 15:33] pdpinch commented on #715
Can one of you make the case to me? What's the end-user impact?

[2016-08-29 15:35] noisecapella commented on #715
Less likelihood of JS bugs. It's a dev tool so there's no immediate end-user impact. We already have flow annotations in most places, this issue is just adding it to the list of things Travis checks for.

[2016-08-29 15:42] pdpinch commented on #796
@roberthouse54 that was an older UX that we've scrapped. The drop-down will always be present.

[2016-08-29 15:43] pdpinch commented on #796
I updated the description to include Giovanni's items from https://github.com/mitodl/micromasters/issues/796#issuecomment-243155135 except his no. 2 is part of issue, #917

[2016-08-29 15:48] #909 closed

[2016-08-29 15:48] #910 closed

[2016-08-29 16:05] #839 closed

[2016-08-29 16:49] pdpinch commented on #944
We will drop the blurb for now and stick to using the total of courses.

[2016-08-29 17:04] pdpinch commented on #917
use material-design-lite or react, whichever is faster

[2016-08-29 17:26] #671 closed

[2016-08-29 18:10] aliceriot commented on #917
@pdpinch I'm going to break the ToS page into a separate story and do that first.

[2016-08-29 18:10] aliceriot opened #948 "add new separate ToS page"
part of #917

[2016-08-29 18:18] aliceriot commented on #917
@pdpinch should the new terms of service page be done in React or just using a django template? what url should it live at? I think before we used `/terms_of_service` or something.

[2016-08-29 18:24] pdpinch commented on #917
The user isn't logged in at this point, so my assumption was that it would just be a django template, but whatever is fastest is OK.

I agree, I think it was at /terms_of service

[2016-08-29 18:25] aliceriot commented on #917
yep, just looked here: f1f4922d5e18fbfec894fd17477d38c40c1c5601 and that's correct.

[2016-08-30 13:48] gsidebo opened #949 "Move search result email functionality to a celery task"
PR #916 created an API endpoint to send mail to all users that match a search query. Pulling the email addresses for all of these users involves looping through pages of ES results. This could become a performance issue with very large data sets. We can move this process of paging through results and sending the email to a celery task to make it async

[2016-08-30 14:12] noisecapella opened #950 "Use Django DB for celerybeat"
For example: http://stackoverflow.com/questions/20116573/in-celery-3-1-making-django-periodic-task#answer-20119905

[2016-08-30 14:28] Ferdi commented on #944
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;xDyB1JyO&#x2F;1-test"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> test</a>

[2016-08-30 14:28] Ferdi commented on #944
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;xDyB1JyO&#x2F;1-test"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> test</a>

[2016-08-30 14:28] Ferdi commented on #944
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;xDyB1JyO&#x2F;1-test"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> test</a>

[2016-08-30 14:40] gsidebo commented on #920
thanks for getting this going! just want to clarify that i'm not against a directory or file named 'util' as long as it contains utility functions 😄 . take static/js/util/util.js for example. `asPercent`, `callFunctionArray`, and `filterPositiveInt` are great examples of utility functions. they do something general and useful, and they couldn't be considered 'business logic' that should be in some

[2016-08-30 14:43] gsidebo commented on #920
i also think there could be good reasons to have a `util` file or directory inside an existing directory. take the `actionCreatorGenerator` function you wrote recently for the email front-end. to me, it makes perfect sense to put that in static/js/actions/util.js

[2016-08-30 14:50] aliceriot commented on #920
Hm that's an interesting idea. I think that function is really a utility function, whereas stuff like the validation code is really more of a library, it has functionality on it's own and we're using it in a couple places in the app.

So yeah, that makes sense to me. Maybe the deciding factor for utility functions should be that a function belongs in a specific `util` file if it won't be imported

[2016-08-30 16:14] blarghmatey commented on #782
The elasticsearch cluster will be configured to require an API key passed in an `X-Api-Key` header in order to access the indices. This header will only need to be set in pre-prod and production environments. Per @giocalitri there should be a constructor method for retrieving the client instance for any code that is interfacing with Elasticsearch.

As specified [here](https://elasticsearch-dsl.rea

[2016-08-30 17:00] pdpinch commented on #737
@noisecapella I updated the description. Let me know if you have any questions.

[2016-08-30 17:07] pdpinch commented on #394
Rolled into #179

[2016-08-30 17:07] #394 closed

[2016-08-30 17:25] #948 closed

[2016-08-30 18:51] pdpinch commented on #923
I updated the description with the current design. FYI @roberthouse54

[2016-08-30 19:00] noisecapella commented on #847
Things that will be handled in this issue:
 - `filled_out` and `agreed_to_terms_of_service` cannot be set to false after being set to true
 - `agreed_to_terms_of_service` must be true before `filled_out` can be set to true
 - When `filled_out` is or already was set, every field must not be set to a blank or null value, except for `end_date` on employment

Things not handled:
 - verification of lis

[2016-08-31 13:45] Ferdi commented on #923
Why are we limiting to 3 ?

[2016-08-31 13:47] pdpinch commented on #923
We're not limited to 3. It's just 3 per row. I updated the description yesterday, but if it's not clear feel free to change it.

[2016-08-31 13:49] Ferdi commented on #923
How it will look like if you have 4 ?   - I liked the carusel better.

[2016-08-31 14:22] pdpinch commented on #923
@roberthouse54

[2016-08-31 15:25] aliceriot opened #954 "add link to home page to terms of service page"
should have been done for #951

[2016-08-31 15:32] Ferdi commented on #954
Thanks @aliceriot .  And what's the reason we are not showing the user dropdown menu, if the user is logged in ?

[2016-08-31 15:33] aliceriot commented on #954
The user dropdown menu is written in React, we could show it as well but I think it would be a separate story.

[2016-08-31 15:33] aliceriot commented on #954
(we'd need to do a little hacking basically)

[2016-08-31 15:41] pdpinch commented on #954
This new TOS work is part of the Sign Up story (#917) so in the most common case, users won't be logged in when they view this.

[2016-08-31 15:46] Ferdi commented on #954
@pdpinch we will probably have a link to tos somewhere in the front page too.

[2016-08-31 15:53] roberthouse54 commented on #923
OK, we can switch it back to the carousel, but I think it is going to be tricky to get it right.

[2016-08-31 16:16] noisecapella commented on #898
Closing since I decided not to write tests for the management commands... this issue only came up on my local machine and has gone away AFAIK

[2016-08-31 16:16] #898 closed

[2016-08-31 17:40] #954 closed

[2016-08-31 17:58] aliceriot commented on #917
@pdpinch do we have an asset for the edx logo?

[2016-08-31 18:02] aliceriot commented on #917
also for the MIT logo

[2016-08-31 18:31] aliceriot commented on #917
another question: in the dropdown on the homepage, what programs should I provide options for right now? Just SCM and Economics?

[2016-08-31 18:44] pdpinch commented on #917
Re: https://github.com/mitodl/micromasters/issues/917#issuecomment-243857442 -- the current live programs should be available from the CMS in the template. Can you use those instead of hard-coding?

Re: https://github.com/mitodl/micromasters/issues/917#issuecomment-243848679 -- MIT Logos are available from http://mit.edu/graphicidentity/download-logos.html ([zip file](https://web.mit.edu/graphicid

[2016-08-31 18:48] aliceriot commented on #917
are you able to download that zip file from MIT? I get an 'insecure connection' error in chrome :(

[2016-08-31 18:56] roberthouse54 commented on #917
Here are the images
![edx_logo](https://cloud.githubusercontent.com/assets/20047260/18142344/1f521ff0-6f8b-11e6-8b4d-8ae8b97c5f39.png)
![mit_logo](https://cloud.githubusercontent.com/assets/20047260/18142343/1f51396e-6f8b-11e6-972e-fab41a645fe7.png)

[2016-08-31 18:56] aliceriot commented on #917
:100:

[2016-08-31 19:30] #718 closed

[2016-08-31 20:11] gsidebo opened #958 "Report on email sending errors"
Right now we do basic validation for the composition of an email, but we don't do anything to notify a user that an email has succeeded or failed to be sent. We should look into some appropriate UI effects to notify the user about these events, and we should see how possible it is to listen for these events in our code

[2016-09-01 08:38] gilesbradshaw commented on #665
"are located inside of <Dialog> components,"  and Popovers..

[2016-09-01 14:45] pdpinch commented on #737
I updated the description to reflect that we will use country names instead of the adjectival version of the country. We think this will be easier for users to find their country.

We should be sure the list of countries include the following (except "other"):

<img width="161" alt="screen shot 2016-09-01 at 10 40 05 am" src="https://cloud.githubusercontent.com/assets/430126/18171761/14cce000-7031

[2016-09-01 16:13] noisecapella commented on #950
I took a stab at this but I'm having issues getting the periodic tasks to execute. I'm leaving this alone for the time being

[2016-09-01 17:37] #721 closed

[2016-09-01 17:58] pdpinch commented on #925
I updated the description with a screenshot of all course states. It seems likely this is more than 2 points now.

[2016-09-01 18:21] #889 closed

[2016-09-01 18:24] aliceriot commented on #917
ok, so this is a technical question, and I think I'm just having trouble figuring out what's going on in the django / edX end of things.

How should I preserve the user's selection from the home page? If they pick e.g. SCM that value should be set, I think, automatically as soon as we get the redirect from edX, once they've signed in.

Is there a way I can get arbitrary url parameters that edX wil

[2016-09-01 18:30] aliceriot commented on #917
this is what the dialog looks like rn:

![signup](https://cloud.githubusercontent.com/assets/6207644/18179491/9b20bb80-7050-11e6-8b5c-7d00daf04c9f.png)

[2016-09-01 18:50] noisecapella commented on #917
I feel like there's some way to tell django-social-auth to include extra args at runtime, and then have edX send it back to us in the query argument when they redirect back to us. If that doesn't work, we should just store the information in localStorage IMO

[2016-09-01 18:51] noisecapella commented on #917
Maybe it would be easiest just to do localStorage right now, then we can investigate using query arguments at some point later if we have time

[2016-09-01 18:52] aliceriot commented on #917
Ok, I'm more asking how to accomplish that with django-social-auth, haha.

for `localStorage`, do you mean just stick the program into `localStorage`, and then check in there when we `PATCH` the profile later?

[2016-09-01 18:53] pdpinch commented on #917
I suspect localStorage will be simpler, since we don't have to muck with OAuth configuration. Are there any downsides to localStorage?

[2016-09-01 18:54] aliceriot commented on #917
well strictly speaking it doesn't accomplish this: "Set "agreed to TOS" field to true when the user returns from logging in to edX"

[2016-09-01 18:54] aliceriot commented on #917
or wait nvm not that one :p

[2016-09-01 18:55] aliceriot commented on #917
I meant that we wouldn't set the program until the user updates their profile, unless we wanted to check for the value in `localStorage` when the JS app boots and, if it's there, `PATCH` the profile right away.

[2016-09-01 18:56] noisecapella commented on #917
Basically what @aliceriot said. Also we need to be careful about the state of data in localStorage, since the user can't just fix problems by refreshing their browser. And they would need to do the checkout flow in a single browser, which doesn't seem too much to ask

[2016-09-01 19:02] pdpinch commented on #917
Looking around a bit, it appears that there is a parameter in OAuth called state that is (sort of) designed for this purpose. You pass it and the OAuth identity provider returns it unmodified. I'm trying to find some authoritative docs.

[2016-09-01 19:06] noisecapella commented on #917
Yeah, I looked at `EdxOrgOAuth2` and there's a `REDIRECT_STATE = False`. It looks like there's a method we can override `auth_extra_arguments` to send the data

[2016-09-01 19:08] noisecapella commented on #917
Actually if we turn on `REDIRECT_STATE` and set the relevant `..._AUTH_EXTRA_ARGUMENTS` setting I think we can pass the arguments to the login URL as GET params: http://django-social-auth.readthedocs.io/en/latest/configuration.html#extra-arguments-on-auth-processes

[2016-09-01 19:11] aliceriot commented on #917
ok i'll give that a go then

[2016-09-01 19:12] pdpinch commented on #917
I'm not sure how that can work, but it seems worth trying...

[2016-09-01 19:14] aliceriot commented on #917
I have the `localStorage` approach mostly working, fwiw

[2016-09-01 20:02] noisecapella opened #963 "Remove CyberSource"
We should remove the CyberSource-related code, leaving the ecommerce parts which we still need for ecommerce

[2016-09-01 20:34] #737 closed

[2016-09-01 20:34] #775 closed

[2016-09-02 13:07] pdpinch commented on #903
@roberthouse54 has suggested instructors default to the learner profile search, i.e. `/learners`

[2016-09-02 13:15] pdpinch opened #965 "Home: mailchimp signup needs to use https"
It works on the current marketing site, because that's only on http

[code]

The code in question is here: https://github.com/mitodl/micromasters/blob/536a36729e633979bccc1f3d30c23298213de4c4/static/js/public.js#L71

[2016-09-02 13:16] pdpinch commented on #965
I was also thrown off by the `facebook` in the URL. I'll have to check with marketing (@mariaODL) to see if we're hitting the right endpoint at mailchimp.

[2016-09-02 13:28] Ferdi commented on #903
cool

[2016-09-02 13:54] #847 closed

[2016-09-02 14:04] Ferdi commented on #963
@noisecapella we definitely want to get back to accepting payment , when edx enrollment API allows us to enroll users as verified-id.  Knowing that , does it make sense to remove the code or somehow disable this feature.

[2016-09-02 14:17] noisecapella commented on #963
I think we should remove it. We still have it in git, we can add it back later when we have an immediate use of it.

[2016-09-02 14:40] Ferdi commented on #963
sounds good.

[2016-09-02 14:41] noisecapella opened #966 "Add program enrollment API functions, redux actions"
Part of #796

[2016-09-02 16:06] gsidebo opened #967 "Update realistic user generation to create program enrollments"
Realistic user generation no longer creates program enrollments now that we're creating program enrollments directly instead of via signals (PR #964)

[2016-09-02 17:24] noisecapella opened #969 "Add UI for adding and choosing program enrollments"
Part of #796

[2016-09-02 17:58] #966 closed

[2016-09-02 19:15] noisecapella opened #971 "Profile validation shouldn't check edx_level_of_education"
This field may be null when passed from edX. I'm going to fix this by making it readonly

[2016-09-02 19:23] #912 closed

[2016-09-02 20:15] pdpinch opened #973 "Mailing a filtered set of users actually mails all users in a program"
Steps to Reproduce:

1. Run MicroMasters with a set of fake users and set `MAILGUN_RECIPIENT_OVERRIDE` to a convenient e-mail address (i.e. not mit.edu)
2. Log in to MicroMasters as an instructor, navigate to the learner search and apply a filter.
3. Click on Email Selected. Note the number of recipients displayed in the modal.
4. Send a message and look at the results.

Expected Result:

In the e

[2016-09-02 20:19] pdpinch commented on #973
While I typing this up, @gsidebo confirmed that the issue is due to a mismatch between the javascript and and the api. [3:43 PM] The javascript [sends `searchRequest`](https://github.com/mitodl/micromasters/blob/7f611374cba80d515a7fbc65ebf61f8757817d25/static/js/util/api.js#L140) and the api is looking for [`search_request`](https://github.com/mitodl/micromasters/blob/d10614f8afa9e2774f92424c7f7da

[2016-09-02 20:46] #973 closed

[2016-09-02 20:50] #971 closed

[2016-09-03 00:25] #938 closed

[2016-09-06 12:13] pdpinch commented on #925
Amir is going to start to work on the following issues:

- [ ] Remove histogram widget
- [ ] Remove tab navigation
- [ ] Fix Firefox CSS issue (#780)

[2016-09-06 13:40] noisecapella opened #977 "Some Python tests aren't getting run"
It looks like at least `courses/views_test.py` aren't getting run except for the linting tests. When you run the tests for that specific file the tests run and result in test failures

[2016-09-06 15:04] #977 closed

[2016-09-06 15:18] pdpinch opened #980 "Production error monitoring"
Given the complexity of the sign-on flow, we should have some monitoring in production to detect and log repeated API errors -- whether they come from one of the MIcroMasters APIs or edX.

[2016-09-06 15:33] gsidebo opened #981 "Search Learner: E-mail should be sent to each individual learner in the search result"
Currently (see #694)  we have e-mails
from:noreply@micromasters.mit.edu
to:noreply@micromasters.mit.edu
bcc:[all users in the search result set]

it should be

from:noreply@micromasters.mit.edu
to:[THE user email address]

Note: Consider batch sending - Docs at: https://documentation.mailgun.com/user_manual.html#batch-sending

[2016-09-06 15:35] gsidebo commented on #694
just added #981 to change the invocation of the mailgun api for learner search result emails

[2016-09-06 16:02] roberthouse54 commented on #934
I have made some of the css style tweaks to this page, but there are other changes that require more substantial coding. Adding to the list of requirements above:

- [ ] Change the Pagination to arrows instead of "Next\Previous"
- [ ] Add "Sort by:" to the sort filter only on the current selection.
- [ ] The "Clear Filters" link should be hidden when no filters are selected, and the entire line th

[2016-09-06 16:05] #928 closed

[2016-09-06 16:06] gsidebo commented on #929
@pdpinch description says 'defaults cards to “No”', screenshot indicates that cards should default to have no value selected at all

[2016-09-06 16:12] pdpinch commented on #600
I updated the screenshot and added acceptance criteria.

[2016-09-06 16:20] roberthouse54 commented on #929
@gsidebo You are correct. It should be defaults to nothing selected.

[2016-09-06 16:22] roberthouse54 commented on #600
A note: Please ignore the green dots in the mock. They were meant to indicate "online now" for a chat type feature, which we obviously do not have.

[2016-09-06 17:56] aliceriot opened #983 "JSON formatting error in realistic_user_data.json"
![search_data](https://cloud.githubusercontent.com/assets/6207644/18284872/bc5cad58-7439-11e6-920b-1e98924022ac.png)

[2016-09-06 18:45] gsidebo opened #985 "(Bug) Graduation date year field in education form is slow"
On the Education page of the signup flow, editing the "Graduation Date" year field is very slow. The response to input is significantly slower than other text inputs. Possibly significant: each character entered appears to trigger an UPDATE_PROFILE action

![year_field_slowness](https://cloud.githubusercontent.com/assets/14932219/18286313/27eda9f4-7440-11e6-9828-c54d73a259e3.gif)

[2016-09-06 19:20] pdpinch opened #986 "Search: location facets should allow multiple selections"
Users should be able to perform an "OR" search by selecting multiple locations from the "Current Residence" and "Country of Birth" facets.

for a functionality example, see the "country" facet at http://demo.searchkit.co/

# Acceptance Criteria

- [ ] User should be able to select more than one value for each of these facets above.
- [ ] checking a facet updates the search results (in the right pa

[2016-09-06 19:27] noisecapella commented on #985
`UPDATE_PROFILE` is triggered every time a textfield is edited, it shouldn't be that slow though. Does the School Name field have the same behavior?

[2016-09-06 20:04] roberthouse54 commented on #939
See: https://invis.io/6N8H0EBFG

[2016-09-06 20:07] #983 closed

[2016-09-06 20:11] pdpinch commented on #928
I noticed a couple of styling issues that weren't quite the same as the spec in invision, but @roberthouse54 says he'll take care of the ones that matter.

[2016-09-06 21:42] gsidebo commented on #985
nope. the year field is the only one in the modal that seems to have this problem. it may also exist in the Employment form (i just haven't tested it) and the month field (but it wouldn't be so noticeable since it's just 1 or 2 characters)

[2016-09-07 10:12] amir-qayyum-khan commented on #925
sure

[2016-09-07 15:09] noisecapella opened #987 "Error handling for connectivity failures"
I think at the moment we don't provide any `errorInfo` data if there is a connectivity failure, only for non-200 status codes

[2016-09-07 15:14] Ferdi opened #988 "Personalized Pricing: Course price calculator"
Learners submit minimal information to find out their personal course price. Low income learners in developing countries and high income learners in developed countries will get an immediate answer and can pay for courses right away. Learners who don't get an immediate response will be asked to upload documentation that will be reviewed by MIT.

When the review process is complete (either automate

[2016-09-07 15:14] Ferdi opened #989 "Personalized Pricing: Learner uploads supporting documents"
When the personalized price calculator determines that further documentation of income is required, we will ask learners to upload documents for review.

After uploading documents learners will be able to confirm the documents were uploaded and potentially upload more.

Form to upload files:

![image](https://cloud.githubusercontent.com/assets/430126/18394191/ae6db9fe-7686-11e6-8e0c-7378aac47b11.p

[2016-09-07 15:15] Ferdi opened #990 "Personalized Pricing: staff interface for reviewing learners submitted docs"
![financial_aid_8 2x](https://cloud.githubusercontent.com/assets/430126/18360874/cb3814da-75cd-11e6-8684-05e1a9af2d47.jpg)

# Acceptance Criteria

- [ ] limit access to staff in the appropriate program
  - [ ] User authenticated via OAuth with edX, same as learners
  - [ ] authorization managed through roles, same as for learner search
- [ ] display row per user
- [ ] filter based on submission st

[2016-09-07 15:15] Ferdi opened #991 "Personalized Pricing: Payment / Coupons management"
After a learner has received his financial aid results (either an immediate, automatic reply, or an approval for a reduced price), they need to be directed to a coupon link they can use to complete the purchase at edx.org.

We will get coupons in advance from edX for the courses in question, for a fixed set of discounts.

# Acceptance criteria

- [ ] A way to upload coupon codes (could be API POST

[2016-09-07 15:19] pdpinch commented on #987
Can you give an example? There's a connectivity failure that returns 200?

[2016-09-07 15:26] noisecapella commented on #987
A connectivity error wouldn't return any status code but it would cause an error in our JS client. I'm not sure we handle that correctly, at least we should have a test for it

[2016-09-07 15:36] pdpinch commented on #838
This is now moot because the tab is being removed.

[2016-09-07 15:36] #838 closed

[2016-09-07 15:43] pdpinch commented on #210
We have a new default image, and this is part of the avatar flow in #179

[2016-09-07 15:43] #210 closed

[2016-09-07 15:44] pdpinch commented on #530
I'm pretty sure this is no longer an option.

[2016-09-07 15:44] #530 closed

[2016-09-07 15:44] #927 closed

[2016-09-07 15:52] pdpinch commented on #834
Were these replaced by the dashboard API?

@noisecapella are we not using /api/v0/programs/ for the program context switching?

[2016-09-07 15:55] pdpinch commented on #876
Learners won't have a way to access this view. Eventually this will be replaced by the learners search for learners ui, #935

[2016-09-07 15:55] #876 closed

[2016-09-07 16:06] noisecapella commented on #927
Forgot to respond to this, yes for mailgun and cybersource, though I want to get rid of the cybersource code anyway: #963. I don't think it's mandatory to specify them in `app.json` but it may help prevent errors by marking certain ones as being required or providing default values

[2016-09-07 16:07] noisecapella commented on #834
That's correct, I'm using the dashboard API for that

[2016-09-07 16:19] gsidebo commented on #929
@pdpinch @roberthouse54 i just talked to alice. before this story, we have calculated the 'degree inclusions' for a user based on their edx level of education. example: if i indicated that i had a master's degree in edx, we would set the radio selection to 'yes' for every degree type up to and including master's. i know that the issue says that we should 'ignore pre-existing edX data', but i want

[2016-09-07 16:34] pdpinch commented on #929
We decided it wasn't clear to the user why we were pre-setting some fields, and that it was best to ignore the edX data.

Also, people's educational history isn't necessarily linear in the way we were assuming.

[2016-09-07 16:44] amir-qayyum-khan commented on #795
Fixed via https://github.com/mitodl/micromasters/issues/864

[2016-09-07 17:33] #795 closed

[2016-09-07 17:38] amir-qayyum-khan commented on #179
Update gravatar with latest image Rob provided me. So that profile image URL(s) get update in api ``/api/v0/profiles/staff/``

![avatar_default](https://cloud.githubusercontent.com/assets/10431250/18322315/85b71d34-754b-11e6-8245-ccf696b7e459.png)

cc @roberthouse54 @pdpinch

[2016-09-07 17:49] pdpinch commented on #991
Updated the description with acceptance criteria. Still needs screenshots?

[2016-09-07 18:45] gsidebo commented on #929
@pdpinch @roberthouse54 another question: the 'No' option for these 'Do you have' questions seems to be meaningless. A blank answer is effectively the same thing, and we don't have any use for the 'No' answer in particular. Given that, do we want to keep track of a user selecting 'No' for these questions? ie: a user selects 'No' on Master's degree, navigates backward/forward, then returns to the p

[2016-09-07 19:12] roberthouse54 commented on #929
I think I disagree that no answer and no mean the same thing. We are not requiring any answer, but if they answer "No" then we have learned more about the user. If they do not answer, then we do not know whether they have a particular degree or not. Admittedly we have to real "use" for a no answer, but then again, we are not really using the yes answer either. Presumably it will just be data used

[2016-09-07 19:38] gsidebo commented on #929
what i meant by them meaning the same thing is that we don't do anything with that 'No' answer in the data. both in terms of UI and our own data, a null answer is identical to a 'No' answer. that _is_ user input and i'm sure there are scenarios where it would be interesting to us, but we don't have any plans to keep track of it right now

[2016-09-08 16:54] pdpinch commented on #929
@gsidebo @roberthouse54 Sorry I missed this. Yes, we want to capture the "No" state. Does that mean changes to the profile API and the model?

[2016-09-08 20:31] #758 closed

[2016-09-08 20:32] pdpinch opened #996 "Search: Completed courses facet"
![completed_courses_facet](https://cloud.githubusercontent.com/assets/20047260/17307766/be8eebf0-5804-11e6-9ec7-b0e0783053c8.png)
# Acceptance Criteria:
- [ ] This is an "OR" facet, as implied by the checkboxes
- [ ] It is a hierarchy of courses and course runs
- [ ] "Completed" is any course that has an end date in the past

[2016-09-08 20:46] #844 closed

[2016-09-08 20:47] #800 closed

[2016-09-08 20:51] gsidebo commented on #930
@roberthouse54 @pdpinch: the education tab changes ( #929 ) specify this: "defaults cards to nothing selected". this one says the default should be "No". are we OK with that difference?

[2016-09-09 12:22] noisecapella opened #998 "Add CSS linter"
This looks promising: https://github.com/sasstools/sass-lint
Adding a CSS linter to the build will save us the effort of commenting on indentation or other stylistic problems with our CSS files.

[2016-09-09 12:48] pdpinch commented on #944
Update the screenshot and the description to remove references to the blurb, which is no longer CMS-modifiable.

[2016-09-09 13:39] pdpinch commented on #730
Closing this because it's already included in #919

[2016-09-09 13:39] #730 closed

[2016-09-09 13:40] pdpinch commented on #851
Closing this text change because it's already part of #934.

[2016-09-09 13:40] #851 closed

[2016-09-09 13:59] #929 closed

[2016-09-09 15:14] #969 closed

[2016-09-09 15:23] noisecapella commented on #796
Per conversation with @roberthouse54 the snackbar will show up for 3 seconds and then go away. There won't be an `x` to click

[2016-09-09 15:36] aliceriot commented on #998
:+1:

[2016-09-09 15:36] aliceriot commented on #998
I've used sass-lint a little bit, it's pretty good.l

[2016-09-09 16:38] pdpinch commented on #854
Closing, because this is part of #934

[2016-09-09 16:48] noisecapella opened #1002 "react-select dropdown click interferes with material-ui dialog tap handler"
See https://github.com/JedWatson/react-select/issues/532
Spun off from #1000

[2016-09-09 16:49] noisecapella opened #1003 "Add program page URLs to Program API"
Required to support program page links in the enrollment dialog

[2016-09-09 18:30] #782 closed

[2016-09-09 19:12] aliceriot commented on #985
I wonder if this is because of the validation code? That's definitely pretty different between the date and non-date fields.

[2016-09-09 19:43] #998 closed

[2016-09-09 21:14] gsidebo opened #1006 "(Bug) Labels shift during text input (Chrome)"
![text_field_label_shift](https://cloud.githubusercontent.com/assets/14932219/18403075/be804206-76b0-11e6-914f-fe7a88f903ff.gif)

A bit hard to see in this gif, but as text is entered into the City field, the labels above all the inputs in the row shift up and down

[2016-09-09 21:23] gsidebo opened #1007 "Refactor education & work history front-end code"
Two main issues:

1. Education and work history inputs share a ton of behavior as well as look and feel, but they've been developed in parallel with significant copying/pasting, but very different implementation patterns (some of this is remedied in PR #1005). We should abstract the common behavior and design to a common component, and refactor some of the unit tests
1. EducationForm.js and Educat

[2016-09-11 18:14] #854 closed

[2016-09-11 18:14] #773 closed

[2016-09-12 00:14] graingert opened #1008 "GPL License violation"
Currently you use wowjs it's under the GPL. I maintain a fork (wow.js) see https://wowjs.uk

This version is completely UMD compatible and doesn't need any hacks.

You could also use AOS instead

[2016-09-12 00:23] pdpinch commented on #1008
Thanks for the tip, but I don't think this repo uses wow.js. Were you looking at the current website at http://micromasters.mit.edu/ ? It looks like it does use wow.js.

[2016-09-12 00:25] graingert commented on #1008
https://github.com/mitodl/micromasters/blob/master/package.json#L84 I'm looking at master

[2016-09-12 00:26] pdpinch commented on #1008
Ah, github search... how useless can you be?

[2016-09-12 00:27] graingert commented on #1008
Oh sorry, I didn't use github search :( is there wow.js used instead elsewhere?

[2016-09-12 01:17] pdpinch commented on #1008
No, not at all. My comment was about the uselessness of github's search tool.

Again, thanks for the tip. We'll take a look into switching the library.

[2016-09-12 01:21] graingert commented on #1008
Ah, I misunderstood

[2016-09-12 13:54] noisecapella commented on #1008
@pdpinch AFAIK wow.js just came with the home page and program page code from the designer. I'm not sure we actually use it at all, and we'll be getting rid of it soon in any case with the new redesign

[2016-09-12 13:55] graingert commented on #1008
probably worth just nixing it completely from the homepage

[2016-09-12 13:58] noisecapella commented on #1008
I think so. Thanks for bringing this to our attention!

[2016-09-12 13:59] graingert commented on #1008
@noisecapella you guys probably want to use something like https://github.com/davglass/license-checker to check for MIT incompatible licenses

[2016-09-12 14:26] noisecapella commented on #1003
#796 shows a link to the program page when you enroll in a new program. In order to support that we need the program page URLs exposed in a REST API

[2016-09-12 14:29] noisecapella opened #1009 "Issues with dashboard page"
From @pdpinch, made in a comment on #993:

I see a couple of issues with this screenshot:

- [x] The text "You need to upgrade..." is supposed to only appear when the user clicks on the question mark. But more importantly, we should check with @roberthouse54 to see if this is needed at all, when the program doesn't offer financial aid.
- [x] If we do want the (?) icon, it's the wrong color, and it

[2016-09-12 16:04] #780 closed

[2016-09-12 17:07] pdpinch commented on #937
Need to add boolean to program indicating whether the program offers personalized pricing.

Since this is the only program, we can hard code the minimum price.

[2016-09-12 17:21] pdpinch commented on #988
We can store the income thresholds in a look up table so it's possible to update them if/when necessary.

[2016-09-12 17:25] pdpinch commented on #988
fixer.io REST API for currency conversions

[2016-09-12 17:25] aliceriot commented on #988
https://openexchangerates.github.io/money.js/

[2016-09-12 17:27] aliceriot commented on #988
this too: https://openexchangerates.github.io/accounting.js/

[2016-09-12 17:39] pdpinch commented on #989
Use django-storages

[2016-09-12 18:08] pdpinch commented on #991
We will need to plan ahead for provisioning coupons to make sure we don't run out when users enroll.

[2016-09-12 18:27] pdpinch commented on #679
every six hours is adequate

[2016-09-12 20:24] aliceriot commented on #985
It is the validation code!

[2016-09-13 00:49] gsidebo opened #1013 "(Bug) Program context and login bar hidden on window resize"
![context_hide](https://cloud.githubusercontent.com/assets/14932219/18457854/26ece5d0-792a-11e6-94f5-46927f6d7966.gif)

Reducing your window size can apparently make the login/program context bar disappear and become inaccessible. This isn't great

[2016-09-13 03:29] roberthouse54 commented on #1013
I believe  I have fixed this with PR #1001, which needs review.

[2016-09-13 12:23] pdpinch commented on #930
@gsidebo sorry for the late reply. Professional should be the same as Education. We changed our minds on Education, but I didn't update this issue. It's updated now.

[2016-09-13 12:23] pdpinch commented on #930
@gsidebo have you started this?

[2016-09-13 12:27] pdpinch commented on #899
@gsidebo have you started on this?

[2016-09-13 12:41] pdpinch commented on #991
The edX coupons are all discount coupons. They can be a percentage off, or a fixed dollar discount. We need to decide which we prefer. The test coupons that I have generated on 9/11 are percent off.

[2016-09-13 13:15] pdpinch commented on #941
@noisecapella is the program context in the dashboard done enough for this issue to be started?

[2016-09-13 13:15] pdpinch commented on #707
@blarghmatey how is this going?

[2016-09-13 13:40] noisecapella commented on #941
Yes, the only part left for the program context is unrelated to this work

[2016-09-13 15:01] #796 closed

[2016-09-13 15:21] #985 closed

[2016-09-13 15:29] #936 closed

[2016-09-13 15:44] noisecapella commented on #1006
I think this is a known issue in Chrome with CSS transforms: https://bugs.chromium.org/p/chromium/issues/detail?id=521364

[2016-09-13 15:50] noisecapella commented on #944
@roberthouse54 What dimensions should we require for the program thumbnail?

[2016-09-13 16:00] roberthouse54 commented on #1009
After this is completed, I think we are going to add another Issue to make sure that the Courses Widget is displaying all of the course statuses correctly, and that we are getting all the required data in the API. @pdpinch @gsidebo @noisecapella

[2016-09-13 16:01] noisecapella opened #1015 "Enumerate missing states in dashboard"
We should have a specific list of things which are not covered so we know what needs to be added to the dashboard API, and what design changes are not covered yet

[2016-09-13 16:15] #917 closed

[2016-09-13 16:19] noisecapella commented on #944
I'm going to avoid any template changes since they'll be handled in #919, other than the resolution change

[2016-09-13 16:34] pdpinch commented on #1009
Is #1015 what you have in mind?

[2016-09-13 16:48] roberthouse54 commented on #1009
George said this issue is for discovery work to see which statuses are not currently covered, and what data is not currently being sent in the API.

[2016-09-13 18:00] pdpinch commented on #991
Sample coupon csv export from edX's ecommerce system. (Contact @pdpinch if you need something that works)

| Code                             | Coupon Name               | Maximum Coupon Usage | Redemption Count | Coupon Type | URL                                                    | Catalog Query  | Course Seat Types | Client | Category             | Note | Price | Invoiced Amount | Discount Perc

[2016-09-13 19:09] amir-qayyum-khan commented on #936
Fixed via https://github.com/mitodl/micromasters/pull/1014

[2016-09-13 19:19] #1009 closed

[2016-09-13 19:38] noisecapella opened #1018 "In dashboard API course_start_date should be a date, not a datetime"
The same goes for course_end_date

[2016-09-13 20:39] #944 closed

[2016-09-13 21:05] noisecapella commented on #1015
Also we should remove `course_start_date` from `CourseFormatConditionalFields`

[2016-09-13 21:12] noisecapella commented on #1015
Ok, I think this is the complete list of things we need to do:

API:
 - [ ] Add current grade using data from edX's new API
 - [ ] Dashboard API refactor to provide information to allow reenrolling in a course run after a user has failed a course.
 - [ ] Add the final grade for a user who has failed. Can this be retrieved using the current grade API?
 - [ ] Add verification start and end dates to

[2016-09-13 21:15] noisecapella opened #1020 "Error message shown briefly when user enters dashboard for first time"
I couldn't get a screenshot of this, it's probably more noticeable when the user is not on a fast network though

[2016-09-13 21:53] noisecapella commented on #833
I updated the description with a list of specific items. I'm not sure how the API would need to change for handling failed courses, feel free to weigh in @giocalitri since we talked about this a long time ago.

[2016-09-13 22:01] noisecapella opened #1021 "Dashboard: Handle verification start and end dates"
This data would need to be added to the `CourseRun` model and to the relevant part of the dashboard API. Then we need a design and implementation for how to display course runs which are enrolled but not verified and are outside the verification date.

Related issues: #833

[2016-09-13 22:10] noisecapella opened #1022 "Dashboard: Update enrollment status text"
See mockup in #925

 - [ ] It should move from the right column to the middle
 - [ ] Show 'Enrollment open' if user is not enrolled and is allowed to enroll, or if the user is already enrolled but not verified
 - [ ] If the course is verified show 'You are enrolled in this course'
 - [ ] If the course is passed show 'You passed this course!'
 - [ ] If the course is failed show 'You failed this cou

[2016-09-13 22:12] noisecapella commented on #762
When doing this issue we should make sure to handle failed courses too since they make use of the same current grade data

[2016-09-13 22:17] noisecapella opened #1023 "Dashboard: enrollment not open (and after enrollment has ended)"
- [ ] We need to expose the `enrollment_end` date in the dashboard API, and make sure it's also exposed for enrolled but not verified courses, not just offered courses
 - [ ] We need a design for this case
 - [ ] Implement the design in the UI.

### Enrollment Not Open

![image](https://cloud.githubusercontent.com/assets/430126/18766995/d7372da2-80ea-11e6-9e97-d21b11ac6b82.png)

When enrollment is

[2016-09-13 22:22] noisecapella opened #1024 "Dashboard: Update grade"
Depends on #762
See design in #925

- [ ] show grade for passed course in place of check mark, and add 'Final grade'
 - [ ] show current grade for failed and verified courses and the relevant text underneath
 - [ ] show '--' for enrolled but not verified courses

[2016-09-13 22:25] noisecapella opened #1025 "Dashboard: Upgrade button"
![image](https://cloud.githubusercontent.com/assets/430126/18618182/4f51926c-7daf-11e6-9b64-f77892080deb.png)

- [ ] When a user in enrolled in the audit track, there should be a grey box explaining that the user needs to upgrade. The upgrade button should move within the grey box.

Note that learners in an personalized pricing program (like DEDP) will upgrade on the MM portal, but learners in oth

[2016-09-13 23:08] #981 closed

[2016-09-14 02:58] gsidebo commented on #833
there are a few statuses that we really should change

[2016-09-14 12:36] pdpinch commented on #937
@aliceriot can you move this to "in progress" since you're working on it (and have a PR open)?

[2016-09-14 13:40] gsidebo commented on #899
^^^

[2016-09-14 13:58] #930 closed

[2016-09-14 14:22] #1015 closed

[2016-09-14 14:24] noisecapella commented on #925
I made issues for the remaining work to be done and assigned the stories to myself. See #1015 for the issues

[2016-09-14 14:24] #925 closed

[2016-09-14 14:39] noisecapella opened #1027 "Dashboard: change course card title to 'Courses' instead of the program name"

[2016-09-14 14:58] noisecapella commented on #833
@gsidebo What status name changes would you suggest?

[2016-09-14 17:38] aliceriot opened #1030 "move setup commands in `travis.yml` into the `install` section"
Our travis build output is super long, and a good chunk of it is `apt`, `pip` and `npm` spewing out package install info.

If we move these commands out of `script` and put them into `install` we can automatically collapse all that stuff - it's still there to look at if we want, but it's collapsed by default.

@noisecapella @giocalitri @blarghmatey is there any reason not to do this?

[2016-09-14 17:40] aliceriot commented on #1030
I made these changes on a branch, you can see what the build looks like here: https://travis-ci.org/mitodl/micromasters/builds/159946659

changes: https://github.com/mitodl/micromasters/compare/ap/test-travis-change

[2016-09-14 17:42] noisecapella commented on #1030
Nope, sounds like a good idea to me

[2016-09-14 17:43] aliceriot commented on #1030
kk, I'll open a quick pr then!

[2016-09-14 17:56] #937 closed

[2016-09-14 18:17] gsidebo commented on #1020
do you know what error message it was?

[2016-09-14 18:19] #1030 closed

[2016-09-14 18:20] noisecapella commented on #1020
No it was too brief to read it. I recently added error handling for program enrollments, I feel like it may be the error message for that

[2016-09-14 19:19] noisecapella opened #1032 "Dashboard: handle courses with zero runs"

[2016-09-14 19:26] noisecapella commented on #1027
Looks like this is already done

[2016-09-14 19:26] #1027 closed

[2016-09-14 20:12] noisecapella commented on #1018
I talked with @giocalitri and it depends on what format the edX data is in. Closing this in the meantime

[2016-09-14 20:12] #1018 closed

[2016-09-14 20:31] giocalitri opened #1034 "One role type per user"
The user should not be allowed to have different roles, not even in different programs.

This is a limitation of the library we are using right now.

[2016-09-14 20:47] #899 closed

[2016-09-14 23:41] pdpinch commented on #679
Two bits of data I know that we need can be found in the catalogs api, price and upgrade_deadline

Docs are at http://course-catalog-api-guide.readthedocs.io/en/latest/course_catalog/catalog.html#cc-api-seats

My personal edX account has been enabled as a service account for testing, but at the moment I can't access any catalogs. I'll update if/when that gets fixed.

[2016-09-15 11:52] pdpinch commented on #679
I had to ask the product manager at edX to create a catalog that my user can access.

It's a simple read-only API. You can request a list of catalogs, and then you can request all the courses in a catalog. As far as I know, there's no way to query the catalog. For example:

[code]

The response to the courses endpoint is paginated.

The courses are keyed on partial course_keys, i.e. `{org}+{number

[2016-09-15 11:57] pdpinch commented on #679
I updated the description to include some of the info mentioned in the comments.

[2016-09-15 14:39] noisecapella opened #1038 "gen_realistic_search_data should use get_social_username(), not User.username which may be different"

[2016-09-15 14:44] gsidebo commented on #1038
a couple different changes are needed to the gen_ and delete_ scripts (esp. after the changes to ProgramEnrollments). i'll try to knock those out as part of this issue

[2016-09-15 15:16] aliceriot commented on #1020
I've noticed this as well

[2016-09-15 15:38] noisecapella opened #1040 "Homepage: add a short description field on the ProgramPage and display it in the home page"
Related to #919

[2016-09-15 15:46] pdpinch opened #1041 "Financial Aid: creating new requests"
# Acceptance criteria:

- [x] API endpoint for new financial aid request (takes income and currency)
  we can focus on USD for now
- [x] Calculation of pending financial aid tier
- [x] Auto acceptance criteria for requests
- [x] Import of per-country thresholds for auto acceptance; these will be global for all programs

[2016-09-15 15:46] pdpinch commented on #1041
@zags you told me that you have started this already. Can you add some details here about what (additional) assumptions you're making beyond the criteria above?

[2016-09-15 15:55] #1032 closed

[2016-09-15 15:56] pdpinch opened #1042 "Financial Aid: Pending Requests"
# Acceptance Criteria
- [ ] API endpoint to upload several documents
- [ ] API endpoint to return the user's pending price
- [ ] API endpoint to return a list of user's already uploaded documents
- [ ] API endpoint to view a document (via time-limited URL)
- [ ] Put username in filename

[2016-09-15 15:58] pdpinch opened #1043 "Financial Aid: file storage configuration"
# Acceptance criteria
- [ ] Django-storages configuration
- [ ] S3 encryption at rest configuration
- [ ] Ensure secure connection to S3
- [ ] Ensure files created by django-storages on S3 are private

[2016-09-15 15:58] pdpinch commented on #1043
@blarghmatey let me know how much of this configuration stuff is in your bailiwick

[2016-09-15 16:00] pdpinch opened #1044 "Financial Aid: Auto-Approved requests"
When a user's financial aid request is auto-approved their dashboard updates with a message and all their prices are updated to reflect their personal price.

![image](https://cloud.githubusercontent.com/assets/430126/18765704/e11faa98-80e4-11e6-8c91-19c69ba49249.png)

## Acceptance criteria:

- [x] API endpoint for getting a user's price for a course
- [ ] Update message
- [ ] Update course statu

[2016-09-15 16:01] pdpinch opened #1045 "Financial Aid: Review Page"
Simple list of financial aid submissions, for review.

![image](https://cloud.githubusercontent.com/assets/430126/18748865/50a040c8-80a2-11e6-9715-0a7ce2a60c0f.png)

# Acceptance Criteria:

- [ ] Remove "reject" button  /cc @roberthouse54
- [ ] Rename "approve" checkmark with label "Save"  /cc @roberthouse54
- [ ] Move "adjusted cost" column close to "Save" button
- [ ] Add a dropdown with a coupl

[2016-09-15 16:05] zags commented on #1041
There are a couple assumptions we are making (based on the algorithm sent to us by the econ team and how coupons work):
* Financial aid tiers correspond to a fixed-discount style coupon.  Consequently, a tier corresponds to the notion of "$500 off on all courses in the program".  The specific discount number varies between tiers and can be increased later.
* The financial aid tier someone gets a p

[2016-09-15 16:27] zags commented on #1043
Some of this is  going to be in django settings (we've got most of the needed settings in SGA-LTI).

[2016-09-15 16:30] zags opened #1047 "Financial Aid: auditing"
# Acceptance criteria
- [ ] Track status changes to financial aid requests
- [ ] Track status changes to tier changes
- [ ] Track initial emails to financial aid recipients

[2016-09-15 16:33] zags commented on #1047
The database plan is to have three separate databases for each type of event we are tracking (so keep the one you have and add two).  This has probably the largest code footprint, and makes adding new types of auditing the hardest, but it makes the audit history the easiest to automatically process later.  Audit events look approximately like:

    <obj StatusChange>
    old_object = {"status": "c

[2016-09-15 16:33] zags commented on #1047
@pdpinch Do we need to track the text of the email that was sent?

[2016-09-15 16:35] pdpinch commented on #1047
Yes we should log e-mail body, but more for user convenience (in the future) than for auditing.

If it's really hard, you can drop it.

[2016-09-15 16:57] pdpinch commented on #1043
Ok then. Let's assign to you and then if you need assistance you can bring in @Tobias.

[2016-09-15 17:06] pdpinch commented on #965
@annagav can you fix this too. If you want to do it as part of #1035 that's fine. Or it can be separate.

[2016-09-15 17:09] pdpinch opened #1048 "Financial Aid: Currency Conversion"
# Acceptance Criteria

- [x] Currency conversion API
- [x] Cache currency conversion results and only refetch if cache is missing or older than a day
- [ ] API endpoint to get default currency for a user (or have the data file used on frontend)

## Questions

- [x] front-end (JavaScript) API or backend?

[2016-09-15 17:13] pdpinch opened #1049 "Financial Aid: Review Actions"
# Acceptance Criteria

- [ ] API endpoint to mark documents received
  - [ ] when documents are received, an e-mail is sent to the learner
- [ ] API endpoint to approve a request (at a particular tier)
  - [ ] when a request is approved, an e-mail is sent to the learner
- [ ] API endpoint to reject a request
  - [ ] when a request is rejected, an e-mail is sent to the learner
  - [ ] On rejection,

[2016-09-15 17:24] pdpinch commented on #1045
Note that we modified this UI to allow the reviewer to choose the adjusted cost and override the cost proposed by the algorithm. Allowing this reviewer discretion means we can stop debating the outcome of rejected applications.

[2016-09-15 17:32] noisecapella opened #1050 "Console warnings on home page"
I got some console warnings related to the localStorage work we did recently. However I haven't actually noticed anything not working due to them

![screenshot from 2016-09-15 13-29-47](https://cloud.githubusercontent.com/assets/863262/18560248/be99ddfa-7b48-11e6-847e-d2f9b106b9e7.png)

[2016-09-15 17:34] pdpinch opened #1051 "Financial Aid: Coupon inventory alerts"
Since creating more coupons is a manual process, MicroMasters admins need to be notified when the inventory of coupons is low or insufficient to meet all learner requests.

# Acceptance Criteria

- [x] Coupon expiration alert
- [ ] Insufficient unallocated coupons alert (take into account approved users who don't yet have a coupon)

[2016-09-15 17:36] pdpinch opened #1052 "Financial Aid: Coupon management"
# Acceptance Criteria

- [ ] Ability to attach a SKU to a course_run, or a coupon (see questions)
- [ ] Coupon import script (needs course_run, discount tier, and coupons file)

## questions

- [ ] Should we attach SKUs to course runs, or to coupons. There may not be a one-to-one match of SKUs to course runs, but we're not sure.

[2016-09-15 18:01] #931 closed

[2016-09-15 18:05] #919 closed

[2016-09-15 18:12] zags commented on #1045
I talked with @giocalitri and we decided that the best approach for this page and it's children was to implement them as Django templates using Django forms rather than API endpoints with react.  This is because it will be faster to build them that way, and they are only accessible to select staff

[2016-09-15 18:25] gsidebo commented on #833
right now i can't say for sure exactly - i wasn't around when the reasoning behind these statuses was discussed, and figuring out the causes and purposes of these statuses from the code is very difficult. i'll start by listing some problematic names

[code]

the following just don't make sense semantically (to me, anyway):

- `CourseStatus.CURRENT_GRADE`
- `CourseStatus.UPGRADE`
- `CourseRunStatus

[2016-09-15 18:30] gsidebo commented on #986
@pdpinch fyi: Place Of Birth facet is trivial since it uses a [Refinement List filter](http://docs.searchkit.co/stable/docs/components/navigation/refinement-list.html) which gives you the option to use an `OR` operator instead of `AND`. The Current Location facet is not so simple. It uses a [Hierarchical Menu filter](http://docs.searchkit.co/stable/docs/components/navigation/hierarchical-menu.html

[2016-09-15 18:31] zags commented on #1051
@giocalitri suggested always issuing coupons that expire after the course run is complete.  Assuming we can always do this, it eliminates the need for the coupon expiration alert and solves some other corner cases surrounding coupon expiration as well.  We do still need the insufficient unallocated coupons alert

[2016-09-15 18:40] pdpinch commented on #986
What if we used [Hierarchical Refinement](http://docs.searchkit.co/stable/docs/components/navigation/hierarchical-refinement-filter.html) filter?

[2016-09-15 18:41] gsidebo commented on #986
also no `operator` option

[2016-09-15 19:08] annagav commented on #965
@pdpinch, where can I reproduce the bug?

[2016-09-15 19:20] Ferdi commented on #986
let's drop it. Leave Current Location as is (AND)

[2016-09-15 19:22] gsidebo commented on #986
sounds good

[2016-09-16 14:42] noisecapella commented on #833
I agree about the confusion, feel free to make a PR to change the status names if you prefer

[2016-09-16 17:44] #1034 closed

[2016-09-16 18:54] #986 closed

[2016-09-16 19:24] zags commented on #1051
Just a note on how we determine when we are out of coupons for a tier.  Obviously coupons that have been associated with a user are not available.  We also want to take into account users who have been approved for financial aid but not allocated a coupon for that course yet.  However, because courses are offered multiple times (through course runs), the important thing to check for is that a user

[2016-09-16 19:34] giocalitri commented on #1051
Coupons will be tied to a specific course_run, not a course. the concept of course does not exist in edX.
That means that each run will have its own coupons.

[2016-09-16 19:37] pdpinch commented on #1051
We have some options for how edX associates coupons with course_runs. For simplicity's sake, Giovanni and I were thinking that a strict relationship was best: a coupon can only work with a specific course run.

Alternately, edX allows for a query to match a coupon with multiple course_runs, or multiple courses. However, given the vagaries of course numbering, it seems best to avoid that route.

Le

[2016-09-16 19:48] #965 closed

[2016-09-16 20:11] #921 closed

[2016-09-16 20:26] zags commented on #1051
I know coupons are attached to a specific course run.  I'm assuming that here.  I'm talking about estimating the number of people who are going to need coupons but do not yet have them allocated.

People are approved for financial aid on the program level.  Then, people enroll in course runs.  We need to have enough coupons in reserve for the people who have been approved for financial aid but not

[2016-09-16 20:38] alvinsiu commented on #1048
We should probably be doing this on the backend for better auditing and to be able to cache results from the API.

[2016-09-16 22:15] alvinsiu commented on #1044
These criteria will probably change given the recent update. @pdpinch will you be updating these?

[2016-09-16 22:40] pdpinch commented on #1044
I've updated this to reflect the decision to not use coupons.

[2016-09-16 22:49] pdpinch commented on #1051
Executive decision from today: we won't be using coupons.

Instead we'll handle transactions in the MM portal. Fulfillment will be an automatic enrollment into an audit track at edx.org plus a registering for a MM certificate to be granted when all courses and exams are passed.

[2016-09-16 22:49] #1051 closed

[2016-09-16 22:50] pdpinch commented on #1052
Executive decision from today: we won't be using coupons.

Instead we'll handle transactions in the MM portal. Fulfillment will be an automatic enrollment into an audit track at edx.org plus a registering for a MM certificate to be granted when all courses and exams are passed.

[2016-09-16 22:50] #1052 closed

[2016-09-16 22:55] pdpinch commented on #1047
Removed `- [ ] Track when a coupon is allocated to a financial aid request` from description.

[2016-09-16 22:56] pdpinch commented on #991
Executive decision from today: we won't be using coupons.

Instead we'll handle transactions in the MM portal. Fulfillment will be an automatic enrollment into an audit track at edx.org plus a registering for a MM certificate to be granted when all courses and exams are passed.

[2016-09-16 22:56] #991 closed

[2016-09-17 23:23] pdpinch commented on #963
Looks like we'll be keeping Cybersource

[2016-09-17 23:23] #963 closed

[2016-09-17 23:35] pdpinch opened #1058 "ecommerce for DEDP"
Tracks tasks for DEDP e-commerce

# ToDos

- [x] enable ecommerce conditionally (DEDP needs it. SCM does not)
- [x] Integration with Cybersource, MIT's preferred ecommerce provider
  - [x] #904 order receipt page / message
  - [x] #905 order cancellation page
- [x] Fulfillment through edX, by enrolling the user in an audit track
- [x] use personalized prices when checking out
- [x] track the verif

[2016-09-17 23:36] pdpinch commented on #803
#closed in favor of #1058

[2016-09-17 23:36] #803 closed

[2016-09-18 18:08] pdpinch commented on #575
This isn't totally reliable, because folks can skip degrees (notably associates) or they may not want to share them all.

[2016-09-18 18:08] #575 closed

[2016-09-18 18:27] pdpinch commented on #1041
In the 3rd bullet, the variability of income thresholds would be between programs, not courses. As we only have one program for October 15th (and the rest of the calendar year), I'm not sure this is an important distinction.

[2016-09-18 18:53] pdpinch commented on #1025
added a screenshot to the description.

[2016-09-18 18:58] pdpinch commented on #1021
@roberthouse54 we need a design for this case when the user has failed to purchase (verified or financial aid) before the deadline.

Some possibilities: omit the course_run altogether; treat it as a failed course

[2016-09-18 19:02] pdpinch commented on #1023
@noisecapella why would we need to display a course whose enrollment_end date has passed? Wouldn't we just omit it from the dashboard?

FYI @roberthouse54

[2016-09-19 13:34] noisecapella commented on #1023
That's fine with me, we just need the logic to do so

[2016-09-19 14:31] aliceriot opened #1059 "delete Jumbotron"
it is dead code

[2016-09-19 14:39] pdpinch commented on #1058
@noisecapella can you take a look at this and add anything that's missing to the description?

[2016-09-19 15:14] noisecapella opened #1063 "Change FinancialAidSerializer to use a ModelSerializer"
From #1053

[2016-09-19 15:16] noisecapella opened #1064 "Use a permission class to enforce user access for financial aid API"
From #1053

[2016-09-19 17:27] alvinsiu commented on #1043
Relevant docs: http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html

[2016-09-19 17:32] MariaODL opened #1065 "Updates for micromasters.mit.edu"
Hi Everyone,

Attached are the updates that need to go live tomorrow at 12:10pm. We are missing one link that we will send to you tomorrow.
[Web_Updates_Micromasters.docx](https://github.com/mitodl/micromasters/files/480697/Web_Updates_Micromasters.docx)

[2016-09-19 17:56] alvinsiu commented on #1045
@pdpinch For the "API endpoint to get the income of an applicant and list of document names" criteria, the API endpoint for getting a list of document names is also in #1042 and depends on getting S3/django-storages set up before that can be implemented.  Would it make more sense to remove that criteria from this PR and just have a placeholder for now?  We could add that to #1042 instead?

[2016-09-19 18:07] pdpinch commented on #1045
I removed the mention of document names from the description, since we won't be storing documents anymore (and it was out of scope for this issue anyway).

[2016-09-19 18:16] alvinsiu commented on #1043
I unassigned Zags as we're no longer going to do the uploads.

[2016-09-19 18:20] alvinsiu commented on #1042
@pdpinch I think the "API endpoint to return the user's pending price" criteria could still be relevant for other frontend pages, but the rest of this issue is no longer needed.  Should we close this issue and make a new one, or just modify this one?

[2016-09-19 18:22] alvinsiu commented on #1042
Ah, it's already on #1044 though with slightly different wording (and possibly intent).

[2016-09-19 18:26] alvinsiu commented on #1047
Removed Track when someone views a financial aid document

[2016-09-19 18:51] #1043 closed

[2016-09-19 18:54] noisecapella opened #1066 "Set default ordering for `Course` to position_in_program"

[2016-09-19 18:56] Ferdi commented on #1066
What is going to be the ordering ?   Maybe by start date ??

[2016-09-19 19:31] pdpinch commented on #1066
Is this for the dashboard or for something else?

[2016-09-19 19:33] pdpinch commented on #1065
Hi Maria. I've moved this over to the repo for the static site. I'll take care of this sometime before tomorrow at 10.

[2016-09-19 19:33] pdpinch commented on #1065
Issue moved to [mitodl/mga #10](https://github.com/mitodl/mga/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-19 19:33] #1065 closed

[2016-09-19 19:38] Ferdi commented on #1066
oh, i assumed it was the order of courses in the dashboard.

[2016-09-19 19:55] singingwolfboy opened #1068 "Sign-up page: greeting doesn't dynamically change name correctly"
The sign-up page at `/profile/` has a nice feature where the greeting will dynamically change as the user types. However, it doesn't do so _correctly_, which leads to a confusing user experience.

# Actual behavior
When the user first visits the page, the greeting contains the first part of their email address, like so:
<img width="858" alt="initial signup" src="https://cloud.githubusercontent.com

[2016-09-19 20:07] singingwolfboy opened #1069 "Error message on dashboard if no program enrollment is available"
After completing the sign-up process on a new MicroMasters installation, the user is redirected to the dashboard, where they see an ugly error message:
![Error message: No program enrollment is available.](https://cloud.githubusercontent.com/assets/132355/18647184/e092682c-7e82-11e6-9bf5-522b77c744a5.png)

Expected: if the user tries to view the dashboard without a program enrollment, they are sho

[2016-09-19 20:21] noisecapella commented on #1069
Your right, we don't cover this case. 'Sign up' link on the home page will ask the user to enroll in a program, but I think the 'Login' link is still functional for those users as long as they have an edX account. We should handle this case better

[2016-09-19 20:41] #1041 closed

[2016-09-20 14:04] alvinsiu commented on #1049
Removed - [ ] API endpoint to download a document (via one-time link)

[2016-09-20 14:28] pdpinch commented on #1069
@roberthouse54 let's discuss the UX around this

[2016-09-20 14:39] singingwolfboy opened #1073 "`delete_realistic_search_data` management command fails"
[Traceback is here](https://gist.github.com/singingwolfboy/a01e391932b33b828e318985c85a652e)

[2016-09-20 15:01] giocalitri commented on #1069
This should be top priority: the probability people will get this bug is extremely high.

[2016-09-20 15:02] singingwolfboy commented on #1069
However this ticket is resolved, part of the acceptance criteria should be updating the documentation in the README file. If the solution is to allow students to login without enrolling, then the README needs instructions on how to use the UI to enroll in a course. If the solution is to not allow students to login without enrolling, then the README needs instructions on how to use the admin tools

[2016-09-20 15:07] noisecapella commented on #1066
Yes, it's for the order of courses in the dashboard and on the program page. The start date isn't going to help because this is for the course, not the course run which has the start date. We already have a field `position_in_program` for this, we just need to use it

[2016-09-20 15:12] #1038 closed

[2016-09-20 15:12] #1073 closed

[2016-09-20 16:35] pdpinch commented on #1069
Yup. @roberthouse54 @Ferdi and I discussed this morning.

We're thinking about a message on the dashboard, since we already have a UI there for choosing a program. The question is what does the drop-down look like if the user hasn't chosen a program.

[2016-09-20 18:14] amir-qayyum-khan opened #1075 "Update circle of progress widget to match mockups"
please see mock.

<img width="241" alt="screen shot 2016-08-22 at 3 28 27 pm" src="https://cloud.githubusercontent.com/assets/430126/17868570/57cc9046-687d-11e6-9cd6-87d2874649ff.png">

[2016-09-20 18:48] #941 closed

[2016-09-20 19:33] pdpinch opened #1076 "Financial Aid: Allow learners to bypass financial aid & pay full price"
Some learners will want to skip the financial aid process. At any stage, we'll allow them to shortcut the process and be approved to pay full price.

This function will link from 3 locations:

1. Initial Financial Aid description widget:

  ![image](https://cloud.githubusercontent.com/assets/430126/18723999/d23b7944-8008-11e6-9214-300446ed689a.png)

2. Cost Calculator:

  ![image](https://cloud.gi

[2016-09-20 19:33] pdpinch commented on #1076
@zags @alvinsiu I'm pretty sure this is a case that we didn't consider in the API. Can you confirm?

[2016-09-20 19:39] pdpinch opened #1077 "Abstract "MicroMasters" track to include financial aid case"
A user is enrolled in a MicroMasters track for a course if one of the two following conditions are met:
1) for programs without financial aid, they have an enrolled in a verified track
2) for programs with financial aid, they have enrolled in an audit track and they have paid for the course

Learner dashboard statuses should be updated so that they depend on this abstract track enrollment, instead

[2016-09-20 19:48] pdpinch opened #1078 "Return final grade in API for financial aid-enabled courses"
MicroMasters programs with financial aid won't use certificates, so we can't rely on the `certificates` API to get the user's final grade or to determine the user's passed status.

For those programs we can determine the "final" grade and passed/not-passed status by making a call to the course_grade API after the course end_date.

For example, using my user, a call to https://courses.edx.org/api/g

[2016-09-20 19:53] alvinsiu commented on #1076
@pdpinch We considered that possibility, but we assumed that anyone who wants to bypass financial aid will simply no apply for financial aid (no request to API made).  For the case where they've already applied, we could add a status to the financial aid object along the lines of USER_BYPASSED that can be set if a user checks out at full price with a pending financial aid request?

[2016-09-20 19:58] pdpinch commented on #1076
That sounds like it would work.

We'd like to allow learners to move to this status from the calculator form, in case they want to bail out out of the process rather than type in their income. (this will be clearer once I can paste a design)

[2016-09-20 20:16] alvinsiu commented on #1076
We can certainly modify the API to allow for this to happen - we'll wait for the design before we implement the changes on the API.

[2016-09-21 12:09] pdpinch commented on #1058
remove #1043 file storage configuration as we're not taking files anymore.

[2016-09-21 12:11] pdpinch commented on #1058
@noisecapella now that #913 has been merged, can we check off any of these boxes?

[2016-09-21 12:14] pdpinch commented on #989
We've decided not to do this.

[2016-09-21 12:14] #989 closed

[2016-09-21 12:17] pdpinch commented on #896
@amir-qayyum-khan what's the status of this?

[2016-09-21 12:19] pdpinch commented on #1063
Is this a refactoring, or does it affect critical functionality?

[2016-09-21 12:20] pdpinch commented on #1064
Is this a refactoring, or does it address a security issue?

Is this the relevant part of the thread: https://github.com/mitodl/micromasters/pull/1053#discussion_r79214148 ?

[2016-09-21 12:21] pdpinch opened #1081 "Populate CMS & django-admin on micromasters-ci, -rc and live with more realistic data"
We need to start seeing content on the home page and program pages that looks real.
## micromasters-ci
- [x] SCM on home page
- [x] SCM program page
  - [x] SCM hero image
  - [x] SCM Faculty
  - [x] SCM FAQS
- [x] SCM program & courses
- [x] SCM pricing
- [x] DEDP on home page
- [x] DEDP program page
  - [x] DEDP hero image
  - [x] DEDP Faculty
  - [x] DEDP FAQS
- [x] DEDP program & courses
- [x]

[2016-09-21 12:37] noisecapella commented on #1064
Yes that's the right comment. It's a refactoring issue. The code enforces this in the serializer code so there's no immediate security issue and the case is tested for.

[2016-09-21 12:39] noisecapella commented on #1063
It's a refactoring issue. Switching to a ModelSerializer would make it much more flexible if we needed to expand functionality, but what is there now fits the immediate use case for financial aid.

[2016-09-21 12:40] noisecapella commented on #1058
Just the Cybersource box. We store the result of the payment but we don't do anything with that information yet.

[2016-09-21 12:47] pdpinch commented on #1058
Can you work on #904?

Are you blocked by mitodl/edx-api-client#26 (I believe Giovanni is working on it)?

[2016-09-21 12:52] noisecapella commented on #1058
No, once the enrollment API function is in edx-api-client it should be a small change to cause the order fulfillment to actually enroll the user. I'll start on the receipt page. By the way there's been no work done yet to make use of the financial aid calculated price, or to provide different checkout flows for SCM and DEDP

[2016-09-21 13:07] amir-qayyum-khan commented on #896
i have done anything on it, let me start

[2016-09-21 13:41] noisecapella opened #1082 "Alter or remove unique_together on TierProgram model"
There should be multiple TierPrograms allowed for a program and tier, with only one having current=True

[2016-09-21 13:59] alvinsiu commented on #1042
@pdpinch Is this still relevant?

[2016-09-21 14:34] pdpinch commented on #1042
Nope.

[2016-09-21 14:34] #1042 closed

[2016-09-21 16:42] alvinsiu commented on #1044
@pdpinch  I think the API endpoint for getting a user's price still makes sense to be a part of financial aid, but should

still to be handled by the financial aid flow?  I'm not too familiar with the stories, but I think it makes more sense for that to be handled as part of ecommerce.

[2016-09-21 17:08] noisecapella commented on #1044
I agree, all the ecommerce needs is the price to charge at that point

[2016-09-21 18:10] pdpinch commented on #1044
I don't disagree, but we still need the story. Would you like to create a new one, or can we just assign this issue to someone else once you've finished the first checkbox?

[2016-09-21 18:27] alvinsiu commented on #1044
I'm not sure how your process works for stories.  For the issue, it would probably be simpler to just assign the issue to someone else once we finish with the first checkbox - but this might complicate pull request if we want to do one pull request per issue.  That, or we can mark the first pull request for the first checkbox with "Work in progress"?

[2016-09-21 18:30] pdpinch commented on #1044
It doesn't have to be one PR per issue. Just check the box when that bit has been merged.

[2016-09-21 18:33] alvinsiu commented on #1044
Great, thanks!

[2016-09-21 18:41] pdpinch commented on #1076
Add 2 of the 3 screens. The 3rd is still being debated, but I the function is the same.

[2016-09-21 19:45] #934 closed

[2016-09-21 21:46] noisecapella commented on #905
This will be a toast message similar to #904

[2016-09-22 00:35] #707 closed

[2016-09-22 12:51] pdpinch commented on #1049
cleaned up the description, including adding:

- [ ] API endpoint to mark documents received

[2016-09-22 13:01] pdpinch commented on #1045
Updated screenshot in description. Note that it now includes:

- [ ] search
- [ ] a checkbox for "documents received"
- [ ] radio button for displaying income in dollars or local currency (as calculated, not real time).
- [ ] date calculated

[2016-09-22 13:34] pdpinch opened #1087 "write testing plans"
We need a testing plan for the 10/15 release -- one for ourselves and one for the Economics department for their review.
## Acceptance Criteria
- [x] programs appear on home page as expected
- [x] mail form on home page works
- [ ] CMS can update program pages, program thumbnails, program descriptions
- [x] program page displays correct courses and dates
- [ ] can add courses to programs (odleng o

[2016-09-22 14:08] #896 closed

[2016-09-22 17:49] pdpinch commented on #1069
I was thinking of something like this:

![image](https://cloud.githubusercontent.com/assets/430126/18759624/4cf39a0a-80cb-11e6-9f5e-26c60329546b.png)

@roberthouse54 please comment.

[2016-09-22 17:53] Ferdi commented on #1069
Or "chose one"  be a link that brings up the popup where they chose a program.

[2016-09-22 18:05] alvinsiu commented on #1049
@pdpinch Just wanted to ask a clarification question about the financial aid workflow.  We're making the assumption that in order to mark documents as received (and send the email), the current status of their financial aid request MUST be "pending-docs".  Similarly, in order to mark a request as "approved" or "rejected", the current status of the financial aid request MUST be "pending-manual-appr

[2016-09-22 18:18] pdpinch opened #1090 "Home Page: remove fields from homepage object and CMS"
The Wagtail CMS currently allows editors to change two fields on the home page, `Title` and `Title Background`

Only `Title` appears in the home page template.

We want to remove the fields from the template and from the CMS. The home page should not be editable through the CMS. The only dynamic content on the home page is program thumbnails and descriptions, which are controlled via the programs

[2016-09-22 18:30] alvinsiu opened #1091 "Financial Aid: add unique constraint on FinancialAid objects for user and program"
This constraint will protect against bugs in other parts of the codebase in accessing FinancialAid objects.  After the 10/15 deadline, this may change when we flush out how to handle multiple financial aid requests for the same user and program.

[2016-09-22 19:14] pdpinch commented on #1025
I'm going to close this, because we're going with a different design and different wording now.

[2016-09-22 19:14] #1025 closed

[2016-09-22 19:15] pdpinch commented on #1022
I'm going to close this since we're going with a different design and text now.

[2016-09-22 19:15] #1022 closed

[2016-09-22 19:17] pdpinch opened #1093 "Dashboard: Implement course statuses"
There's a large number of statuses. It may make sense to break down this list into some separate issues.

The statuses are described, with screenshots at https://docs.google.com/document/d/1C8JwVxLW0YZBAFwUR06754uz-uyCCEbnvt2TIMJtKk0/edit#heading=h.z6grmm6teut

[2016-09-22 19:58] noisecapella opened #1095 "Switch to Django JSONField"
Currently we're using the field with the same name from the `jsonfield` package. Switching would make it easier to query within the JSON

[2016-09-22 20:07] pdpinch commented on #1069
Hi @amir-qayyum-khan we're going to fix this a different way. Stay tuned for a different issue.

[2016-09-22 20:07] #1069 closed

[2016-09-22 20:26] pdpinch commented on #918
@noisecapella with #1092 address this?

[2016-09-22 20:29] noisecapella commented on #918
Yes, I updated the PR

[2016-09-22 20:33] pdpinch commented on #1076
added a missing screenshot as well as the confirmation dialog.

[2016-09-22 20:48] pdpinch opened #1097 "Financial Aid: Cost Calculator"
For programs with financial aid, learners will have to fill out a form to calculate their personal price.

![image](https://cloud.githubusercontent.com/assets/430126/18765532/198c1426-80e4-11e6-8ffb-7ef7b30513b5.png)

##  Acceptance criteria

- [ ] check with @roberthouse54 about whether country of residence appear in form
- [ ] This form will interact with the APIs implemented in #1053
- [ ] user

[2016-09-22 21:00] pdpinch opened #1098 "Financial Aid UI: Documents required for verification"
Some users will need to send documents to verify income. They will receive a message in their dashboard and a short form to record when they sent their documents.

![image](https://cloud.githubusercontent.com/assets/430126/18765914/b732589c-80e5-11e6-9d10-4d2d1fb4d5eb.png)

## Acceptance criteria

- [x] use API in #1053 to determine whether docs are required
- [x] form for submitting date docs wer

[2016-09-22 21:06] pdpinch opened #1100 "Financial Aid: Docs reviewed and approved / rejected"
After a learner's financial aid docs have been reviewed, we need to update the status message on their dashboard and the price of their courses:

(note: this is very similar to the screen in #1044)

![image](https://cloud.githubusercontent.com/assets/430126/18766088/8cd9813c-80e6-11e6-80f6-544a23c3b163.png)

## Acceptance criteria:

- [ ] Update the message based on the status returned by the API

[2016-09-22 21:07] pdpinch commented on #988
This issue is being replaced by a few smaller issues:

#1076 Allow learners to bypass financial aid & pay full price
#1097 Financial Aid: Cost Calculator
#1044 Approved requests
#1098 Documents required for verification
#1100 Docs reviewed and approved / rejected

[2016-09-22 21:07] #988 closed

[2016-09-22 21:08] pdpinch commented on #1077
@giocalitri does this still make sense?

[2016-09-22 21:11] alvinsiu commented on #1063
I'm not sure switching to a ModelSerializer would be too helpful in this case.  According to the docs:

We initially tried to make it a ModelSerializer for the purpose of using the built-in validation for fields, but because our view required a non-standard set of POST data, one of which (`program_id`) isn't on the FinancialAid model, a lot of the built-in validation actually prevents us from usin

[2016-09-22 21:13] pdpinch commented on #1066
@annagav took care of this on the program page in her PR #1080

[2016-09-22 21:24] pdpinch opened #1101 "Dashboard: display passed courses"
The definition of passed is when the grades API returns `"passed": true` and `course.end` < today

![image](https://cloud.githubusercontent.com/assets/430126/18766650/44d9a792-80e9-11e6-8cbe-554054206a9d.png)

[2016-09-22 21:30] pdpinch opened #1102 "Dashboard: display courses with enrollment open"
There are three course states the learner can see before they have enrolled in a course:

## Before Enrollment
### Enrollment Open - Basic View

![image](https://cloud.githubusercontent.com/assets/430126/18766797/ff45787c-80e9-11e6-8f9d-e37b3b2b98d8.png)

This is the normal view when Enrollment is open. Users can click the “Pay” button to pay, or click on Enroll and Pay later to audit.

For Variab

[2016-09-22 21:31] noisecapella commented on #1063
You're right that `program_id` needs some special handling, but I think that can be done inside `ModelSerializer.validate` which can return an altered set of data for this purpose. The other two fields can be set as fields in the `Meta` class. I haven't done any investigating on this but we should leave this issue open so we can explore this more.

[2016-09-22 21:31] giocalitri commented on #1077
Wasn't this what we discussed to do?

On Sep 22, 2016, at 5:08 PM, Peter Pinch <notifications@github.com<mailto:notifications@github.com>> wrote:

@giocalitri<https://github.com/giocalitri> does this still make sense?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mitodl/micromasters/issues/1077#issuecomment-249028428>, or m

[2016-09-22 21:37] alvinsiu commented on #1063
We tried returning an altered set of data in `ModelSerializer.validate`, but there were issues with `ModelSerializer` doing automatic type checking and some other things I can't remember that made it not work as expected (I think it was during `ModelSerializer.to_representation`).  In any case, it felt a lot like we were trying to wrangle `ModelSerializer` into doing something it didn't want to do

[2016-09-22 21:40] pdpinch opened #1103 "Dashboard: display enrolled courses (with grades)"
## After Enrollment

### Enrolled - Auditing, Not Yet Paid

![image](https://cloud.githubusercontent.com/assets/430126/18767139/85a4bfbc-80eb-11e6-86ae-e340efcc2660.png)

After the user is enrolled (whether paid or not) we display the course grade as shown. If the user has not paid, we show the “Pay” button, with Payment Due date. We show a link to “View on edX” any time a user is enrolled.

### E

[2016-09-22 21:40] alvinsiu commented on #1098
I don't think we have a specific API endpoint for determining if docs are required yet, but we can build an endpoint for that.

We also don't have a way of explicitly tracking the date documents were mailed (did you mean received?).  We can retrieve it via the auditing trail, or naively by using the "updated_on" timestamp when the status is changed from "pending-docs" to "pending-manual-approval",

[2016-09-22 21:42] pdpinch commented on #1093
replaced by a number of smaller issues:

#1103 Dashboard: display enrolled courses (with grades)
#1102 Dashboard: display courses with enrollment open
#1101 Dashboard: display passed courses
#1093 Dashboard: Implement course statuses
#1024 Dashboard: Update grade
#1023 Dashboard: Handle case where enrollment has ended October 15 UX
#1021 Dashboard: Handle verification start and end dates

[2016-09-22 21:42] #1093 closed

[2016-09-22 21:48] pdpinch commented on #1098
For docs required, I'm not sure how you wanted to message that to the front-end. It could just be the return from the calculator submission, but then there's the question of repeat visits from the user. Can you discuss with @aliceriot ?

The date is a new feature. I think adding a new field makes sense. You'll see that it appears in the financial aid review view as well.

[2016-09-22 21:53] pdpinch commented on #1077
It's my interpretation of what we discussed, but I wanted to check with you. Sounds like a "yes"

[2016-09-22 21:57] alvinsiu commented on #1098
Docs required should probably be a separate endpoint, that way we can still know when to display the message if they log back in another time separate from the calculator submission.  @aliceriot If we return the `FinancialAid` object so that you can see if `object.status == "pending-docs"`, would that work?

[2016-09-23 12:13] pdpinch opened #1105 "Sign-up: display program drop-down for users with no program"
This will address the bug opened in #1069

The program selection moves from sign up popup to the "basic info" tab (see also #1113)

- [ ] If possible (but please ignore if not straightforward) the value on this dropdown should be pre populated when user signs up from the program pages.

![image](https://s3.amazonaws.com/uploads.hipchat.com/151776/4073658/O2WNgTAq1XeUPT5/upload.png)

[2016-09-23 12:13] pdpinch commented on #1105
After this is implemented, we may remove the program drop-down from the sign-up modal on the home page and program pages.

[2016-09-23 12:14] amir-qayyum-khan commented on #1105
sure, thing got it

[2016-09-23 12:24] pdpinch opened #1106 "add ZenDesk help button"
We need a prominent location on the site for users to contact us -- through ZenDesk -- with questions. The button needs to be on all pages, but it probably makes sense to have separate PRs for (in priority order):

- [x] Homepage, Program Page, TOS
- [x] Dashboard and search
- [ ] Financial Aid Review

We'll embed a [ZenDesk widget](https://support.zendesk.com/hc/en-us/articles/203908456)

[code]

[2016-09-23 12:25] pdpinch commented on #1106
@roberthouse54 can you give this some thought? I think a mailto link is adequate at this point, but the ZenDesk widget is easy to implement too, and they would both go to the same inbox.

[2016-09-23 15:17] aliceriot commented on #1098
@alvinsiu yea I think that sounds straightforward enough, I've been working on something else and haven't dug into this yet so I can't say for sure though.

[2016-09-23 15:37] alvinsiu commented on #1098
Great, we'll implement that API for you, and you can let us know if you need any additional information or any changes to what's returned!

[2016-09-23 16:48] Ferdi commented on #1078
This will be only for DEDP case right.  The rest will still use certs ?

[2016-09-23 16:52] pdpinch commented on #1078
I was thinking it would be easier if we used the same mechanism for all courses, but if you prefer to use the certificates table that's fine with me.

The final grade in the certificate table is more stable, and less expensive to query.

[2016-09-23 16:54] aliceriot commented on #1098
OK reading over this it would make sense to me if the docs endpoint returned something like:

[code]

@pdpinch I haven't been so up on the financial aid stuff, does this require that we have the financial aid calculator done?

[2016-09-23 16:55] aliceriot commented on #1098
just wondering about which one to take on first

[2016-09-23 17:21] pdpinch commented on #1098
I think it makes more sense to start with #1097. I should have put that one into "ready" ahead of this one.

[2016-09-23 17:51] #904 closed

[2016-09-23 17:51] #905 closed

[2016-09-23 19:08] #179 closed

[2016-09-23 19:09] gsidebo commented on #1078
A more appropriate title for this would probably be "Return final grade in API for financial aid-enabled courses". How we get that final grade is an implementation detail. There's no reason for us to ditch certificate grades for non-financial aid courses

[2016-09-23 20:09] #922 closed

[2016-09-23 21:33] alvinsiu commented on #1097
@aliceriot @pdpinch Just wanted to make sure we're on the same page - we'll be doing currency conversion on the backend, which currently hasn't been implemented yet (so you can't really test anything but "USD").  That will be implemented as part of #1048.

[2016-09-23 21:52] aliceriot commented on #1097
alright, if that's already part of the design that's fine - personally, I would store everything on the backend in USD and do all currency conversion in JavaScript, which would let the user change currencies and so on without needing to hit the backend and simplify the logic overall (all the calculations and so on would be done based on USD and the only conversion would happen at the UI level).

A

[2016-09-23 21:54] noisecapella commented on #1097
@aliceriot I think it needs to be done on the backend so that we have a record of what the exchange rate, basically

[2016-09-23 21:55] aliceriot commented on #1097
ah that makes sense!

[2016-09-23 21:56] alvinsiu commented on #1097
The endpoint expects a post request with the following fields "original_currency", "program_id", and "original_income".

[2016-09-23 22:39] alvinsiu commented on #1048
Removed - will be doing backend:

[2016-09-23 22:44] alvinsiu opened #1110 "Financial Aid: Sending email to learners on status changes."
Continuing from [here](https://github.com/mitodl/micromasters/pull/1096/files/208bbaaa39fec22640e5b4f88e73608ef483858b#diff-d43c1becf2eaa76305a72bd2991dcfc4#r80295314) and [here](https://github.com/mitodl/micromasters/pull/1096/files/208bbaaa39fec22640e5b4f88e73608ef483858b#r80304745), this is a discussion and possible change to where we're making the call to send an email to the learner when thei

[2016-09-23 22:52] alvinsiu commented on #1110
Any thoughts as to moving the email send functionality into the `FinancialAid.save()` method?  That would solve the issue of the `FinancialAid` object saving, but the email not being sent, and would bundle both auditing requirements into the same part of the code.

But thats makes me feel a little uncomfortable in how easy it is to accidentally invoke sending an email to a learner, and that may be

[2016-09-24 19:51] Ferdi commented on #796
@pdpinch is 4) in your "acceptance criteria" list tracked anywhere ?

[2016-09-24 19:53] Ferdi commented on #1078
@gsidebo updated title and description

[2016-09-24 20:00] Ferdi commented on #1049
@alvinsiu

you mean *before* right ?

[2016-09-24 20:03] Ferdi commented on #1105
@pdpinch is  "remove the program drop-down from the sign-up modal on the home page" part of this issue or separate ?

[2016-09-24 20:03] Ferdi commented on #1050
1105 will probably fix this right ?

[2016-09-24 20:05] Ferdi commented on #1047
are we working on this ?

[2016-09-24 20:06] Ferdi commented on #1040
@noisecapella @pdpinch I think this is done , right ?

[2016-09-24 20:09] pdpinch commented on #1047
Alvin told me they had started and expected it to be done Tuesday.

[2016-09-24 20:09] Ferdi commented on #796
@pdpinch never mind. It looks like it's #1000

[2016-09-24 20:10] Ferdi commented on #1047
Great , moved it to ready

[2016-09-24 20:12] Ferdi commented on #1049
@pdpinch does it make sense to link to the e-mail templates here ?

[2016-09-24 20:43] Ferdi opened #1111 "MM home page: Improvements"
Finalize the home page

Todos:
- [x] #1140 copy changes
- [x] Finalize design/styling
- [x] #1200 fixup metatags per https://github.com/joshbuchea/HEAD
  - [x] Favicons
  - [x] split overloaded `<meta>` tag into two (charset first). See https://github.com/mitodl/micromasters/blob/master/ui/templates/base.html#L4
  - [x] Google+ / Schema.org tags  -- see https://github.com/joshbuchea/HEAD#google--s

[2016-09-24 23:32] Ferdi opened #1112 "MM program pages: Improvements"
Finalize the program pages

Todos:
- [x] Finalize design/styling
- [x] Faculty profile widget #923
- [x] #1173 : Introduce social icons to share
- [x] #1134 : Make it SEO friendly (see https://github.com/joshbuchea/HEAD)
- [x] #1189 : Preserve the right side column on FAQ page
- [x] #1179 : "List of courses" widget improvements
- [x] #1190 : FAQ categories
- [x] #1191 : Unique url for each tab
- [

[2016-09-25 00:17] Ferdi opened #1113 "Sign in / up workflow"
Wrap up sign in/up workflow
- [x]  Remove MM dropdown and related code from the sign up popup (see #1105)
- [x]  #1105 Display program drop-down for users with no program
- [x] #1182 : Add TOS to sign in/up popup
- [x]  #1231: After creating new profile, user gets a "No Program Enrollment is available" exception

[2016-09-25 00:20] Ferdi commented on #1105
Updated description and created a new issue for sign in/up  #1113

[2016-09-25 00:43] Ferdi commented on #1045
I have updated the description , pls have a look /cc @zags @pdpinch

[2016-09-25 00:48] Ferdi opened #1114 "Dashboard: Course statuses"
Course statuses update

We currently have 16 status (see screenshot below or [google doc](https://docs.google.com/document/d/1C8JwVxLW0YZBAFwUR06754uz-uyCCEbnvt2TIMJtKk0/edit#heading=h.ho00kfjj2nsd)). They are divided into 4 issues for the front end and two issues for the backend. Since there are some interdependencies, this list is a proposed order for implementation of all the issues:
- [x] #110

[2016-09-25 01:54] Ferdi opened #1115 "Financial aid workflow : UI"
- [x] #1097 : Cost Calculator Form
- [x] #1044 : Auto-approved requests
- [x] #1098 / PR #1291 : Documents required for verification
- [x] #1302 Change address and phone number for financial aid applications
- [x] #1076 : Allow learners to bypass financial aid & pay full price
- [x] #1100 : Docs reviewed and approved / rejected
- [x] #1308 : Seed currency conversion table on -rc and prod instances

[2016-09-25 02:05] Ferdi opened #1116 "Financial Aid: Backend/APIs"
## Backend/API work to support #1115
- [x] #1044 API endpoint for getting a user's price for a course (part of auto-approved requests)
- [x] #1045 Review Page (not technically back-end)
- [x] #1047 auditing
- [x] #1048 currency conversion
- [x] #1049 review actions
- [x] #1118 personalize email sent to learners
- [x] #1091 add unique constraint on FinancialAid objects for user and program
- [X] #1

[2016-09-25 02:15] Ferdi commented on #1058
@noisecapella @pdpinch can you update  the ticket description with all dependent issues ?

[2016-09-25 13:31] pdpinch commented on #1078
@ferdi I don't the title change stuck. Can we discuss this briefly in planning on Monday?

[2016-09-25 13:34] pdpinch commented on #1116
I updated this with what I think is the current status. I don't think #1110 is necessary for MVP, but let me know if you all disagree.

@alvinsiu can you review the description as well?

[2016-09-25 13:35] pdpinch commented on #1115
I updated the description with all the UI stories. I marked #1045 as related, since @alvinsiu has already done it as part of the back-end.

[2016-09-26 13:38] alvinsiu commented on #1049
@Ferdi Marking a financial aid request's status as documents received is coupled with sending the email.  What I mean is that if the financial aid request is not currently pending documents, that is its status is anything but "pending-documents", trying to set it as documents received will fail, consequently no email will be sent to the learner. So yes, no email will be sent before, and also no em

[2016-09-26 13:39] alvinsiu commented on #1045
Makes sense to me!

[2016-09-26 13:46] alvinsiu commented on #1116
I agree - I removed

from the MVP section for now.  Sending emails is bundled with #1049, and this one is a discussion for the best place to call the email and function as an implementation optimization, so not MVP.

The only thing I would change is adding #1091 to the MVP because it bundles protection against multiple financial aid requests before the business requirements for that have been defi

[2016-09-26 13:53] roberthouse54 commented on #1113
As part of this, we will also move the "Terms of Service" w/checkbox from the popup/modal to Sign Up Page 1, since we have the same problem here... The problem with the popup modal in short, is that it contains user inputs that are required for sign up (Selecting a program, and agreeing to ToS), and the user can bypass this modal by clicking LogIn and then returning to the MicroMasters Portal at w

[2016-09-26 13:55] noisecapella commented on #1110
I don't think moving the email send functionality into `FinancialAid.save()` is a good idea for the reason you mentioned. We should do it at the same time that we update the serializer or the model so that it's explicit that the intention was to send email

[2016-09-26 13:55] noisecapella commented on #1110
And I agree about the deadline

[2016-09-26 14:19] aliceriot commented on #1050
@noisecapella I think it's related to there being an additional reducer synced with localStorage on the dashboard which we do not use on the homepage. I think when we undo the dialog selection work that will fix the problem (there won't be a redux store on the homepage any longer).

[2016-09-26 14:35] Ferdi commented on #1049
@alvinsiu Sorry, not particularly familiar with statuses.

Here is the use case I have in mind where I am the learner and you are the reviewer:

- I as a learner, mail my documents.
- 2 weeks have past , and I'm not sure if you received the docs. So I start sending you e-mails (thing that we want to avoid)
- You as a reviewer receive the docs but did not have time to review.  You would like to sen

[2016-09-26 14:55] pdpinch opened #1118 "Financial Aid: personalize email sent to learners"
PR #1096 sets some constants for the e-mail body when notifying users of changes to their financial aid status. See [this comment](https://github.com/mitodl/micromasters/pull/1096/files/208bbaaa39fec22640e5b4f88e73608ef483858b#r80265876)

Ideally, these e-mails would be customized with the user's name and a few other details. Draft templates at https://goo.gl/moqYQu

[2016-09-26 15:00] alvinsiu commented on #1049
Yup, that makes sense and is exactly how it works!  The clarification I asked was just make sure we have the right validation to ensure learners only receive that email once.

[2016-09-26 15:10] gsidebo opened #1120 "(Bug) Course description component has incorrect logic"
from static/js/components/dashboard/CourseDescription.js

[code]

the `else if` conditional does not make sense here. if a course has the status `NOT_PASSED`, it happened in the past by definition. whether or not this conditional can be reached under normal circumstances, it's clearly misplaced, and it's very possible that it should be shown for a different course run status

[2016-09-26 15:14] gsidebo opened #1121 "(Possible bug) Unverified, non-upgradeable course runs assigned failed status"
from dashboard/api.py:265

[code]

If an unverified course run is current/future, but not upgradable, we are assigning a status that indicates that it is a failed course run

[2016-09-26 15:19] noisecapella commented on #1050
@aliceriot makes sense

[2016-09-26 15:20] gsidebo opened #1122 "(Possible bug) Logic for fetching enroll-able CourseRuns may be incorrect"
from courses/models.py:146

[code]

If a CourseRun has a start_date in the future (lets say 5 days from now) and no end_date or enrollment_end, that should probably be an enroll-able course, but this logic will exclude it

[2016-09-26 15:20] noisecapella commented on #1040
No, the problem is that we are using `Program.description` which is in the Django model, but we should be using something like `ProgramPage.homepage_description` which exists in the CMS so other people can edit it.

[2016-09-26 15:23] gsidebo commented on #1101
@pdpinch today < course.end? how can a course be considered 'passed' if the course hasn't ended?

[2016-09-26 15:33] #918 closed

[2016-09-26 15:42] noisecapella opened #1123 "Squashed image on 404 page"
![screenshot from 2016-09-26 11-42-13](https://cloud.githubusercontent.com/assets/863262/18840973/4f728190-83de-11e6-8138-b7c0d73e321d.png)

[2016-09-26 16:00] gsidebo commented on #1102
going to look into the first and second states here for the time being. representing the 'pending' state will require changes to the API and @giocalitri is working on that code right now

[2016-09-26 16:22] #1091 closed

[2016-09-26 16:46] pdpinch commented on #1102
As discussed in planning, the finaid status will be included in the dashboard API

[2016-09-26 16:51] pdpinch commented on #1097
The checkbox is required. We will store the date that the checkbox was checked.

[2016-09-26 17:13] pdpinch commented on #1020
We think it's the program enrollment error message. It may be addressed by another issue.

[2016-09-26 17:26] aliceriot opened #1125 "add Tiers n stuff to management command"
it would be cool if the management command for fake data (`gen_realistic_search_data`) also set up financial aid tiers and whatnot on one of the newly created programs.

[2016-09-26 18:32] pdpinch commented on #1114
I added some more detail to the description and proposed an order for doing the issues.

[2016-09-26 19:05] noisecapella opened #1127 "Add tests for EdXOrgOAuth2"
Some functions aren't covered in the code coverage output, and this class covers important authentication work

[2016-09-26 19:17] Ferdi commented on #1040
Ok, added this in epic #1111

[2016-09-26 20:03] pdpinch commented on #1101
@gsidebo you're right. I changed the description to `course.end` < today

[2016-09-26 20:14] #1049 closed

[2016-09-27 00:10] pdpinch commented on #892
This was fixed incidentally by other styling changes.

[2016-09-27 00:10] #892 closed

[2016-09-27 00:11] pdpinch commented on #870
@gsidebo can we close this now?

[2016-09-27 00:14] pdpinch commented on #153
AFAIK, this is working now.

[2016-09-27 00:14] #153 closed

[2016-09-27 00:18] pdpinch commented on #1121
Since we can't count courses that weren't paid for towards the MicroMasters degree, they certainly aren't "passed" courses.

[2016-09-27 00:20] pdpinch commented on #988
Removed related issue from description about uploading documents.

[2016-09-27 01:18] pdpinch commented on #1114
@gsidebo I found the missing courses statuses. IMO, we only need the first 5 issues -- #1102, #1078, #1103, #1023 and #1077 for MVP.

The remaining two are nice to have, but it will be some time before we have enough course runs to use those states.

[2016-09-27 14:57] #903 closed

[2016-09-27 15:14] noisecapella commented on #870
Yes, this should be fixed

[2016-09-27 15:14] #870 closed

[2016-09-27 15:38] pdpinch commented on #1112
Reopening because #1129 only fixed some of the issues here.

@roberthouse54 can you check off the boxes in the description for anything that's done?

[2016-09-27 15:45] roberthouse54 commented on #1112
I am checking off "Preserve right side column on FAQ page" as this was not the way I designed it. If we want to revisit this, I suggest we do it after the launch.

[2016-09-27 15:45] noisecapella opened #1131 "No logout button on program page"
Not sure if there's already an issue for this, but we should show a logout button when the user is logged in on the program page, like we do on the home page

[2016-09-27 15:52] roberthouse54 commented on #1131
I am fixing this right now

[2016-09-27 15:56] roberthouse54 opened #1132 "Standardize Navbar with MIT brand guidelines and Login/ Logout buttons for Home Page and Program Page"
This is to update the MIT and Micromasters logo treatments to be in line with MIT branding guidelines. I am also going to use the same partial htmls file for the navbar on both pages, and they will both include the Sign Up/ Login/ Logout functionality.

In this PR:

Clicking the MIT logo opens a new tab and links to MIT.edu.
Clicking the Micromasters logo goes to the MicroMasters home page.
Both M

[2016-09-27 15:57] #1131 closed

[2016-09-27 15:57] roberthouse54 commented on #1131
Fixing this with #1132.

[2016-09-27 16:00] roberthouse54 commented on #1132
I am also putting an if/else statement around the button on the hero image to hide it if the user is logged in.

[2016-09-27 16:07] #923 closed

[2016-09-27 18:22] #1132 closed

[2016-09-27 19:31] pdpinch opened #1140 "Home: copy changes"
### Hero image text:

MicroMasters: Learn now, apply later (or never)
A new kind of digital credential for online learners

### What is MicroMasters?

The MicroMasters is a new digital credential for online learners.  The MicroMasters credential will be granted to learners who complete an integrated set of graduate-level courses on edX.org and capstone exams.  With the MicroMasters credentials, le

[2016-09-27 19:32] pdpinch commented on #1140
FYI @roberthouse54

@Ferdi do you want Anna to try to work in the quote from President Reif?

[2016-09-27 19:58] pdpinch commented on #1112
@roberthouse54 it seems really odd that the sidebar disappears when the FAQ is opened. Anna or Amir can do this really quickly -- I don't see that it needs more design work.

[2016-09-27 20:04] pdpinch commented on #1078
I spoke with Giovanni and confirmed that we won't "ditch certificate grades for non-financial aid courses" as @gsidebo put it.

[2016-09-27 20:09] Ferdi commented on #1140
up to @roberthouse54

[2016-09-27 20:46] noisecapella opened #1144 "Move course price from CoursePrice into Program"
This isn't an urgent change but at the same time I feel like we will want this soon for consistency's sake.

[2016-09-27 22:08] alvinsiu commented on #1048
@pdpinch Are there any business requirements about what currencies we need to support or not support?  And do we need to display that information on the frontend somewhere?

Right now, the way we've designed it, the API endpoint will return a ValidationError if the currency isn't supported by the library we use, and the celery task will ensure all all exchange rates are up to date (and consequentl

[2016-09-27 23:04] alvinsiu commented on #1048
@aliceriot Just wanted to double check that I have things stright - the first two tasks will be closed by #1146, and the second two tasks are your domain, correct?

The "Data file of currencies per country" is currently in `financialaid/data/country_to_currency.csv`.  Let me know if there's anything we can help with other than that!

[2016-09-28 14:15] alvinsiu commented on #1044
Oops - didn't mean to close it with the PR.  The endpoint for course price is merged, the other two items are still pending but I think falls under @aliceriot's expertise.

[2016-09-28 14:28] aliceriot commented on #1048
Oh! I forgot about that file. Is the backend just expecting an ISO 4217 currency code? I found a JS package that provides a nice api for code -> country correspondance using that standard: https://github.com/freeall/currency-codes

[2016-09-28 15:13] noisecapella opened #1150 "Financial aid: GET endpoint for financial_aid_request API"
The endpoint should be `/api/v0/financial_aid_request/<program_id>/`, restricted only to the logged in user's financial aid requests, and it should basically return the fields in `FinancialAid`.

[2016-09-28 15:16] noisecapella commented on #1150
Will be integrated into the dashboard API

[2016-09-28 15:16] #1150 closed

[2016-09-28 15:33] gsidebo opened #1151 "Fetch course prices in front end"
We need to call the course price endpoint (merged in #1099) in the MM front end to make those prices available in our UI. This work will support several issues where course prices need to be displayed (eg: #1102 #1097)

[2016-09-28 15:38] pdpinch commented on #1140
@annagav I updated the copy a bit around 11am. Also, not that the headers *don't* change - I was a little lazy typing them.

[2016-09-28 15:43] #1050 closed

[2016-09-28 15:45] alvinsiu commented on #1048
Yup!  The [documentation](https://docs.openexchangerates.org/) for the exchange rate API we're using only says "3-letter ISO code), but I think ISO 4217 is the only major one for currencies.

Up to you if you want to use that file or not!

[2016-09-28 15:57] aliceriot commented on #1048
I already wrote the code using that JS package, so we should probably delete the file at some point.

[2016-09-28 16:09] pdpinch opened #1153 "Home: Style mailchimp form"
Should look like this:

![image](https://cloud.githubusercontent.com/assets/430126/18921899/9914ef62-8574-11e6-9ab3-fb1010daac34.png)

Not like this:

![image](https://box.everhelper.me/attachment/592280/294cebcd-2b1c-407e-886d-de8090c6ecb0/623857-EVN9fugAdiUZu3kL/screen.png)

[2016-09-28 16:13] pdpinch commented on #1153
Check with @pdpdinch before working on this, to see if there have been any changes to the form fields.

[2016-09-28 16:26] pdpinch opened #1154 "Per-program Google Analytics"
MicroMasters teams are going to want some custom analytics -- at least for their program page -- but we don't want everyone to see each other's traffic.

We can solve this by creating a GA property for each program and then adding it to appropriate pages. For now, that means the program page.

- [x] @pdpinch will create GA properties for SCM and DEDP (and maybe a little research on whether this ca

[2016-09-28 16:43] alvinsiu commented on #1048
Oh cool!  Should we remove these two then?  Or are those still in queue?

[2016-09-28 17:23] aliceriot commented on #1048
I think we can take care of both of those in JS

[2016-09-28 17:54] pdpinch commented on #1040
I'm closing this. We don't want to let the program teams have direct control over the home page.

[2016-09-28 17:54] #1040 closed

[2016-09-28 17:56] alvinsiu commented on #1048
Should I remove those two items from this issue (if they're already on another issue) or leave them here for you?

[2016-09-28 17:57] #1125 closed

[2016-09-28 17:57] #1047 closed

[2016-09-28 17:58] #1097 closed

[2016-09-28 18:02] aliceriot commented on #1048
oh sorry, I guess maybe leave the second one and remote the first.

[2016-09-28 18:04] alvinsiu commented on #1048
Removed

[2016-09-28 18:15] aliceriot commented on #1068
I'm gonna steal this!

[2016-09-28 18:46] #1140 closed

[2016-09-28 19:17] #1095 closed

[2016-09-28 20:16] noisecapella opened #1160 "Add minimum and maximum price to course price API"

[2016-09-28 20:35] #1160 closed

[2016-09-28 20:35] noisecapella commented on #1160
Will be part of dashboard

[2016-09-29 00:40] pdpinch commented on #1113
Thinking about this some more @roberthouse54 :

the issue we have now is that a user can sign up / log in with edX and only afterwards do they get the terms of service link. That means they've given us their e-mail address and edX profile data before they know our terms of service.

I think we need to move the terms of service link back into the signup modal and we need to present it to users who

[2016-09-29 00:53] alvinsiu opened #1163 "Update financial aid auto approval tiers"
[DEDP_Oct15_final.xlsx](https://github.com/mitodl/micromasters/files/499557/DEDP_Oct15_final.xlsx)

[2016-09-29 12:24] pdpinch commented on #1106
I spoke with @roberthouse54 and we're going to go with the default anchored "Help" button from ZenDesk. He is interested in styling the button though, if that's possible.

I'll generate the necessary javascript from zendesk and then you can add it @amir-qayyum-khan

[2016-09-29 12:50] amir-qayyum-khan commented on #1106
@pdpinch  sure, please tell me where (on which page ) I should add this button? And what will it do?

[2016-09-29 14:29] #1068 closed

[2016-09-29 16:11] noisecapella opened #1170 "Currency codes don't match up perfectly between JS client and the server"
Related to #1146

`json_codes` comes from `JSON.stringify(cc.codes())` on the client. `py_codes` comes from `CurrencyExchangeRate.objects.values_list('currency_code' , flat=True)`

    In [32]: py_codes - json_codes
    Out[32]: {'BTC', 'BYN', 'EEK', 'GGP', 'IMP', 'JEP', 'MTL', 'SVC', 'ZMK', 'ZWL'}

    In [33]: json_codes - py_codes
    Out[33]:
    {'BOV',
     'CHE',
     'CHW',
     'COU',

[2016-09-29 21:32] #1077 closed

[2016-09-29 21:32] #1078 closed

[2016-09-29 23:35] zags commented on #1048
@aliceriot FYI, these are the currencies we support on the backend: https://oxr.readme.io/docs/supported-currencies
We should limit the user to these in their selection.

[2016-09-30 10:34] #1151 closed

[2016-09-30 12:37] pdpinch opened #1177 "django admin improvements for configuring financial aid"
If I can see the discount and threshhold in the TierProgram admin list view, I can visually confirm the financial aid configuration from one page.

[2016-09-30 13:52] pdpinch opened #1179 "Program Pages: "List of courses" widget improvements"
- [ ] Each course should also include a short description
- [ ] There should be a way for users to see more information about the course. For example by link to "course about page"

[2016-09-30 13:58] pdpinch opened #1180 "Add professional certifications to profile"
SCM requested this. I'm trying to get a better idea about what types of data they want to collect. We'll probably go with a free text field and a date.

@ferdi does this go on education or professional profile form?

[2016-09-30 13:59] alvinsiu commented on #1076
@pdpinch #1175 implements the backend API for this.  Is there another issue for the frontend work so I can close this issue with the PR, or is this the issue for that and I shouldn't close this issue with the PR?

[2016-09-30 14:31] pdpinch commented on #1076
Thanks Alvin. There isn't a separate issue for the front-end. I added some check boxes instead and checked off the first one for you.

[2016-09-30 14:36] noisecapella opened #1181 "Sign up and login buttons don't work on terms of service page"

[2016-09-30 14:50] #1163 closed

[2016-09-30 15:30] amir-qayyum-khan opened #1184 "api crash (500 error) when there in no price of course"
hi

api ```/api/v0/course_prices/ ``` gets crash when their in no price for course, here is trach

[code]

cc @pdpinch

<img width="1030" alt="screen shot 2016-09-30 at 8 23 27 pm" src="https://cloud.githubusercontent.com/assets/10431250/18997223/d9ba9b14-874c-11e6-9075-be553041dddf.png">

[2016-09-30 15:40] noisecapella commented on #1184
This is expected behavior, you need at least one `CoursePrice` for a program

[2016-09-30 15:49] pdpinch commented on #940
@roberthouse54 do we still have a need for this tooltip?

[2016-09-30 15:54] pdpinch commented on #946
Updated description 9/30. 19/32 boxes checked, or about 60%. However, there are new issues that are missing from this list now.

[2016-09-30 16:25] #1058 closed

[2016-09-30 17:33] pdpinch commented on #946
This is irrelevant now.

[2016-10-02 18:33] pdpinch commented on #990
Replaced by #1045

[2016-10-02 18:33] #990 closed

[2016-10-02 18:39] pdpinch commented on #763
@giocalitri was this issue covered already by #1094?

[2016-10-02 19:08] #1177 closed

[2016-10-03 03:45] Ferdi opened #1190 "Program pages: FAQ categories"
For some MM programs, FAQs needs to be grouped in categories.

## Acceptance Criteria

- [ ] Add a field to the FAQ model in the CMS to categorize
  - [ ] If possible, the CMS should display categories as grouped to aid authoring
- [ ] Group Questions / Answers based on category in the template

[2016-10-03 03:48] Ferdi opened #1191 "Program pages: Unique url for each tab"
Navigation menu items currently don't get a unique url. This create a problem when someone wants to e-mail/share a particular page (e.g. FAQ page)

[2016-10-03 11:02] pdpinch commented on #1154
SCM: UA-85136501-1
DEDP: UA-85136501-2

[2016-10-03 11:19] pdpinch commented on #1106
Updated the description to answer @amir-qayyum-khan's questions in https://github.com/mitodl/micromasters/issues/1106#issuecomment-250456645

[2016-10-03 12:03] pdpinch commented on #1111
@annagav @singingwolfboy I added a few more details that need to be addressed in the "SEO" section.

[2016-10-03 12:21] pdpinch commented on #762
@giocalitri was this issue covered already by #1094?

[2016-10-03 12:37] giocalitri commented on #762
Yes, it was.

[2016-10-03 12:39] giocalitri commented on #763
No, I actually forgot to implement the batch update part in that PR.
Please assign this issue to me: I will work on it asap.

[2016-10-03 12:40] pdpinch commented on #762
I'll close it then.

[2016-10-03 12:40] #762 closed

[2016-10-03 14:12] amir-qayyum-khan commented on #1106
@pdpinch what are TOS and Financial Aid Review pages, can you give me url? or screenshots?

[2016-10-03 14:28] pdpinch commented on #1106
TOS = "terms of service" => /terms_of_service/

The financial aid review page hasn't been merged yet. It's part of PR #1161

[2016-10-03 14:30] Ferdi commented on #1106
Where does the button goes in the page(s) ?

[2016-10-03 14:31] pdpinch commented on #1106
The default position is for it to be anchored to bottom edge of the window, on the right.

[2016-10-03 14:45] roberthouse54 commented on #658
I am not sure if we are still planning on doing this, but I think the better solution is the one where we put a character limit on the text entry field in the Django admin, or wherever we are editing this copy.

[2016-10-03 14:53] noisecapella opened #1193 "Remove program enrollments filtering on dashboard"
There's the assumption that the dashboard contains all live programs, so we need to remove the filter which was added recently restricting this to program enrollments. After MVP we should add back this filter and make use (and secure) the `/api/v0/programs/` API in the front end for this purpose instead

[2016-10-03 15:16] #1193 closed

[2016-10-03 15:17] noisecapella opened #1195 "Filter dashboard by program enrollments"
Related to #1193. After MVP is released we should refactor our code to use `/api/v0/programs/` for the list of available programs and only show programs the user has enrolled in in `/api/v0/dashboard/`

[2016-10-03 15:19] noisecapella opened #1196 "Refactor ProfileProgressControls"
Deferred in #1117. We should do the program enrollment in saveProfile instead of adding a new prop and special code to ProfileProgressControls

[2016-10-03 15:33] alvinsiu opened #1197 "Audit financial aid object changes in Django Admin"
We should add logging to changes made to `FinancialAid` objects in Django admin.

[2016-10-03 15:34] alvinsiu opened #1198 "Make Django Admin for audit logs read-only"
We should make audit logs read-only in Django Admin.

[2016-10-03 15:45] amir-qayyum-khan commented on #1106
why not on footer?

[2016-10-03 15:46] Ferdi commented on #1106
@amir-qayyum-khan It should be easily accessible to the users , at least in the first phase.

[2016-10-03 15:48] amir-qayyum-khan commented on #1106
can we use a floating button for this?
 https://github.com/nobitagit/react-material-floating-button

[2016-10-03 15:51] roberthouse54 commented on #1179
![image](https://cloud.githubusercontent.com/assets/20047260/19043803/b3c81016-895f-11e6-8e36-47f5824d2a93.png)

[2016-10-03 15:52] roberthouse54 commented on #1106
No, please just use the ZenDesk defaults.

[2016-10-03 15:53] roberthouse54 commented on #1190
For the FAQ tab UI, please just add an H2 header element, and I can tweak the styles later.

[2016-10-03 16:07] pdpinch commented on #1111
Regarding favicons, we've already implemented the only size that is approved by MIT. See http://mit.edu/graphicidentity/download-logos.html

[2016-10-03 16:10] pdpinch opened #1200 "fixup meta tag and add schema.org metatags"
A couple more things recommended by  https://github.com/joshbuchea/HEAD

- [ ] split the meta tag at https://github.com/mitodl/micromasters/blob/master/ui/templates/base.html#L4 into two.
  First one with `charset`, as close as possible to the start of the page.
  2nd one with the viewport settings.
- [ ] Add Google+ / Schema.org tags
  see https://github.com/joshbuchea/HEAD#google--schemaorg

[2016-10-03 16:19] pdpinch opened #1201 "Reset learner's financial aid request"
Learners are not allowed to make multiple financial aid submissions, but accidents do happen. If a learner contacts us, we need a method to reset their state and let them submit again.

We don't need a course-team UI for this. It can be via django admin, if that is convenient.

As discussed, we don't want to delete the original submission, but rather change the state and allow a new submission.

[2016-10-03 16:19] pdpinch commented on #1201
Hey @alvinsiu let me know if this is sufficiently defined in order to work on it.

[2016-10-03 16:19] pdpinch commented on #1201
@giocalitri fyi

[2016-10-03 16:54] #1118 closed

[2016-10-03 18:27] roberthouse54 opened #1203 "Make the tabs scrollable on the Program Page"
Currently on the Program page, the Tabs UI breaks on mobile... the tabs wrap underneath each other. Mobile tabs are supposed to be scrollable in Material design (see: https://material.google.com/components/tabs.html#tabs-types-of-tabs)

I was going to try to do this as part of the responsive css issue, but I couldn't figure out how to do this in the css, and it may require javascript... not sure.

[2016-10-03 19:35] noisecapella opened #1205 "Use date picker for document date selector"

[2016-10-03 20:26] pdpinch commented on #1191
@Ferdi are hashes OK for this, or do we need more?

I'm wondering in particular, once we add categories to the FAQ (#1190) if we might need to target particular parts of the FAQ page.

[2016-10-03 20:47] Ferdi commented on #1191
I'm not really sure why we are implementing these tabs in JS.   For example, in terms of SEO, are metatags going to change based on where you are homepage or FAQ?

[2016-10-04 11:39] #1105 closed

[2016-10-04 12:53] pdpinch commented on #1191
I don't think there was a particularly strong reason for implementing this in JavaScript. It does make the UI more responsive, but other than that we move to one page per tab.

How would the metatags be different for a program page and a program FAQ? We can give them different title, keyword and description, but I don't think that would have much of an effect on SEO (other than potentially getting

[2016-10-04 13:46] alvinsiu commented on #1201
I think this is defined enough - we'll need to do a little thinking, but @giocalitri let me know if you have any thoughts (besides what you already mentioned over HipChat) before we do any implementation.

[2016-10-04 13:55] Ferdi commented on #1201
It does not sound straightforward. If so,  let's do it post MVP.

[2016-10-04 13:55] #1181 closed

[2016-10-04 13:57] noisecapella opened #1212 "Login button doesn't show sign up dialog"

[2016-10-04 13:57] alvinsiu commented on #1201
Let's do it post MVP then.  The long term solution is definitely not very straightforward (though the simple solution of deleting the `FinancialAid` object is pretty straightforward to implement, but has many consequences for auditing).

[2016-10-04 14:05] giocalitri commented on #1201
Deleting is not an option.

[2016-10-04 14:30] pdpinch opened #1214 "Financial Aid: display "date sent" in the Review Form"

[2016-10-04 14:36] roberthouse54 commented on #1191
I suggest that we hold off on any further changes to this page. The SEO is not a huge issue in my opinion, and we can revisit after the MVP launch if needed.

[2016-10-04 14:38] pdpinch commented on #1191
@Ferdi and I spoke this morning and came to the same conclusion. We'll probably revisit when we get to work on #597

[2016-10-04 16:08] pdpinch opened #1218 "Capacity testing for production app"
Do some simple load testing so we have an idea how many clients we can server with a basic production set up on Heroku.

[2016-10-04 16:09] pdpinch opened #1219 "Mail monitoring"
However we resolve the mail issue, we need a way to set up alerts if a large number of our outgoing e-mails are getting bounced.

[2016-10-04 16:17] pdpinch opened #1220 "Production Ready"
## Acceptance Criteria
- [x] Move to production dyno
- [x] Move db to production db
- [X] #707 Move elasticsearch from bonsai to AWS
- [x] #469 Performance Monitoring
- [x] #980 Production error monitoring
- [x] #1219 Mail Monitoring
- [x] #1218 Load Testing

## out of scope
- We don't think we need to upgrade Redis

[2016-10-04 16:17] pdpinch commented on #1220
@blarghmatey I think this is everything from my whiteboard. Feel free to add anything else that's missing from the checklist.

It would be helpful to include some details on the individual issues about how things are configured.

[2016-10-04 16:28] pdpinch commented on #1044
@noisecapella @aliceriot I'm not sure if this is already done. Feel free to close if it is.

[2016-10-04 16:31] pdpinch commented on #1100
@noisecapella @aliceriot I'm not sure if this is already done. Feel free to close if it is.

[2016-10-04 16:51] pdpinch commented on #967
@amir-qayyum-khan can you work on this?

[2016-10-04 17:34] noisecapella commented on #1044
Yes I think every item is done in the list

[2016-10-04 17:34] #1044 closed

[2016-10-04 17:48] #763 closed

[2016-10-04 19:13] Ferdi commented on #469
@blarghmatey Can you update the description/status pls ?

[2016-10-04 19:13] Ferdi commented on #980
@blarghmatey can you update description/stuatus / what needs to be done ?

[2016-10-04 19:23] singingwolfboy opened #1222 "Use <button> tag for accessibility"
For accessibility purposes, we should use the `<button>` tag for any action the user can take within the scope of a single page, and the `<a>` tag for a link from the current page to a different page. As a rule of thumb, any time see `<a href="#">`, or an `<a>` tag without an `href` attribute, you should convert it to a `<button>` instead.

[2016-10-04 19:27] #1200 closed

[2016-10-04 19:45] pdpinch commented on #1191
Since we've discovered a bug in the JavaScript implementation, it seems wisest to change direction and go with a full URL for each tab.

[2016-10-04 19:46] pdpinch commented on #1154
Since this GA tag will appear on the program page and each program's FAQ page, we should complete #1191 before starting this.

[2016-10-04 19:56] #1102 closed

[2016-10-04 20:22] blarghmatey commented on #469
We have the MicroMasters app configured to use NewRelic which will alert based on their Apdex score which is a proxy for user experience. If it falls below a configurable threshold (currently 0.7) it will fire an alert which gets routed to the on-call operations engineer via OpsGenie. NewRelic also provides request rates and response times. We can also get that information from Heroku.

NewRelic w

[2016-10-04 20:24] blarghmatey commented on #980
I am setting up Sentry to aggregate and monitor exceptions from the app. I will also add calls at integration points to alert on failed requests to edX API endpoints so that we can trigger threshold alerts on multiple failures.

[2016-10-04 20:34] gsidebo opened #1223 "Enable 'enroll and pay later' functionality in UI"
design: https://projects.invisionapp.com/share/NB7VM1GSG#/screens/185611170

In several different cases, we need to provide users with the ability to enroll in a course immediately and pay later. Currently this link exists but doesn't do anything. The API endpoint to perform this enrollment is being done in a separate PR (#1226)

[2016-10-04 20:38] gsidebo opened #1225 "Enable 'View on edX' link on dashboard"
Design: https://projects.invisionapp.com/share/NB7VM1GSG#/screens/185611170

Any course that a user has enrolled in (past or current, pass or fail) shows a 'View on edX' link. This issue covers the work necessary to make that a working link

[2016-10-04 21:02] singingwolfboy commented on #1190
Is this more like a tagging scheme, where each question can be tagged with multiple categories, and each category can be used for multiple questions? Or is it a many-to-one relationship, where each category can contain multiple questions, but each question has only one category? Also, is it mandatory for each question to have at least one category, or should we support uncategorized questions? (Wh

[2016-10-04 21:29] singingwolfboy commented on #1190
Also, are the categories hierarchical? That is, can you have a categories and sub-categories? Or is there only one level of categorization?

[2016-10-04 21:32] pdpinch commented on #1190
I believe we were thinking one level, with a many to one relationship -- each category has multiple questions.

It would be useful to allow an "Uncategorized" option, but I'm not sure what the design would be.

@ferdi? @roberthouse?

[2016-10-04 21:38] Ferdi commented on #1190
- no hierarchy - flat
- tags is a superset of many-to-one in this context but harder to implement
in cms? Yes?
- a program either use categories (then tagging /categorization becomes
required) or not at all

- Sent from my phone

[2016-10-04 21:39] noisecapella opened #1227 "'My dashboard' link should go to learners page for staff"

[2016-10-04 21:45] singingwolfboy commented on #1190
Wagtail doesn't have built-in support for tagging, but it has a [tagging recipe right in the official documentation](http://docs.wagtail.io/en/v1.6.2/reference/pages/model_recipes.html#tagging), demonstrating how such a feature could be built using other modules in the Django ecosystem. There's no equivalent recipe for many-to-one categories, although I did find [a StackOverflow question with some

[2016-10-04 21:50] noisecapella opened #1228 "Exception occurs when user enters an income that's too low in the financial aid calculator"
2016-10-04T21:49:02.160992+00:00 app[web.1]: Traceback (most recent call last):
    2016-10-04T21:49:02.160993+00:00 app[web.1]:   File "/app/.heroku/python/lib/python3.5/site-packages/django/core/handlers/base.py", line 149, in get_response
    2016-10-04T21:49:02.160994+00:00 app[web.1]:     response = self.process_exception_by_middleware(e, request)
    2016-10-04T21:49:02.160996+00:00 app[web.

[2016-10-04 21:58] noisecapella opened #1229 "FinancialAidAudit data_before and data_after store JSON as text representation"

[2016-10-04 22:08] pdpinch commented on #469
What are the first-response remedies for a low appdex score or high response time?

[2016-10-04 22:09] pdpinch commented on #980
I'm also concerned about failures on internal API requests (i.e. between the front-end and the backend), like the one we saw today. Can we track those as well?

[2016-10-04 22:11] noisecapella opened #1230 "Pay now button shown even if user has already paid"
I think I got this bug due to me not being enrolled in edX at the time, but we shouldn't rely on that to show the correct dashboard status since the user can unenroll at any time

[2016-10-04 22:14] pdpinch commented on #1229
I'm not sure what this means. More importantly, do we need to do it before 10/15?

[2016-10-04 22:19] noisecapella commented on #1229
The data is stored in a JSONField but it's stored as the text representation so we're unable to use the Django ORM to filter the JSON. It would be nice to get this done before release because I don't like the idea of doing data migrations after release on audit tables. But if we're not planning on searching the audit table it's not really necessary

[2016-10-04 22:22] pdpinch commented on #1229
If this is just a data migration, I agree that doing it now would be much better.

[2016-10-04 22:55] pdpinch opened #1231 "After creating new profile, user gets a "No Program Enrollment is available" exception"
Steps to reproduce:

1. Sign up for the portal using an edX account with no profile.
2. Complete the profile. Note in particular the program chosen on the first form.
3. Finish the profile and load /dashboard

Result:

![image](https://s3.amazonaws.com/uploads.hipchat.com/151776/1096500/9DDOBY8Ret3M0gO/error.png)

Expected result:

A complete dashboard with the correct program data displayed. On m

[2016-10-04 22:56] pdpinch commented on #1231
observing the logs during the sequence, this is the only exception that comes up:

[code]

[2016-10-05 00:10] Ferdi commented on #1190
@singingwolfboy and I just chatted a bit.

In #1232 categories are shared across all programs (the way wagtail snippets work , I think) so DB will come up with another PR where FAQ categories will be:
- scoped to each individual program
- Orderable
- Optional

[2016-10-05 00:28] alvinsiu commented on #1045
[PR](https://github.com/mitodl/micromasters/pull/1161) is ready for review for this issue.  The only thing remaining is a list of justifications, and then any other requested tweaks/changes (which should probably be a new issue).

[2016-10-05 10:00] amir-qayyum-khan commented on #1123
@noisecapella @pdpinch i dont think this issue exist on master branch. It seems already fixed

![screen shot 2016-10-05 at 2 59 25 pm](https://cloud.githubusercontent.com/assets/10431250/19108953/7a39950a-8b0c-11e6-8181-c25de3faad74.png)
<img width="645" alt="screen shot 2016-10-05 at 2 59 47 pm" src="https://cloud.githubusercontent.com/assets/10431250/19108954/7a6ad840-8b0c-11e6-88a4-70af95523d9c

[2016-10-05 11:27] amir-qayyum-khan commented on #1227
@pdpinch @noisecapella what about 404 and 500 error pages. There is dashboard link there as well.

<img width="1280" alt="screen shot 2016-10-05 at 4 25 53 pm" src="https://cloud.githubusercontent.com/assets/10431250/19111335/82a1814c-8b18-11e6-8b8a-d14f49787f57.png">
<img width="1280" alt="screen shot 2016-10-05 at 4 26 08 pm" src="https://cloud.githubusercontent.com/assets/10431250/19111336/82a3

[2016-10-05 11:45] pdpinch commented on #1227
Should behave the same if possible:

Staff => learner search
Learner => dashboard

[2016-10-05 12:03] amir-qayyum-khan commented on #1227
Fixed

[2016-10-05 12:18] amir-qayyum-khan commented on #967
@gsidebo what do you mean by that?
you are saying after you run command, you use enroll created student manually and you want to put this feature in command, so that program create user as well as enroll.

[2016-10-05 12:40] pdpinch commented on #679
I requested the accounts from edX and I have a prod account now, but no stage account yet.

[2016-10-05 13:27] gsidebo opened #1234 "'#undefined' anchor added to home page after login"
![ss 2016-10-05 at 09 25 58](https://cloud.githubusercontent.com/assets/14932219/19114893/dffd7660-8add-11e6-85f6-a4a1ea5d243d.png)

when i navigate directly to http://192.168.99.100:8079/ (my local MM instance), '#undefined' is added to the url

[2016-10-05 13:43] Ferdi commented on #1234
Yes, that's a bug.  That's what @pdpinch meant in his comment https://github.com/mitodl/micromasters/issues/1191#issuecomment-251492175

[2016-10-05 13:51] noisecapella commented on #1231
If the user refreshes the dashboard afterwards, does it fix the problem? I'm feeling like it might be a race condition, haven't tried it out locally yet though

[2016-10-05 14:12] Ferdi commented on #1230
This seems tricky to "fix", is that right ?

[2016-10-05 14:26] noisecapella commented on #1230
No it's easy to fix. For financial aid programs, if there is a fulfilled `Order` connected to a course run, we should not show the pay button anymore. I think we currently use the enrollment information from edX to make this determination but for financial aid programs we should just use our `Order` table.

[2016-10-05 14:56] #1212 closed

[2016-10-05 15:03] blarghmatey commented on #707
This has been deployed in its own VPC as a 3 node cluster of Elasticsearch servers. They are using the elasticsearch-readonlyrest-plugin to segregate access to the indices for pre-prod and production environments. The traffic is being proxied by Nginx to allow for TLS encrypted communications from the Micromasters app running in Heroku.

[2016-10-05 15:05] gsidebo commented on #967
this is done, actually. i must have forgotten to link to this issue in the PR. sorry for the confusion!

[2016-10-05 15:05] #967 closed

[2016-10-05 15:13] alvinsiu opened #1235 "Currency exchange objects are not created until celery tasks are run"
Need to create a management command or similar to run on deployment to generate the currency exchange objects

[2016-10-05 15:18] pdpinch commented on #1235
can you explain a bit more? It sounds like we need this for 10/15?

[2016-10-05 15:29] alvinsiu commented on #1235
Yeah, this is definitely needed for 10/15.  Basically, there is a task registered to update/create currency exchange objects in the database to do currency conversions when calculating cost.  But those database objects won't be there until the first task runs, so we'll need to generate those at run-time.

Currently, clicking calculate cost with any currency other than USD has no effect on the fron

[2016-10-05 15:39] alvinsiu commented on #1228
@noisecapella What income did you submit?  My guess from this traceback is there was no $0 threshold `TierProgram` set up.

A couple ideas:
- A management command that can be run to ensure proper setup for all programs (like, `TierPrograms` set up if `Program.financial_aid_availability is True`, $0 threshold `TierProgram` exists, etc.)
- Hook something into the deployment process that automaticall

[2016-10-05 15:40] roberthouse54 opened #1237 "Truncate the Course Descriptions on the Program page, with a link to Read More on Edx"
The course descriptions are a bit too long on the Program Page, and we also want to let users know that the link will go to edX.

The solution is to show the description in a popup when the user clicks the description link. This popup will include the course name, the description and a link to "View on edX". Clicking outside of the popup should make it close. For mobile, the popup should take up t

[2016-10-05 15:41] noisecapella opened #1238 "When user enrolls in a new program they get a 'No program enrollment is available' message"
To produce this bug I was enrolled in three `ProgramEnrollment`s on micromasters-rc. I deleted the one I was on currently then refreshed the page. I added it back using the 'Enroll in a new program' dialog. After the refresh happened I got the 'No program enrollment is available.'

I think this is due to course prices not being refreshed at the same time as the dashboard API. If I refresh the page

[2016-10-05 15:43] pdpinch commented on #1231
That is my experience, repeated twice, happened both times.

[2016-10-05 15:53] pdpinch commented on #1234
This should be fixed by @annagav's next iteration on #1204

[2016-10-05 15:54] pdpinch commented on #1235
Can I assign this to you?

[2016-10-05 15:56] pdpinch commented on #1238
Might this have the same cause as #1231 ?

[2016-10-05 15:56] noisecapella commented on #1238
Yes it's likely

[2016-10-05 15:58] noisecapella opened #1239 "Add logging for IsSignedByCybersource"
This is a permission class which verifies the HMAC signature for posts to `/api/v0/order_fulfillment/`. We should add logging for cases when this fails, otherwise we won't know if we have a Cybersource configuration problem here

[2016-10-05 16:05] noisecapella opened #1240 "Memory warnings on micromasters-rc logs"
I haven't encountered any errors as a user but we should figure out what is causing this and see if it's important

[2016-10-05 16:06] #1205 closed

[2016-10-05 16:15] pdpinch commented on #1228
I'm not a huge fan of the `ImproperlyConfigured` approach, but at least it would be consistent, so we'll know what the issue means when we see it.

That also seems like the quickest solution.

[2016-10-05 16:16] #1184 closed

[2016-10-05 16:42] noisecapella opened #1242 "Possible race condition with order fulfillment"
Since order fulfillment happens via postback, the user may get redirected back to the dashboard before the order is fulfilled. This means they still see the pay button even though they paid. So far this has been instantaneous so we haven't seen this yet but we may encounter it after release. Ideas to fix:

 - replace the order fulfillment message with 'Order being fulfilled, may take a few minutes

[2016-10-05 16:58] zags commented on #1228
Alternatively, we could just use the lowest available tier, even if it's income threshold is higher than 0.  Would you prefer this or `ImproperlyConfigured`

[2016-10-05 17:00] zags commented on #1235
By the way, the purpose of the management command is simply to allow the system to have currency conversion numbers in the first day after initial deployment.  Any system where celery has been running for a day will be fine without this fix.   This will also facilitate local development.

[2016-10-05 17:19] pdpinch commented on #1228
`ImproperlyConfigured` otherwise, I think we assume too much.

[2016-10-05 18:34] noisecapella opened #1245 "base_error.html needs header to be updated"
The popup isn't showing for the 'sign up with edx' link on `base_error.html`. I don't think we care too much about how this page looks but if we're relying on the user having a link to the terms of service we should add the popup, or alternatively remove the sign up link completely

We decided that we should remove the pop-up from the error template.

[2016-10-05 18:39] noisecapella opened #1247 "Change text if min and max prices are the same"
Probably pretty low on our list of priorities but I wanted to make an issue to keep a record of it

![screenshot from 2016-10-05 14-38-54](https://cloud.githubusercontent.com/assets/863262/19126594/89b84218-8b09-11e6-9811-8a65c1a97f87.png)

[2016-10-05 19:15] noisecapella opened #1248 "page_404 error"
I ran into this when I was directed back to the dashboard after fulfilling the order

    2016-10-05T19:11:21.107661+00:00 app[web.1]: [2016-10-05 19:11:21] WARNING 18 [django.request] base.py:182 - [b88fcf9b-672f-4997-9725-26581357feca] - Not Found: /favicon.ico
    2016-10-05T19:11:21.128502+00:00 app[web.1]: [2016-10-05 19:11:21] DEBUG 18 [django.template] base.py:927 - [b88fcf9b-672f-4997-9725

[2016-10-05 19:17] noisecapella commented on #1248
I'm not sure if this is a newrelic error or an error on our side. I'm also confused about the 404 part. At least we should change `page_404` to accept args and kwargs so this error isn't possible

[2016-10-05 19:37] alvinsiu opened #1250 "Remove rejected status from FinancialAid"

[2016-10-05 19:44] noisecapella opened #1251 "Course price API should output adjusted price"
Currently it outputs the full price until the financial aid is approved, but this means the user sees the full price instead of the discounted price right after they submitted a financial aid application. In this example the full price is $2345 and there's a $900 discount, but the user sees $2345 instead of $1445:

![screenshot from 2016-10-05 15-43-20](https://cloud.githubusercontent.com/assets/8

[2016-10-05 19:52] pdpinch commented on #1251
@alvinsiu does this need to be fixed in the API?

[2016-10-05 19:57] alvinsiu commented on #1251
It's probably the most straightforward to do it in the course price API, but I'll defer that to whomever is writing the frontend for it (since it can also be calculated via information that's already existing, I think, from the dashboard API).

[2016-10-05 20:05] noisecapella commented on #1251
The dashboard only has information about the minimum and maximum cost, not the assigned tier's cost, so we need to change the price in the price API

[2016-10-05 20:12] alvinsiu commented on #1251
Sounds good.  Currently it returns:

`program_id (int)`
`price (float)`
`financial_aid_adjustment (bool)`
`financial_aid_adjustment (bool)`
`financial_aid_availability (bool)`

Would it suffice to return an additional field `pending_price (float)`?

[2016-10-05 20:16] noisecapella commented on #1251
I'd prefer if we just output it in place of `price` for the pending states. I can't think of a use case for having both in the API at the same time

[2016-10-05 20:21] alvinsiu opened #1254 "Auto-approved financial aid applications return the incorrect values for course price"
In `financialaid.api.get_formatted_course_price`, auto-approved applications return False for `financial_aid_adjustment` and the full price for `price`

[2016-10-05 20:22] alvinsiu commented on #1251
Are we also using this for determining how much a learner is supposed to pay in ecommerce?  If so, and a learner has a pending application but decides to just pay now anyway, I think it would make more sense to not have to pull the course price separately if their application isn't in an approved state.

[2016-10-05 20:25] noisecapella commented on #1251
We are using the same function for ecommerce, but the user is not allowed to checkout unless they are in one of the terminal states. I think their status would need to be 'skipped' to skip the financial aid workflow and pay full price

[2016-10-05 20:27] alvinsiu commented on #1251
Ah, that makes sense.  I'll do it in place of price.

Let me know if any of the other three returned values are no longer necessary:

[2016-10-05 20:32] noisecapella commented on #1251
We aren't using `financial_aid_adjustment` but we are using the other two. Feel free to remove it or leave it around

[2016-10-05 20:34] Ferdi commented on #1251
Maybe unrelated to your discussion, but just to make sure, user can decide not to send the supporting docs and enroll full price after going through the fin. aid app, right ?

[2016-10-05 20:34] alvinsiu commented on #1251
Yes, the API endpoint to support that is in place.

[2016-10-05 21:10] #1076 closed

[2016-10-05 21:44] alvinsiu commented on #600
How are we defining region?  Is that country and state/territory?

[2016-10-05 23:26] giocalitri commented on #600
I do not think this story is MVP and this feature should not go in the codebase before the deadline.

[2016-10-06 00:50] pdpinch commented on #1123
I think this was fixed incidentally.

[2016-10-06 00:50] #1123 closed

[2016-10-06 07:32] #1227 closed

[2016-10-06 07:38] #1153 closed

[2016-10-06 11:28] amir-qayyum-khan commented on #1223
how to produce this link on dashboard

[2016-10-06 12:19] pdpinch commented on #1106
FYI, I've configured ZenDesk so that all new tickets that come from the web widget are routed to the MicroMasters team.

At some future point, we may want to include more data from the portal when opening a ticket, like user's full name, e-mail address and MicroMasters program.

[2016-10-06 12:46] pdpinch commented on #1045
@alvinsiu can you update the checkboxes in the description based on the current state of the PR?

[2016-10-06 12:59] alvinsiu commented on #1045
Updated!

[2016-10-06 13:12] pdpinch commented on #1045
Hm. Something's not working. It looks like fewer boxes are checked since the last time I looked.

In your opinion, is there anything not checked?

[2016-10-06 13:22] pdpinch commented on #1048
@aliceriot what's the status of this?

[2016-10-06 13:32] alvinsiu commented on #1045
Looks right to me - just added a bunch between "Button for" and "Search by".  Some of these were from comments on this issue, some of them updates from our meetings, and some just more flushed out details about existing requirements.

[2016-10-06 14:27] aliceriot commented on #1100
I'm not sure on this one, @noisecapella might know!

[2016-10-06 14:33] #1250 closed

[2016-10-06 14:45] aliceriot commented on #1098
@pdpinch I just wanted to clarify on this issue, do we need to have a way to display a different list of documents depending on the income that the user used to submit their financial aid request?

[2016-10-06 14:48] gsidebo commented on #1223
@amir-qayyum-khan yes, it is blocked by #1226

[2016-10-06 14:50] noisecapella commented on #1100
It doesn't look like the image in the issue here but it does look like the image in the invision mockups which just say 'Your cost is $125 per course`. Other than that everything should be done

[2016-10-06 14:53] aliceriot commented on #1048
We don't have anything yet on the frontend to get the user's default currency, I think that's the only thing that still needs to be done.

[2016-10-06 15:11] #1106 closed

[2016-10-06 15:14] pdpinch commented on #1100
Invision is more up to date. I'll close this and we can open another issue for any problems that come up.

[2016-10-06 15:14] #1100 closed

[2016-10-06 15:22] pdpinch opened #1262 "Pre-populate ZenDesk web widget with name, email and program"
We want to pass some data into the ZenDesk web widget to make it easier for users and also to help automate routing in ZenDesk.
- [x] @pdpinch Set up a custom field in ZenDesk "MicroMasters Program" which can contain the current  user's current program or "None"
- [x] @pdpinch Update the ZenDesk widget code to accept these fields
- [x] Implement the [ZenDesk JavaScript API](https://developer.zende

[2016-10-06 15:26] pdpinch commented on #1111
Everything on this this list is done. If we need more home page improvements, new issues should be opened.

[2016-10-06 15:31] pdpinch commented on #1098
This is still an unknown, so we'd like to go with a generic phrase and a link to a FAQ page (in a new tab? or in a modal?) with more details. Let me discuss with @roberthouse54

Suggested text:

[2016-10-06 15:58] noisecapella opened #1264 "Host jquery, bootstrap, google fonts locally"
This would prevent problems when one of the CDNs goes down like jquery's did this morning

[2016-10-06 16:18] noisecapella opened #1265 "Personalized course price email should include dollar sign"
![screenshot from 2016-10-06 12-18-27](https://cloud.githubusercontent.com/assets/863262/19160732/00237d0e-8bbf-11e6-81b8-2d65f37e7118.png)

[2016-10-06 16:26] gsidebo commented on #1024
this should be closed, correct?

[2016-10-06 16:29] gsidebo commented on #1023
First two states are already implemented, and I have a PR up which takes care of the last one (#1261)

[2016-10-06 16:43] pdpinch commented on #1248
@alvinsiu can you take a look into this?

[2016-10-06 16:44] pdpinch commented on #1230
Shoudl this be addressed in the dashboard API, or in the front-end?

[2016-10-06 16:45] pdpinch commented on #1122
@gsidebo did you fix this in your other work, or is this still an issue?

[2016-10-06 16:46] pdpinch commented on #872
This should raise the ImproperlyConfigured error used elsewhere.

[2016-10-06 16:52] #1229 closed

[2016-10-06 17:04] singingwolfboy opened #1266 "FAQ categories should be scoped to individual programs"
This issue is related to #1232, and will be handled after that pull request is merged.

FAQ categories are currently global: all programs share the same set of categories. These categories cannot be reordered within a course: they are always displayed alphabetically. We want to change this, so that each program can define its own set of FAQ categories and order those categories however the program

[2016-10-06 17:05] mirfark opened #1267 "Handle bad API calls for syncing currency rates"
Syncing currency exchange rates (via openexchangerates.org) does not account for API failures. See DB's comment here: https://github.com/mitodl/micromasters/pull/1257#discussion_r82225605
Comment on tests: https://github.com/mitodl/micromasters/pull/1257#discussion_r82225774

[2016-10-06 17:23] noisecapella commented on #1248
FYI this was a momentary error I got on micromasters-rc so it will be difficult to reproduce

[2016-10-06 17:46] Ferdi commented on #1266
@singingwolfboy  If FAQ is a "page type", it means that user can create more than 1 page each with some FAQs. We can treat pages as categories and render them on the same page

what do you think ?

[2016-10-06 18:00] blarghmatey commented on #469
The first-response solutions are somewhat dependent on the specific cause but they are likely either add more dynos if the per-dyno load is too high, scale the dynos to a larger size if they are maxing out on RAM, or bounce the processes if there is an intermittent bug resulting in a higher than normal error rate.

[2016-10-06 18:04] blarghmatey commented on #1218
In order to simulate the upper bound of the estimated number of concurrent users we are planning to use the [Locust](https://locust.io) project to script a typical set of HTTP requests to the Micromasters API. Once we have that set of interactions defined we will deploy to a set of servers with enough capacity to simulate ~10,000 concurrent users and monitor the output of Heroku metrics, NewRelic,

[2016-10-06 18:10] singingwolfboy commented on #1266
@Ferdi: I don't think that the question of whether it's a "page type" or not makes any difference, from a data modeling perspective. As I said, the Django ORM doesn't seem to be flexible enough to express this kind of relationship in a general way, so we have to customize the form.

I suppose it's possible that Wagtail will be more amenable to customizing the form for a Page model, rather than an

[2016-10-06 18:26] pdpinch opened #1270 "Remove ZenDesk button from home page"
After further discussion, we want it everywhere but the home page.

- [x] Program Pages
- [x] Dashboard
- [x] Learner Search
- [x] Financial Aid Review

[2016-10-06 18:27] pdpinch commented on #1270
Sorry to go back on this Amir. Instead of copying and pasting the widget code everywhere, can we just include one js file?

[2016-10-06 18:37] #1198 closed

[2016-10-06 18:50] Ferdi commented on #1266
@singingwolfboy I agree that figuring out how to override the base_form_class would be great but I'm not sure I follow your comment.

If you had a content type called "Blog" and created 100 blog items, you'd need a page to show blog listing. I'm suggesting the same thing FAQ content type (which we are doing here #1259).  Program owners would generate a couple of FAQ items like
"Fin aid questions"

[2016-10-06 19:19] #1251 closed

[2016-10-06 19:19] #1254 closed

[2016-10-06 19:27] alvinsiu commented on #1248
Looking into this now

[2016-10-06 19:40] #1231 closed

[2016-10-06 19:40] #1238 closed

[2016-10-06 19:50] #1228 closed

[2016-10-06 19:52] alvinsiu commented on #1267
@pdpinch If the currency exchange API returns a non-200 status code (say, their API is temporarily down for whatever reason), and we are unable to update existing exchange rates, what are the business requirements for how to handle these cases?

- Should we wait a couple seconds/minutes/hours and try again?
- How long can the exchange rates be out of date before we should stop using those?
- What

[2016-10-06 19:56] pdpinch commented on #1267
Log the error, and try again later.

We don't have a lot riding on the currency of these exchange rates. If they are a day or two out of date, that's OK.

I think the only concern would be if we're getting errors over a stretch of days. Maybe @blarghmatey has a suggestion about how to catch that.

[2016-10-06 20:32] noisecapella commented on #1230
It's a dashboard bug, unrelated to #1231 and #1238 which are just about refreshing the dashboard at the right time. I'll look into it now since I'm out of things to do

[2016-10-06 20:33] noisecapella commented on #1230
@giocalitri Does it make sense to remove the requirement for the user to be enrolled on edX before saying that they're verified?

[2016-10-06 20:48] pdpinch opened #1273 "return an error if user tries to upload a non-image file for avatar"
Currently, i can choose, for example, a .txt file in the avatar upload modal. I get no error message, but no image displays and when I click save, my avatar does not update.

Looking at the console log, it looks like the PATCH API call returns a 400, probably because it's the wrong type of file.

[2016-10-06 20:49] pdpinch commented on #1273
@roberthouse54 any thoughts on what the right UX is here? It seems like we may not know for sure that it's a bad file until we try to upload it. But @aliceriot may know better.

[2016-10-06 21:04] #1197 closed

[2016-10-06 21:05] pdpinch commented on #833
@gsidebo do you think this is done now that #1061 is merged?

[2016-10-06 21:08] aliceriot commented on #1273
Not sure exactly, I imagine there's something we can do on the frontend to check for a non-image file before we upload it.

[2016-10-06 21:15] giocalitri commented on #1230
How can this happen? Meaning the user paid but is not enrolled.

[2016-10-06 21:18] noisecapella commented on #1230
There could be a temporary outage on edX when the user pays, or maybe the user unenrolled themselves after paying.

[2016-10-06 21:41] alvinsiu commented on #1248
Hmmmm, without any way to reproduce this error or to get more of the traceback, I'm not sure we'll be able to figure out anything about what happened.

The `Exception while resolving variable 'style_public_src' in template '404.html'.` is not relevant.  [Django 1.10 will print to console if there are missing context variables.](https://docs.djangoproject.com/en/1.10/topics/logging/#django-template

[2016-10-06 21:42] noisecapella commented on #1248
Yes actually, I'll send it over hipchat

[2016-10-06 21:43] alvinsiu commented on #1248
Thanks!

[2016-10-06 22:00] #1045 closed

[2016-10-06 22:00] #1214 closed

[2016-10-06 22:18] noisecapella commented on #1248
I think even if you're unable to find any definitive cause we should still add a `*args, **kwargs` to the 404 and 500 views as a precaution

[2016-10-06 22:43] alvinsiu commented on #1248
The issue was `signed_field_names` was not passed with `request.data` in `ecommerce.permissions.IsSignedByCyberSource`, so `ecommerce.api.generate_cybersource_sa_signature` errored out with a `MultiValueDictKeyError` when trying to make a request to `ecommerce.views.OrderFulfillmentView`.

I made a [pull request](https://github.com/mitodl/micromasters/pull/1277) to fix that from erroring out, but

[2016-10-06 22:44] alvinsiu commented on #1116
All of the MVP components should be merged!

[2016-10-07 00:21] pdpinch commented on #469
How do we test the New Relic and OpsGenie configurations? Do you expect we'll see some notifications when we do load testing?

[2016-10-07 01:02] giocalitri commented on #1230
Ok, but if we do like you say, how do we reconcile our DB with the enrollment on edX? Do we try to enroll the user every time she loads the dashboard?

[2016-10-07 07:51] #1090 closed

[2016-10-07 12:11] pdpinch opened #1279 "CMS: Limit options for child pages"
Currently in the CMS you can add a page of any type as a child of any other type. This doesn't make sense.

<img width="552" alt="screen shot 2016-10-06 at 2 03 32 pm" src="https://cloud.githubusercontent.com/assets/430126/19189349/8ff4e89a-8c65-11e6-914b-2e7e12587ee4.png">

- [ ] The home page should allow children of type program.
- [x] Currently, the program page shouldn't allow children of any

[2016-10-07 12:16] pdpinch opened #1280 "Sign Up: "Go Back" on the left; "Next" on the right"
I'm not sure how we missed this, because it's been fixed in the invision designs for a long time.

On the 2nd and 3rd pages of the sign up forms, "Go Back" should be on the left, and "Next" should be on the right.

Not like this:

<img width="826" alt="screen shot 2016-10-06 at 2 01 00 pm" src="https://cloud.githubusercontent.com/assets/430126/19189486/3fbcc8ba-8c66-11e6-862b-9e5984b757ac.png">

L

[2016-10-07 12:20] pdpinch opened #1281 "Dashboard: when enrolling in DEDP, the program title doesn't fit."
<img width="1331" alt="screen shot 2016-10-06 at 9 17 04 am" src="https://cloud.githubusercontent.com/assets/430126/19189690/5a497dbc-8c67-11e6-80db-51e8f9cb36a7.png">

<img width="1331" alt="screen shot 2016-10-06 at 9 17 08 am" src="https://cloud.githubusercontent.com/assets/430126/19189606/e6b6d5ca-8c66-11e6-853e-61db0d0da595.png">

[2016-10-07 12:21] pdpinch commented on #1262
I've updated the widget to add the "MicroMasters Program" field, and to use the current background color.

[2016-10-07 12:23] amir-qayyum-khan commented on #1262
yes, i saw update , i am getting some issue with local MM, just installing new instace

[2016-10-07 12:43] pdpinch opened #1282 "Financial Aid: front-end doesn't handle 400 error from API"
Steps to reproduce:

1. Click Calculate Cost
2. Set income to be $1000, currency to be Albanian lek, click checkbox
3. Click submit.

Expected behavior:

View response of Financial Aid calculation

Actual behavior

Nothing happens. Looking in the JavaScript console I see a 400 error.

[2016-10-07 12:43] pdpinch commented on #1282
I didn't get a chance to capture the JS error or the stack trace. I'll try to update this later with that info.

[2016-10-07 12:45] pdpinch commented on #1098
@aliceriot @roberthouse54 I think this is functionally complete, but we need to update the text with:

- [ ] correct list of docuements
- [ ] correct mailing address
- [ ] correct fax number

Currently, it looks like this:

<img width="764" alt="screen shot 2016-10-07 at 8 43 45 am" src="https://cloud.githubusercontent.com/assets/430126/19190233/5e34d9dc-8c6a-11e6-83da-201f2eb4a408.png">

[2016-10-07 12:52] pdpinch commented on #1087
See https://docs.google.com/spreadsheets/d/1nzvkOF2cvHdY6xrDGwDqdt_HxRud7vfigJfwDgggWJ4/edit#gid=92331287

[2016-10-07 12:58] pdpinch commented on #1110
@alvinsiu can you update the title of this issue? We already send e-mail to learners on status change. Is this more about a refactoring?

[2016-10-07 13:01] pdpinch commented on #1120
@gsidebo is this still a problem?

[2016-10-07 13:03] pdpinch commented on #653
We've decided that we'll manage the text for these descriptions, and we won't let them get too long.

[2016-10-07 13:03] #653 closed

[2016-10-07 13:06] pdpinch commented on #607
I don't think this is an issue any more.

[2016-10-07 13:06] #607 closed

[2016-10-07 13:07] pdpinch commented on #582
I believe the UI where this was an issue has been removed.

[2016-10-07 13:07] #582 closed

[2016-10-07 13:08] pdpinch commented on #468
We've moved on to implementation.

[2016-10-07 13:08] #468 closed

[2016-10-07 13:09] #437 closed

[2016-10-07 13:11] alvinsiu commented on #1110
Title changed!

[2016-10-07 13:11] pdpinch commented on #451
Doing a grep, it looks like this only needs to be fixed in cms/templates/cms/home_page.html

[2016-10-07 13:16] Ferdi commented on #1098
I commented somewhere else , I think it's important - I dont see a "Pay full price" in this screen. Learner might decide to not go through the process and just pay full price at this point

[2016-10-07 14:17] alvinsiu commented on #1282
My guess on this is it's passing back "Currency not supported" - we had the same issue when we were testing.

#1235 and #1170 are relevant, though don't encapsulate a full solution to this problem.

From the perspective of the learner (let's take your example), I think it would be better to dynamically generate the currencies that are available from the ones we have on our backend to filter which

[2016-10-07 14:30] noisecapella commented on #1248
I think you're looking at a different stack trace. `/api/v0/order_fulfillment/` is accessed at the same time as the user is redirected back to the dashboard, but they're technically two separate requests. Only Cybersource will access `/api/v0/order_fulfillment/`, the user will never touch that endpoint. The error occurred when the user downloaded from `/dashboard/`

[2016-10-07 14:35] alvinsiu commented on #1248
Hmmm - is the PR #1277 for the `MultiValueDictKeyError`s still relevant in terms of Cybersource trying to access `/api/v0/order_fulfillment/` then?  It also implements adding `*args, **kwargs` to `page_404`. If not, I can close that PR.

[2016-10-07 14:38] noisecapella commented on #1230
I'm not sure, but it also seems like once they have paid, they should be treated as verified regardless. They may have unenrolled but they didn't get a refund so they should still be treated as verified

[2016-10-07 14:44] alvinsiu opened #1283 "Change filter labels on financial aid review page"
Currently, the filters say, "Show: Approved" with "Show:" inside the select dropdown.  @roberthouse54 Requested moving "Show:" to be outside the dropdown.

[2016-10-07 14:46] aliceriot commented on #1170
@noisecapella so just to confirm everything on the list is a currency code we want to exclude on the client? I can easily take care of this as part of #1275

[2016-10-07 14:57] giocalitri commented on #1230
I am not sure either, but it seems to me that this state is not a normal one, so we should treat it as an erroneous one.
Depending on what we will allow the user to do, we might add a specific state for handling this case.

[2016-10-07 15:10] Ferdi commented on #1230
We definitely dont want to ask them pay twice.

We could if we knew a) they unenrolled on edx AND b) they got a refund from us.  This might be hard to do for this release

I suggest we treat them as unenrolled in all contexts (in search, get the grade etc.) but not allow them allow them to pay.

ok ?

[2016-10-07 15:22] alvinsiu opened #1285 "Submitting cost calculation with error response has no UX change"
Spawned from #1282 for handling after MVP

The most likely scenario is submitting a not-supported currency.
#1275 handles general syncing of frontend-supported and backend-supported currency codes, but there may be a rare case where a learner may end up submitting a code that isn't supported.

The learner should get some sort of message when errors come up when they click calculate cost, perhaps d

[2016-10-07 15:24] pdpinch opened #1286 "Upgrade to Wagtail 1.6.3"
Release notes at http://docs.wagtail.io/en/v1.6.3/releases/1.6.html

In particular, this feature would be useful:

[2016-10-07 15:26] gsidebo commented on #1120
nope i fixed this while going through these course state issues

[2016-10-07 15:26] #1120 closed

[2016-10-07 15:28] pdpinch opened #1287 "Financial Aid: expand country names in review form"
We store learner's countries as ISO codes currently and those are displayed in the review form. Unfortunately, that's not too helpful for financial aid reviewers.

Inside of "AL" I'd like to see "Albania"

[2016-10-07 15:30] Ferdi commented on #1279
Maybe related ? https://github.com/torchbox/wagtail/issues/194

[2016-10-07 15:30] pdpinch commented on #1287
I'm not sure what's the best way to do this, given #828

[2016-10-07 15:31] pdpinch commented on #1279
Actually, Anna addressed this in her FAQ PR #1259 -- at least for children of the program page.

[2016-10-07 15:32] Ferdi commented on #1279
Great !

[2016-10-07 15:33] pdpinch opened #1288 "Change /users/<username> to /learner/<username>"
For public profiles, it sounds nicer.

[2016-10-07 15:34] Ferdi commented on #1288
I think /learner/<username> could be even nicer :-)

[2016-10-07 15:35] alvinsiu commented on #1287
@aliceriot Do we have a JS library or similar to handle country/territory code conversions to full names?

If not, I can look into a simple JS or Python library to do these conversions for MVP.

[2016-10-07 15:38] aliceriot commented on #1287
go take a look at #1275, I implemented a tiny method called `codeToCountryName` that should put you on the right track.

[2016-10-07 15:38] roberthouse54 commented on #1098
Let's just update the copy here and get rid of the bullets.

"Before you can pay, you need to verify your income. Please mail or fax a translated and notarized income tax or income statement document."

[2016-10-07 15:54] noisecapella commented on #1170
Yeah I would say we should support only the currencies on both lists for right now, then later on use the server side list. I'm not sure how many of those currencies are rare or unused or otherwise not worth supporting, but since we only use the currencies to convert the users income it's not a big deal to not support a currency IMO

[2016-10-07 16:06] pdpinch opened #1290 "Home: predictable order for program tiles"
I'm not sure what I did, but for the first time I've seen the order of program tiles change on the home page, and I realize that this is something that we'll want to have control over.

[2016-10-07 16:06] pdpinch commented on #1290
I'm not sure if this is best handled in the CMS or in the django-admin.

[2016-10-07 16:57] roberthouse54 opened #1292 "Faculty thumbnail images on the program page are cropping to the wrong size."
The faculty images on the program page are supposed to crop to an aspect ration of 500px wide and 385px tall. Currently they seem to be cropping to a square that is 385px by 385px.

Basically what we are shooting for is that a user uploads a hi-res image that is equal to or larger than 500x385 in both directions, and then they are cropped to the correct aspect ratio.

[2016-10-07 17:07] giocalitri opened #1293 "404 page UI is broken"
![screen shot 2016-10-07 at 1 06 55 pm](https://cloud.githubusercontent.com/assets/1005204/19198828/056563c4-8c8f-11e6-840b-7beb40e2447f.png)

## Related Issue

#1299

[2016-10-07 17:20] noisecapella commented on #1292
here is the relevant code for reference: https://github.com/mitodl/micromasters/blob/master/cms/serializers.py#L21

[2016-10-07 17:22] #1048 closed

[2016-10-07 17:22] #1282 closed

[2016-10-07 17:29] aliceriot commented on #1098
What's the correct mailing address to use?

[2016-10-07 17:32] giocalitri opened #1294 "Handle invalid dates:"
![screen shot 2016-10-07 at 1 31 27 pm](https://cloud.githubusercontent.com/assets/1005204/19199515/6ce3117e-8c92-11e6-8302-4ae135f1b38c.png)

[2016-10-07 17:37] pdpinch opened #1295 "Mailing list form: after submitting, hide form"
Currently, when you click submit there's a notification that the e-mail needs to be verified. But the form doesn't go away, allowing the user to submit again.

I think the form should be hidden. Or at least disabled.

[2016-10-07 17:38] #1264 closed

[2016-10-07 18:37] annagav commented on #1237
What is the limit on the length of the paragraph?

[2016-10-07 18:48] noisecapella opened #1296 "Upgrade micromasters.d to provide current APIs"

[2016-10-07 18:55] #1101 closed

[2016-10-07 18:56] alvinsiu commented on #1287
Thanks, that was exactly what I needed!

[2016-10-07 19:43] #1283 closed

[2016-10-07 19:46] aliceriot commented on #1020
I think this may have been fixed by https://github.com/mitodl/micromasters/pull/1271

[2016-10-07 19:55] pdpinch opened #1298 "Remove program drop-down from Settings, Profile pages"
Settings and profile apply to all programs, so the program drop-down doesn't make sense in this context.

Currently, when you click on this, nothing happens.

[2016-10-07 19:56] pdpinch opened #1299 "Remove share buttons from financial aid review form"
They are broken, and they don't belong on this page anyway.

If they come from a template, there may be other pages they don't belong on, like the 404 and 500 error pages.

[2016-10-07 19:56] #1191 closed

[2016-10-07 20:19] alvinsiu opened #1301 "Move auto-approval income thresholds into database"
I think @noisecapella mentioned this last week, but we should move these constants into the database since leaving it in the codebase if it's open sourced could allow people to maliciously use this information.

[2016-10-07 20:20] alvinsiu commented on #1301
@pdpinch Is this something important for MVP?  If so, we're happy to do this real quick.

[2016-10-07 20:21] noisecapella commented on #1301
They will still be able to look in the history of this repo

[2016-10-07 20:25] alvinsiu commented on #1301
That's true, but it's probably better than having it in plaintext for now.

[2016-10-07 20:26] pdpinch commented on #1234
@annagav did you fix this with #1204 ?

[2016-10-07 20:26] noisecapella commented on #1301
I agree

[2016-10-07 20:29] Ferdi commented on #1301
That would be great.

[2016-10-07 20:31] noisecapella opened #1302 "Change address and phone number for financial aid applications"
Address:

[code]
Fax Number: `+1 617-715-5799`

From Anna Schrimpf on 10/7:

[2016-10-07 20:54] #1287 closed

[2016-10-07 20:59] #1239 closed

[2016-10-07 21:11] alvinsiu commented on #1301
I've made a PR for this - will we also need some sort of way to import all of these, or is the django admin way sufficient for now?  (There's a lot of countries)

[2016-10-07 21:16] Ferdi commented on #1301
Django admin is fine

- Sent from my phone

[2016-10-07 21:34] #1235 closed

[2016-10-09 18:48] pdpinch opened #1308 "Seed currency conversion table on -rc and prod instances"
- [ ] Set environment variables the same as micromasters-ci
- [ ] run python3 ./manage.py update_exchange_rates

[2016-10-10 15:28] alvinsiu opened #1309 "Enforce country codes in all country model fields"
Currently, there is no enforcement of country code for any model with country fields. We should ensure that only country codes are stored in the database, at the very least with a length restriction on those fields.

[2016-10-10 16:36] alvinsiu commented on #1248
@noisecapella Should we leave this issue open or close it?  #1277 doesn't fix the root cause of this bug, but not sure if this bug is defined enough to be diagnosed without more info.

[2016-10-10 22:44] #1179 closed

[2016-10-10 22:50] #1024 closed

[2016-10-10 22:51] pdpinch commented on #1024
Yep. Although I don't know which commit in particular closes it.

[2016-10-10 22:52] pdpinch commented on #1237
Looks like 150 characters to me.

[2016-10-10 22:55] pdpinch commented on #1225
closed via e59c66a

[2016-10-10 22:55] #1225 closed

[2016-10-10 23:04] pdpinch commented on #1098
Sorry, I thought I had passed along this info Friday, but I guess not.

[2016-10-11 01:19] pdpinch opened #1311 "Use calculated income not original income for determining tier"
## Steps to reproduce

1. Click on Calculate Your Cost
2. Enter 100000 for income and Albanie Lek for currency. (equivalent to about $813/yr in USD)
3. Click Submit

## Expected Result

Lowest-price tier: $100 per course

## Actual Result

Highest-price tier: $1000 per course

I suspect the issue is that we're using `original_income` instead of `income_usd` for calculating the tier.

See https://g

[2016-10-11 01:24] pdpinch commented on #1115
Updated description on 10/10 by adding a few additional items.

[2016-10-11 01:45] pdpinch commented on #1114
Updated description 10/10

[2016-10-11 01:56] pdpinch commented on #154
We took care of this some time ago.

[2016-10-11 01:56] #154 closed

[2016-10-11 02:06] pdpinch commented on #1279
#1259 limited program pages to have only FAQ children. But the home page can still have children of type home.

[2016-10-11 02:08] pdpinch commented on #1112
Updated 10/10 checked one box and added a few more.

[2016-10-11 02:09] pdpinch commented on #1234
Looks fixed to me.

[2016-10-11 02:09] #1234 closed

[2016-10-11 02:13] pdpinch opened #1312 "MM home page: Improvements Part 2"
## for October 15:

- [ ] #1270 Remove ZenDesk button from home page

## After October 15:

- [ ] #1290 predictable order for program tiles
- [ ] #1279 CMS: Limit options for child pages #1279

[2016-10-11 13:25] pdpinch commented on #1312
These were moved to #1111

[2016-10-11 13:25] #1312 closed

[2016-10-11 13:58] #1020 closed

[2016-10-11 14:22] #1098 closed

[2016-10-11 14:23] #1021 closed

[2016-10-11 14:24] gsidebo commented on #833
Closing as duplicate of #939

[2016-10-11 14:24] #833 closed

[2016-10-11 14:34] roberthouse54 commented on #1237
Let's test it and see which character length works best.

[2016-10-11 14:38] aliceriot commented on #1294
@pdpinch what should be shown instead?

[2016-10-11 14:40] roberthouse54 commented on #1294
What is the context of this? Why would there be invalid dates?

[2016-10-11 14:42] giocalitri opened #1315 "Avoid querying edX for user profile at each login"
Just noticed that at each login we query edx urls
[code]

This might be just an improvements if we do not override data locally or potentially a bug depending on what we override.

[2016-10-11 14:42] aliceriot commented on #1294
I'm not sure exactly what would lead to that, perhaps if there are fields which are option on edX?

anyway, it's pretty easy to handle this in the JavaScript, we just need to think of what to show if there is an invalid date.

[2016-10-11 14:50] roberthouse54 commented on #1294
If there is an invalid date, does that mean we do not know the payment due date? If so, it seems that we would not know if the date is passed or not.

[2016-10-11 14:52] pdpinch commented on #1294
I don't know why the UI is presenting "invalid date" at the moment. If date is `none` then I suggest we omit the whole block starting with "Payment Due" but I will be doing my best to get actual dates for these fields.

[2016-10-11 14:54] noisecapella commented on #1242
I'm going to use the order fulfillment GET parameter and the dashboard state to pick which toast message to display, and whether to show the pay button for that course run

[2016-10-11 15:10] #1267 closed

[2016-10-11 15:14] #1270 closed

[2016-10-11 15:14] #1265 closed

[2016-10-11 15:15] #1288 closed

[2016-10-11 15:32] #1248 closed

[2016-10-11 15:35] pdpinch commented on #1240
Hoepfully, we can reproduce this with load testing.

[2016-10-11 15:43] pdpinch commented on #1290
Sort by id for now.

[2016-10-11 15:46] #1170 closed

[2016-10-11 15:57] roberthouse54 commented on #1237
@ferdi Do we want to switch to a popup for this instead? Like this:

![course_desc_popup](https://cloud.githubusercontent.com/assets/20047260/19278030/d902b912-8fa9-11e6-9bbc-5bec10c7cad7.jpg)

[2016-10-11 16:11] Ferdi commented on #1237
Considering the current overall design and everything, I personally think this is a better option.

[2016-10-11 17:47] #1280 closed

[2016-10-11 18:20] alvinsiu opened #1320 "Currency exchange test failure"

[2016-10-11 18:42] noisecapella opened #1322 "Console error when faculty carousel contains zero items"
I think we just need to check if the div exists before connecting it with React

[2016-10-11 18:54] #1320 closed

[2016-10-11 18:55] alvinsiu opened #1323 "Disallow deletion of financial aid objects in django admin"

[2016-10-11 19:28] #1273 closed

[2016-10-11 19:34] aliceriot commented on #1302
phone number is already correct. updating the address.

[2016-10-11 20:05] noisecapella opened #1327 "Set up Cybersource email account"
Not sure if this is already set up but we should have a dedicated email account for the Cybersource post-back receipts.

[2016-10-11 20:09] noisecapella opened #1328 "Test Cybersource emails with post-back API"
This is mostly paranoia, but we should parse a Cybersource receipt email and feed it to the Cybersource API ourselves to ensure that we can do this manually if necessary. To test:
 - set up Cybersource test account to remove post-back URL
 - pay for something on micromasters-ci or another test server
 - parse the post-back email contents and sent it via POST to `/api/v0/order_fulfillment/`
 - veri

[2016-10-11 20:09] #1023 closed

[2016-10-11 20:09] #1103 closed

[2016-10-11 20:20] noisecapella commented on #1242
After talking with @roberthouse54 we will do a 30 second toast message with a spinner. Every five seconds or so we will refresh the dashboard state and check to see if the course purchase went through. If it did we display the same success message as before. If it didn't succeed after 30 seconds the toast message will change to a message asking the user to contact support

[2016-10-11 20:38] roberthouse54 commented on #1242
![image](https://cloud.githubusercontent.com/assets/20047260/19287662/af56dd6a-8fd0-11e6-9060-0d1ca3d7dad7.png)

![image](https://cloud.githubusercontent.com/assets/20047260/19287780/317feda4-8fd1-11e6-8481-5f3f1d0826e4.png)

[2016-10-11 20:39] roberthouse54 commented on #1242
![image](https://cloud.githubusercontent.com/assets/20047260/19287793/4007bfa0-8fd1-11e6-8afd-b3ab77d330ac.png)

[2016-10-11 20:40] roberthouse54 commented on #1242
![image](https://cloud.githubusercontent.com/assets/20047260/19287814/57fe9a66-8fd1-11e6-93e2-f44f696ecd88.png)

[2016-10-11 20:43] Ferdi commented on #1242
I'm not sure about this.  Asking users to e-mail us it not ideal.  We can, for example send them an e-mail when we know more about the order status

[2016-10-11 20:44] #1223 closed

[2016-10-11 20:46] Ferdi commented on #1242
Also, the messages here are global to the dashboard.   What if we had another status for each course which depends on the status of the order ?

[2016-10-11 21:02] roberthouse54 commented on #1242
OK, so instead of the second message, perhaps we should instead just make the toast message disappear, and show a "Payment pending" status next to the disabled "Pay Now" button.

[2016-10-11 21:24] noisecapella opened #1329 "Use EMAIL_SUPPORT environment variable in place of mitx-support@mit.edu"

[2016-10-11 22:02] noisecapella opened #1331 "Description extends past faculty tile"
From https://github.com/mitodl/micromasters/pull/1300#issuecomment-253048214

![ss 2016-10-11 at 17 12 42](https://cloud.githubusercontent.com/assets/14932219/19288836/f8b26b64-8fd5-11e6-9a87-1688e00d68e5.png)

looks like the description isn't being properly contained. that should fall under this PR, right?

[2016-10-11 22:57] pdpinch commented on #1327
Do you think this should be a real e-mail address, a mailing list, or something that passes through maligun and goes into a database?

[2016-10-12 13:20] noisecapella commented on #1327
We just need some account to hold onto the receipt emails, it should just be a backup to the `Receipt` object we are storing in the MM database. Occasionally our server may go down and it would let us know if there are transactions which weren't recorded in the database

[2016-10-12 13:22] pdpinch commented on #1237
@roberthouse54 can you update the description to match your new image?

@annagav make sure you're using the latest designs when you work on this

[2016-10-12 13:58] #1329 closed

[2016-10-12 14:19] roberthouse54 commented on #1237
See updated description above.

[2016-10-12 14:19] #1302 closed

[2016-10-12 14:26] alvinsiu opened #1334 "Add tests for financial aid auto approval"
We currently test when income is strictly greater than or less than the income threshold, but we need to add tests for when they are equal.

[2016-10-12 14:36] noisecapella opened #1336 "Send an email when an Order is marked as failed"
We should add code to monitor that failed orders are dealt with promptly. I think there are two main cases where it may fail: when we enroll the user in edX, and when the payment processor fails for some internal reason.

We may also want to set up some trigger in the cybersource receipt email account to look for failed decisions, in case we don't get them on the server

[2016-10-12 15:10] noisecapella opened #1337 "Keep audit trail of changes to country of residence"

[2016-10-12 15:10] aliceriot opened #1338 "user menu gets silly wide if you have a long preferred name"
we should set `max-width: 110px` or so.

![user-menu](https://cloud.githubusercontent.com/assets/6207644/19315654/82a0b4b6-906c-11e6-8b0d-341e6856fccc.png)

[2016-10-12 15:11] noisecapella commented on #1337
Alternatively we should store this information in the `FinancialAid` model when created

[2016-10-12 15:23] #1292 closed

[2016-10-12 15:31] giocalitri opened #1340 "Industry should search in the text"
If I type the second word, it does not select it.

![screen shot 2016-10-12 at 11 30 28 am](https://cloud.githubusercontent.com/assets/1005204/19316439/6f24471a-906f-11e6-8914-f9f1c059e639.png)

![screen shot 2016-10-12 at 11 32 08 am](https://cloud.githubusercontent.com/assets/1005204/19316467/8ad0b318-906f-11e6-9f97-4adfa5ded79d.png)

![screen shot 2016-10-12 at 11 30 54 am](https://cloud.github

[2016-10-12 15:35] #1334 closed

[2016-10-12 15:37] #1308 closed

[2016-10-12 15:38] blarghmatey commented on #980
Issues with internal API requests will be tracked by Sentry.

[2016-10-12 15:48] noisecapella opened #1341 "If user is assigned the zero discount tier, we should proceed as if they were auto-approved from a UX point of view"

[2016-10-12 15:50] pdpinch commented on #1341
Is this not what happens?

[2016-10-12 15:56] noisecapella commented on #1341
It might be a configuration problem on my end actually, I'll do some more research

[2016-10-12 16:00] j2tausig opened #1342 "Email form validation on Help Popup is too basic"
Steps to Reproduce:
Navigate to micromasters.herokuapp.com
Click on the red Help button at the bottom of the page (lower left)
Enter any text for the name
Email form accepts xxx@xx.x example: jared@12.12 passes the validation.

(It appears as though we are validating solely on: text@text.text)

Chrome Version 53.0.2785.143 m (64-bit)
IE: Microsoft Edge 38.14393.0.0
Windows OS 10
![email validation

[2016-10-12 16:00] #1298 closed

[2016-10-12 16:06] j2tausig opened #1343 ""Sign Up Now" Button does not work in Microsoft Edge"
Steps to Reproduce:
Using Microsoft Edge
Navigate to micromasters.herokuapp.com
Select either SCM or DEDP Program at bottom of page
Click on the blue "Sign Up Now" button at the top of the page.

Expected Behavior:
Spawns a pop-up window directing user to edX.

Actual Behavior:
No pop-up window is spawned.
Note;  This works in Chrome.

IE: Microsoft Edge 38.14393.0.0
OS; Windows 10

[2016-10-12 16:13] noisecapella commented on #1341
I think this is a legitimate problem. The income threshold used to determine auto approval can be different from the income threshold for the financial aid tier. I'm not sure if that's ever the case for DEDP but I think we should handle the case anyway, in case the tiers or thresholds change over time.

[2016-10-12 16:23] noisecapella opened #1344 "Enroll now link doesn't change after user clicks it"
It enrolls the user in audit mode in edX and refreshes the dashboard, but since there's no change in course status the link remains. I haven't tried the non-financial aid path yet

[2016-10-12 17:36] #1338 closed

[2016-10-12 17:44] #1154 closed

[2016-10-12 18:50] j2tausig opened #1347 "Mailing list signup has Email validation issues"
Steps to Reproduce
Log into micromasters.herokuapp.com
Scroll down to the Program Tiles section
Select the "Sign up for Mailing List" button
A form pops up.
Note the various email validation messages in the screen shots below.

NOTE that the system accepts an email with the following syntax:
x@x.x (screen shot #3)

Screen Shot #1 (validation on the @)
![email validation](https://cloud.githubuserco

[2016-10-12 18:53] j2tausig opened #1349 "Mailing list sign up - Radio Button choice not a mandatory element"
Steps to Reproduce
Log into micromasters.herokuapp.com
Scroll down to the Program Tiles section
Select the "Sign up for Mailing List" button
A form pops up.
Complete the form, but don't select any of the 4 radio button choices.

Expected Behavior
User should get messaging to select a Radio Button when they attempt to submit.

Actual Behavior
User can successfully submit the form without selecting

[2016-10-12 18:54] noisecapella opened #1350 "Use react-mdl spinner in place of react-loader for more consistent design"

[2016-10-12 18:57] #980 closed

[2016-10-12 19:28] j2tausig opened #1351 "MIT Logo in Footer doesn't link to web.mit.edu"
Currently, the MIT Logo in the header links to web.mit.edu

However, the logo in the footer is not linked.

[2016-10-12 20:06] j2tausig opened #1353 "Pop-ups not spawning properly from Terms of Service page in Edge & IE 11"
Note:  This works properly in Chrome, Firefox & Safari -- the issue only presents in Edge & IE 11
Steps to Reproduce:
Navigate to micromasters.herokuapp.com
Click on either the "Login" or "Signup" button in the header.
In the popup that is displayed, click on the "MIT Micromaster Terms of Service" link.
This spawns a new tab.

In Edge & IE11 only, if the user now attempts to click  on either the "

[2016-10-12 20:17] noisecapella opened #1354 "'Passed' doesn't show if user has passed but not purchased course run"
This may be fine, not sure what we should have in the UI

[2016-10-12 20:19] pdpinch commented on #1344
Why is there no change in course status?

[2016-10-12 20:21] gsidebo commented on #1344
i haven't experienced this. might need to try this out with a FA path