[2016-03-01 23:56] pdpinch opened #1 "Micromasters home page"
As a learner, I would like a single view of all Micromasters offerings from MIT

For MVP, there will be only one micromasters offering, SCM.

- [ ] initial project setup
  - [ ] set up test infra
  - [ ] use cookie cutter
  - [ ] set up CI
- [ ] schema for micromasters

[2016-03-02 00:00] pdpinch opened #2 "login with edX"
As a learner, I need to be able to login and create an account using my edX account.

This story is just for OAuth login. At a later date we will deal with other user requirements below.

Learners can only login if:
1. they have an edX account
2. they have enrolled in a micromasters course
3. they have paid for an IDV verified track in the course

If the learner doesn't meet all this criteria, she

[2016-03-02 00:01] pdpinch opened #3 "Discovery: edX enrollment API"
Can we use the edX enrollment API to confirm:

- [ ] student is enrolled in at least one micromasters course
- [ ] whether student has paid for ID verified (IDV) track

[2016-03-02 00:04] pdpinch opened #4 "create username/password for account"
As a learner, I need to create a username and password for my account on micromasters. This account will allow me to complete my user profile.

Question: can I log into my account with username/password without re-confirming my OAuth credentials?

[2016-03-02 01:39] pdpinch opened #5 "Enrollment / profile creation"
As a learner, I want to enroll in micromasters, creating a user profile.

When we can we will also capture data from the edX profile. Users shouldn't have to enter data twice.

- [x] discovery on edx learner profile & api
- [x] #18 create a model
- [x] #18 create an API
- [x] #19 react container for user profile

[2016-03-02 01:41] pdpinch opened #6 "Student dashboard MVP"
As a learner, I want to be able to view my progress in my micromasters. If I'm enrolled in multiple micromasters, I need to see all of them. I'd like to see a list of all the course in each micromasters, with an indication of which ones I've enrolled in and my current score, with an indication if its estimate or final. There should be information about when enrollment opens for ones that I haven't

[2016-03-02 01:44] pdpinch opened #7 "Simple student profile search"
As a registered user (learner or course team member), I'd like to be able to browse student profiles. I should have a faceted search interface to help me locate learners in my area and learners in similar industries (any field in the studen profile)

(need another story about e-mailing selected students)

[2016-03-02 01:46] pdpinch opened #8 "Can this repository be open, or does it need to be private?"
If it needs to be private, we should probably remove the license.

[2016-03-02 20:19] pdpinch opened #9 "Set up initial app"
start with cookie cutter app

[2016-03-02 20:19] pdpinch opened #10 "Discovery: choose a simple django CMS"
django-cms? wagtail?

[2016-03-02 20:21] pdpinch opened #11 "simple django template for home page"

[2016-03-02 20:29] pdpinch opened #12 "React app setup"
- [ ] web pack
       dev & production
- [ ] ES6
- [ ] react
- [ ] mocha

Use teachers portal as a guide

[2016-03-02 20:40] pdpinch opened #13 "First release"
- [x] use release script
- [x] must include #11
- [x] would be nice to include #2

[2016-03-02 20:42] pdpinch opened #14 "setup heroku build pipeline"
fill in with Brandon's checklist from Teacher's Portal

5 or 6 items

label: devops

[2016-03-02 20:42] pdpinch opened #15 "setup heroku build pipeline"
fill in with Brandon's checklist from Teacher's Portal

5 or 6 items

label: devops

[2016-03-02 20:42] pdpinch opened #16 "add django server status"

[2016-03-02 21:00] #4 closed, assigned to nobody

[2016-03-02 21:07] pdpinch opened #17 "discovery for user profile API on edX"

[2016-03-02 21:11] pdpinch opened #18 "create model & API for mm user profile"
may need to talk to Erdin to understand scope & types of fields

foreign key to the user

for example:

GET /profiles/user_id
POST /profiles/
PATCH /profiles/user_id

[2016-03-02 21:14] pdpinch opened #19 "enrollment page in React (profile creation)"
for the initial enrollment and profile creation, we need to step the user through a large number of required fields. Tabs seem best suited for this:

![enroll_personal](https://cloud.githubusercontent.com/assets/430126/14467852/2dfbd70c-00ab-11e6-8202-10db421ba332.png)

[2016-03-02 21:26] pdpinch opened #20 "create model and rest api for micromaster_courses"
as a learner, I need to be able to see a list of micromasters' courses.

model needs to include:

- [ ] edx course key, if it exists
- [ ] title
- [ ] enrollment_start
- [ ] start_date
- [ ] enrollment url
- [ ] order (maybe just display order)
- [ ] prerequisites

[2016-03-03 13:23] pdpinch opened #22 "Determine what to do with existing micromasters web site"
This is a little premature, but I assume that the micromasters portal, when it goes live, will be released to https://micromasters.mit.edu/

What should happen to the existing content at http://micromasters.mit.edu/ -- should it be incorporated into the app as static content?

[2016-03-03 14:14] noisecapella opened #23 "Look at skeleton commit and update cookiecutter-django accordingly"
I'd like to include the webpack stuff, and there are a bunch of other minor tweaks that are important too

[2016-03-03 14:23] bdero commented on #16
Please review this PR and use this version of the code: https://github.com/mitodl/django-server-status/pull/18

I've already added the STATUS_TOKEN var to the environments of the apps; I'll also need to verify that the status check works on all apps after this work is finished and released.

[2016-03-03 14:39] #8 closed

[2016-03-03 14:53] #9 closed

[2016-03-03 15:23] bdero opened #25 "Configure TravisCI"
This involves enabling Travis, and adding an initial travis.yml for executing a test build using docker.

[2016-03-03 16:08] Ferdi commented on #22
Yes, the new app will replace the existing one. What you see there currently would move to http://micromasters.mit.edu/scm

[2016-03-03 16:47] annagav commented on #11
It should look something like this?
<img width="597" alt="screen shot 2016-03-03 at 11 45 43 am" src="https://cloud.githubusercontent.com/assets/7574259/13501688/a559b28c-e135-11e5-957d-ac100610426c.png">

[2016-03-03 16:50] noisecapella commented on #11
I think so, it can look like the wireframe pretty much, the styling would come later after the designer has produced some mockups

[2016-03-03 16:54] pdpinch commented on #11
Like George said.

We do need to the template to pull in the list of micromasters (currently just one). I think @justinabrahms has incidentally started working on the model for that. You should check with him.

[2016-03-03 16:55] bdero commented on #25
This was ultra easy because the cookie cutter already had it covered.

[2016-03-03 17:03] justinabrahms commented on #10
http://www.revsys.com/blog/2015/apr/29/wagtail-best-django-cms/ -- This is a pretty strong recommendation for wagtail.

Beyond that, from what I see, they have a pretty slick backend, which might hit @Ferdi's desire to have something markedly better than Drupal (from a user's perspective). https://wagtail.io/

[2016-03-03 17:17] justinabrahms opened #29 "Create an admin interface for courses & programs"
It would be very helpful for development if you could alter the live/not-live status of programs.

[2016-03-03 17:19] justinabrahms opened #30 "Add valid authorization to rest API for courses/programs"
Who should be able to read? All users? Logged in, paying users?

Who should be able to write?

[2016-03-03 18:19] Ferdi commented on #10
I wonder how difficult is to make it so that each course team / department author only the pages relevant to their program.

[2016-03-03 18:23] bdero opened #32 "Add logging and email config"
The logging and email config is still missing from the cookiecutter template, so we need to pull it in from teachersportal.

[2016-03-03 19:04] justinabrahms commented on #1
This will be done when #11 is done, I believe.

[2016-03-03 19:06] pdpinch commented on #30
Given our division between static pages and react pages, I think we're safe limiting read on the API to logged in users.

I don't know enough about the CMS (Wagtail?) to know about write on the API. For now, I don't think we need write on the API (as long as you make admin views) -- as @noisecapella requested.

- Peter

[2016-03-03 19:20] noisecapella opened #35 "Configure secure SSL redirect"

[2016-03-03 19:38] noisecapella opened #36 "Configure webpack integration for SASS and CSS"

[2016-03-03 19:56] bdero opened #38 "Add pre and post compile hooks from TeachersPortal"
The pre-compile hook writes the git hash to the static file dir.
The post-compile hook runs migrations automatically.

[2016-03-03 20:13] justinabrahms commented on #30
Going to wait on #2 before I start on this (so, consider this ticket blocked until then). The two API endpoints are marked as read-only for now, so that should be a fine subset until that gets in.

CMS will be read only, unless you use the admin site.

[2016-03-03 20:14] justinabrahms commented on #22
`/scm` will be a landing page for soliciting email addresses? Or it will be the supply chain management section of the CMS?

[2016-03-03 20:16] Ferdi commented on #22
SCM section of the CMS - is what I had in mind.  Which  could contain a signup form too.

[2016-03-03 20:17] justinabrahms commented on #10
It looks like they have some amount of support for permissioning. I would like to push that requirement out for consideration later.

[2016-03-03 20:26] Ferdi commented on #10
That's currently a static one-page website. For this version, can we move that exact page to micromasters.mit.edu/scm ?

[2016-03-03 20:30] justinabrahms commented on #10
We should try to incorporate SCM into the CMS as it's written, rather than special casing it. Making it a special case b/c they have a website already effectively means doing double work. Once for the CMS case, once for a static-website-serving case.

So to answer your question, yes we could put a static website on that url, but it's going to be more work and will not benefit the product directly

[2016-03-03 20:42] justinabrahms commented on #10
w/r/t the CMS.. What should the pages be like? One single free-form text field that they can enter? Big header images? Something different?

The way wagtail works, you define a class for each page type, then users can pick which page type they want to add to the cms. Getting a sense of what the page types are and what they look like is going to be necessary to proceed with this task.

[2016-03-03 20:43] #20 closed

[2016-03-03 20:49] justinabrahms commented on #10
I did a spike of work on wagtail: https://github.com/mitodl/micromasters/compare/cms

It's a pretty simple start, but is enough to show a course listing in bare html of a homepage and a program page which allows a user to enter free-form text. We'd likely want sub-pages from these program pages, but we need to define what those look like and what fields they'd need to have before progressing much

[2016-03-03 21:19] jamiefolsom commented on #12
@noisecapella -- I think all of the setup is completed, by your PR #21. I could start on the react containers and components. Would that make sense?

[2016-03-03 21:20] noisecapella commented on #12
That sounds right, we still need the redux libraries, the store to be configured, etc, like it is in teachersportal

[2016-03-03 21:22] jamiefolsom commented on #12
Great, will do. Thx.

[2016-03-03 21:31] justinabrahms commented on #18
[code]

[2016-03-03 21:33] justinabrahms commented on #17
`curl -H "Authorization: Bearer 8ea70875b1449bdc9c0ded364d7173d8606fbe32" http://localhost:8000/api/user/v1/accounts/staff | python -m json.tool`

results in:

[code]

[2016-03-03 21:37] justinabrahms opened #40 "How will we handle users under 13?"
How do we handle users who are under 13 years old?

https://openedx.atlassian.net/browse/TNL-1606

That's the ticket from edX dealing with the same question. This is now exposed in their profile API, but what are we going to do about asking for their specific profile information on our side? Are there legal issues here?

[2016-03-03 21:40] justinabrahms opened #41 "Write edX REST API to determine current user's username"
We have an oauth token from our oauth stuff, but we don't know who the user is. For that, we need to write up an endpoint to tell us the username for a given oauth token.

[2016-03-03 21:41] justinabrahms commented on #17
We need to write some code to see what the username for the user is, given an oauth token. Without that, we can't use this endpoint. That's represented in #41

[2016-03-03 21:41] #17 closed

[2016-03-03 21:43] pdpinch commented on #1
Closing in favor of #11, and the other set-up stories.

[2016-03-03 21:43] #1 closed

[2016-03-03 21:44] justinabrahms commented on #3
Docs: http://edx.readthedocs.org/projects/edx-platform-api/en/latest/enrollment/enrollment.html#view-and-add-to-a-users-course-enrollments

Running `curl -H "Authorization: Bearer 8ea70875b1449bdc9c0ded364d7173d8606fbe32" http://localhost:8000/api/enrollment/v1/enrollment | python -m json.tool` returns the following json blob.

[code]

[2016-03-03 21:50] pwilkins commented on #40
And we expect a thirteen-year-old to seek a masters degree in supply chain management?

[2016-03-03 21:57] justinabrahms commented on #3
Creating enrollments works too.

`curl -X POST -d '{"mode": "audit", "course_details": {"course_id": "course-v1:edX+DemoX+Demo_Course"}, "enrollment_attributes": [{"namespace": "credit", "name": "provider_id", "value": "MIT"}]}' -H "Authorization: Bearer 8ea70875b1449bdc9c0ded364d7173d8606fbe32" -H "Content-Type: application/json" -v http://localhost:8000/api/enrollment/v1/enrollment | python -m j

[2016-03-03 21:57] #3 closed

[2016-03-03 21:58] noisecapella commented on #40
When you register at edx.org, the part where you list your age is an optional field, so it may be a common case that `requires_parental_consent` is true and we have to assume they are under 13.

[2016-03-03 21:59] justinabrahms opened #42 "How to get users enrolled into courses as verified?"
Based on discovery in #3, we can't support automatic enrollment with verified status.

Error is:

`curl -X POST -d '{"mode": "verified", "course_deta
ils": {"course_id": "course-v1:edX+DemoX+Demo_Course"}, "enrollment_attributes": {"namespace": "credit", "name": "provider_id", "value": "MIT"}}' -H
 "Authorization: Bearer 8ea70875b1449bdc9c0ded364d7173d8606fbe32" -H "Content-Type: application/json"

[2016-03-03 22:09] noisecapella commented on #18
Who is creating the user profile? We may not need the POST API if we never need to create the user profile from the dashboard. PATCH would be the only one necessary

[2016-03-03 22:36] pdpinch commented on #18
Actually, I think we do need to create the profile form the dashboard. It needs to be created after the user has logged in the first time with their edX account.

[2016-03-03 22:42] pdpinch commented on #42
Can we just update the verified status (and all enrollments, for that matter) when the user opens her dashboard?

[2016-03-04 13:06] #15 closed

[2016-03-04 13:07] #14 closed

[2016-03-04 13:08] bdero commented on #14
Swapped this to done and reopened the issue for a minute to test the Zenhub pipelines

[2016-03-04 14:03] #29 closed

[2016-03-04 18:00] #36 closed

[2016-03-04 19:21] #38 closed

[2016-03-06 15:35] pdpinch commented on #6
Some information on grading:

https://openedx.atlassian.net/wiki/display/TNL/edX+Grading+Guide+for+Developers

[2016-03-07 14:50] pdpinch opened #45 "Google Analytics"
- [X] Create project in ODL GA account and -ci and -release profiles.
        CI tag is UA-5145472-14
        Release tag (already in use) is UA-5145472-10
- [x] Invite all the necessary people to the GA account
- [x] add UA key to config
- [x] ? React coding?

[2016-03-07 20:44] jamiefolsom commented on #45
@pdpinch I can take on the react coding. Separate issue? Same issue?

[2016-03-07 20:47] pdpinch commented on #45
Same issue is fine, since getting the UA codes doesn't take much effort.

[2016-03-07 20:48] jamiefolsom commented on #45
ok, thanks.

[2016-03-08 13:30] #32 closed

[2016-03-08 13:30] #35 closed

[2016-03-08 15:17] noisecapella opened #46 "Rename npm_install_if_prod.sh to webpack_if_prod.sh"

[2016-03-08 20:51] noisecapella opened #48 "Rename webpack entry points inner and outer to dashboard and public"

[2016-03-08 21:19] #46 closed

[2016-03-09 17:04] pdpinch commented on #16
@jamiefolsom, were you going to pick this up from @annagav since she's out sick today?

[2016-03-09 19:29] giocalitri opened #50 "get actual user profile data while logging in with edx"
PR #47 was a proof of concept with hardcoded data returned.

This PR should implement a way to get the actual data.

During the "OAUTH dance" MM should first query edx at the URL `/api/mobile/v0.5/my_user_info` to get the user's username and then get the proper user profile using the url `/api/user/v1/accounts/{username}/`

This is a continuation of #2

[2016-03-09 19:30] #2 closed

[2016-03-10 18:58] pdpinch opened #51 "Student dashboard: View more than one micromasters enrollment"
As a student, I need to be able to see which micromasters programs I am enrolled in.

Presumably, this will access a local MM API for finding enrollments, titles and other relevant MM metadata.

Each MM enrollment will be displayed as a tab on the student dashboard. At this time, we only have one Micromasters program.

[2016-03-10 19:03] pdpinch opened #52 "Student dashboard: UI for View courses and course enrollments"
As a student, I need to be able to see which courses are included in my micromasters programs, and understand whether I'm enrolled.

The list of courses in a particular MM program are available from the MM API. Student enrollments are available from the edX enrollment API. The enrollment API returns a list of the courses the student is enrolled in and whether she is ID verified.

This story covers

[2016-03-10 19:10] pdpinch opened #53 "Student dashboard: course start dates and enrollment dates (data only)"
As a student, I need to know when the courses I've enrolled in will start (or when they started in the past) and when future courses will be open for enrollment.

This will require some research on the appropriate edX API for this data. I believe it is "Course Discovery"

available in enrollment API:
- [ ] If the user is enrolled, and `start_date` is in the future, we display **starts: [date]**
-

[2016-03-10 19:16] pdpinch opened #54 "Fake data"
As a developer, I need a fake micromasters, with a list of fake courses, with a user who is fake enrolled -- sometimes with a verified status. It would also be helpful if he had some grades.

Some of this data will also need to be replicable on stage.edx.org when we get to merging and testing with edx-platform.

for SCM Micromasters:
- [ ] name
- [ ] list of course keys
- [ ] SCM MIcromasters thum

[2016-03-10 19:21] pdpinch opened #55 "Student dash: view final grades"
As a student, I need a way to see at a glance what my final grades were in my micromasters courses.

According to Dave Ormsbee, there is a table used for generating certificates that contains final grades (as defined by edX). It does not have a public API, so we would need to make one, that worked with OAuth.

- [x] discovery: research certificate table to find final grades
- [x] write API for edX

[2016-03-10 19:50] pdpinch opened #58 "student dashboard: view current grade"
As a student, I would like to see what my current grade is in my micromasters courses.

Since the grade is not final, there should be an indication that the course is still in progress.

This will require accessing the same data that is used to generate the student progress page. There is no public API, but I believe there is an internal API

Generating progress pages can take minutes for large co

[2016-03-10 20:03] pdpinch opened #59 "Test edx login with new OAuth library"
As a user, I would rather not have to approve micromasters access to edX every time I make a request from edX.

The current edX OAuth library is incomplete and doesn't store user access tokens, so  a new one must be requested each time.

The library being added by PR https://github.com/edx/edx-platform/pull/11449 should address the issue. We should test our login flow with this library, and +1 the

[2016-03-10 20:16] #16 closed

[2016-03-10 21:42] noisecapella opened #61 "Use docker-unison instead of docker-osx-dev"
The main thing it provides is a two way sync instead of a sync from host to dev.

[2016-03-10 22:00] #11 closed

[2016-03-11 14:38] justinabrahms commented on #40
Especially as we add social features, this will become an issue. https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act for back story.

[2016-03-11 14:46] justinabrahms commented on #41
I'm going to close this one. We don't need it now because @giocalitri found the API the mobile team uses. That's implemented in #60.

[2016-03-11 14:46] #41 closed

[2016-03-11 15:48] #50 closed

[2016-03-11 19:50] #25 closed

[2016-03-11 21:22] jamiefolsom commented on #61
@noisecapella is this decided, or up for discussion? Sounded over lunch like it was an idea.

[2016-03-11 21:25] noisecapella commented on #61
I felt strongly about it when I filed the issue but now I'm not so sure, so up for discussion

[2016-03-11 21:30] jamiefolsom commented on #61
OK, totally open to it, just curious.

[2016-03-13 18:39] pdpinch commented on #18
We don't have a list of additional profile fields yet from Erdin, but here are some fields I think we need to add:

- [ ] account_privacy: private | public_to_mm | public (profiles are always visible to MIT staff)
- [ ] email-optin: Required to be true?
- [ ] current employer (would be nice to have a pre-populated list of fortune 500 companies with some type-ahead, but that's out of scope for this

[2016-03-13 18:44] pdpinch commented on #42
Recommendation from edX is to ask Clinton how to approach this.

[2016-03-14 14:35] #12 closed

[2016-03-14 14:35] #45 closed

[2016-03-14 14:48] justinabrahms commented on #18
We should be able to create the profile after the user logs in via edx on the server side. This seems like a lower complexity avenue.

eg:

login with edx -> edx confirmation page -> handle response { create user, create profile, backfill profile data } -> profile edit screen

[2016-03-14 14:50] justinabrahms commented on #18
Probably not a good UX for this view in particular (cc @jamiefolsom), but we could support login with oauth for social profiles pretty easily. python social auth (a dependency we already have) makes that fairly easy.

[2016-03-14 14:56] noisecapella commented on #18
@pdpinch What is email_optin for?

[2016-03-14 15:01] noisecapella commented on #18
@justinabrahms will the email field for User be populated by the oauth login process?

[2016-03-14 15:06] justinabrahms commented on #18
@noisecapella Yes. You get all of these: https://github.com/mitodl/micromasters/blob/master/backends/edxorg.py#L65

[2016-03-14 15:46] jamiefolsom opened #64 "Student dashboard: "Apply" Button"
As a student, I want to be able to apply for admission to a micromasters program.

This requires a button on the course listing for a given program, which appears, disabled, until criteria for application have been met.

Then the button should appear enabled, and when clicked, load an application form.

[2016-03-14 15:47] jamiefolsom commented on #52
Note: there should be a row below the listing of all courses for the "final exam"; this is some kind of proctored, rigorous capstone that users need to pass.

The specifics haven't been determined yet, but we need to signal to users that it exists and make sure we account for it in our program model.

[2016-03-14 15:56] jamiefolsom opened #65 "Student dashboard: Account Menu"
As a student, I want access to my data, including my profile, my courses, programs and grades, help desk tickets (if any).

Should show user's full name, and should contain:

- [ ] Profile
- [ ] Settings (to be done later when we have settings)
- [ ] #99 logout

[2016-03-14 16:01] pdpinch opened #66 "Integration tests for Contact Form"
The contact form was returning a 500 in production for some time -- probably due to a configuration issue.

Can we develop an integration test that we can run against deployments to detect this in the future?

[2016-03-14 16:01] pdpinch commented on #66
fyi @justinabrahms

[2016-03-14 16:02] jamiefolsom opened #67 "Student dashboard: Display student avatar and student name"
As a student, I want my avatar to appear on my dashboard page, and throughout the private (and in community areas, as appropriate based on my privacy preferences).

This requires: offering a way for students to authenticate with another service and select a hosted avatar (eg gravatar, twitter, facebook), or to upload one, size, center and crop.

MVP: display edX avatar

[2016-03-14 16:03] justinabrahms commented on #66
I assume this is meant for SCB?

[2016-03-14 16:03] pdpinch opened #68 "Integration tests for creating student accounts"
As a devops, I'd like a test that I can run to confirm that student accounts can be created successfully on a deployment.

For some time in production, account creation was failing with a 500 error. We're still not entirely sure what the cause was, but we'd like to have better tooling to detect it in the future.

To create a student account, we will need a course code.

[2016-03-14 16:03] pdpinch commented on #68
FYI @justinabrahms

[2016-03-14 16:04] justinabrahms commented on #68
Assuming SCB as well?

[2016-03-14 16:10] jamiefolsom commented on #52
Also, to accommodate a growing list of programs, each with a list of courses, we should consider an interface like the bootstrap collapsible accordion:

![accordion](https://cloud.githubusercontent.com/assets/882377/13750845/a3aba2e6-e9dd-11e5-9cdb-70945178b15d.gif)

[2016-03-14 16:13] jamiefolsom opened #69 "Student Dashboard: Create and display Student ID"
As a student, I want my "student identification number" stored in my profile, for use in verifying my identity, retrieving my enrollments, grades, etc.

The ID should look like :

MMM ### ####
For example

MMM 000 0001
MMM 000 0002
etc.

Numbers will be serial. We will use a separate field, to avoid confusing the user primary key with this "student id"

- [x] add to model
- [x] update REST API
- [

[2016-03-14 16:20] pdpinch commented on #68
Yeah. Sorry, wrong repo. ZenDesk usability fail.

[2016-03-14 16:20] #68 closed

[2016-03-14 16:21] #66 closed

[2016-03-14 16:21] jamiefolsom opened #70 "Student Dashboard: enrollment status"
As a student, I want to enroll in a course within a MM program. This requires a button next to any course in which I am not currently enrolled, which initiates a course enrollment.

See: https://projects.invisionapp.com/share/KR6FYCZTX#/screens/142338434

Per #42, enrollments can't currently be completed in a single step, so once clicked, the button should be disabled, and should be labelled "veri

[2016-03-14 16:23] pdpinch opened #71 "LORE Release"
Ideally would include fixes to:

- [ ] #888
- [ ] #111
- [ ] update to server status app
- [ ] and uses release script

[2016-03-14 16:24] pdpinch commented on #71
Issue moved to [mitodl/lore #895](https://github.com/mitodl/lore/issues/895) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-14 16:24] #71 closed

[2016-03-14 16:30] jamiefolsom opened #72 "Student Dashboard: Add a date column"
As a student, I want to see both the relevant start or enrollment date, per #53, and my current grade if any.

This is currently handled in a single column ("status"), but needs to be in two.

<img width="414" alt="screenshot 2016-03-14 12 34 29" src="https://cloud.githubusercontent.com/assets/882377/13751575/2e8aa152-e9e1-11e5-997a-07e3a326bb52.png">

[2016-03-14 16:43] pdpinch commented on #18
Use the edX profile data as default values and let the user override them for micromasters.

[2016-03-14 16:48] pdpinch opened #73 "On first (OAuth) login, create a user profile"
As a user, when I login to micromasters for the first time I want my profile to be created.

[2016-03-14 17:04] pdpinch opened #74 "Student enrollments from edX"
As a student, I need to be able to get my enrollments from edX.

There is an API we can use for this, which returns a list of courses the student is enrolled in. This list needs to be compared with the courses model.

There is a curl command in the other story about this that covers the UI.

[2016-03-14 17:07] justinabrahms commented on #74
I had some issues with mocking & stubbing w/r/t some teachersportal stuff. We were doing tons of mocking because we didn't have a good testing seam.

Let's take that lesson forward. If we had a class called EdXAPI (or similar) which housed these methods and the oauth dance.. that would make our lives much, much easier w/r/t testing.

Happy to answer any questions you might have about that or my ex

[2016-03-14 17:10] jamiefolsom opened #75 "Student Dashboard: Overall Page Template"
As a student I want a page on which to see my dashboard information, which will contain other data, including my program and course listing, avatar etc.

[2016-03-14 17:15] justinabrahms commented on #53
See #3 for some of this information.

Course structure API for the rest.

[2016-03-14 17:24] pdpinch commented on #53
Add date fields to courses model. Create async task to fetch this data from edX. Use celery beat scheduler.

[2016-03-14 17:39] pdpinch commented on #70
Students must be ID Verified in a course in order for it to count towards the micromasters program. We need to flag this status for users who haven't yet verified.

[2016-03-14 19:32] noisecapella opened #77 "Clean instructions in README for docker-osx-dev"
Also update cookiecutter

[2016-03-14 19:33] noisecapella opened #78 "Remove setup.py"

[2016-03-14 19:43] noisecapella opened #79 "Remove static/sass, move/combine everything into static/scss"

[2016-03-15 11:59] justinabrahms commented on #73
This will likely integrate into the code in this file: https://github.com/mitodl/micromasters/blob/master/backends/edxorg.py

[2016-03-15 13:52] pdpinch commented on #23
@noisecapella looks like this is in progress already?

[2016-03-15 14:50] noisecapella commented on #23
Yes: https://github.com/mitodl/cookiecutter-djangoapp/pull/26

[2016-03-15 15:45] #61 closed

[2016-03-15 15:47] noisecapella commented on #40
We could just ignore edX's information (which is probably missing this field) and ask for their birthday ourselves. We could just forbid people under 13 years old from enrolling, not sure if that fits the overall goals of micromasters

[2016-03-15 18:08] noisecapella opened #82 "Upgrade Django to 1.9.4"

[2016-03-16 15:47] #82 closed

[2016-03-16 15:53] #78 closed

[2016-03-16 19:21] #79 closed

[2016-03-16 21:27] noisecapella commented on #18
Regarding authorization, here are my thoughts at the moment:
 - no anonymous access
 - user can patch only their own profile, they cannot patch others
 - user can see their own entire profile
 - other users can see these fields of a user's profile:
   - name
   - bio
   - country
   - state
   - profile image information

Does that sound good?

[2016-03-16 23:01] pdpinch commented on #18
Anti-spam regulations require a positive opt-in to receiving email. Since we will want to email Micromasters students we need them to agree.

----------------
I am mobile.

[2016-03-17 13:54] noisecapella commented on #18
If the email_optin field must always be true, is it necessary to keep track of it in this model? We can use User.is_active to say whether a user is active or not

[2016-03-17 14:41] pdpinch commented on #18
It must be true when registering, but we will have to accommodate people who want to be removed from mailings -- probably handled by our mailing service, but I thought it best to be explicit in the model.

----------------
I am mobile.

[2016-03-17 14:41] noisecapella commented on #18
Right, I didn't think of that

[2016-03-17 15:08] noisecapella commented on #18
For the limited profile I have this:

        fields = (
            'name',
            'bio',
            'account_privacy',
            'employer',
            'job_title',
            'state_or_territory',
            'country',
            'has_profile_image',
            'profile_url_full',
            'profile_url_large',
            'profile_url_medium',
            'profile_url_small',

[2016-03-17 19:00] pdpinch commented on #18
More profile fields, from Erdin:

https://docs.google.com/spreadsheets/d/1ehN3FNymCOhpJT7h9XZDOITP_lOFDnEcStRa0le4MX8/edit#gid=0

If now is a good time to include them, let's do it. I'm also fine with doing this as a follow-up story. There's still some discussion going on about what is required and what may be acquired through other services, like LinkedIn.

[2016-03-17 19:00] pdpinch commented on #18
I'd like to think & talk some more about authorizations but I'm putting out fires. Is that blocking you?

[2016-03-17 20:01] pdpinch commented on #18
George and I spoke about an instructor/department role that would be able to read all student profile data. We'll address this in a separate story.

[2016-03-18 20:48] noisecapella opened #88 "Add new fields to user profile model"
includes designing the data model and updating the profile API

See list referenced here: https://github.com/mitodl/micromasters/issues/18#issuecomment-198034861

[2016-03-18 20:48] noisecapella commented on #18
I added a story for the new user profile fields: #88

[2016-03-21 14:17] noisecapella opened #89 "Add roles to profiles REST API"
MIT instructors should be able to see more information about a user's profile than other users.

Staff can view all profiles, regardless of privacy settings.

Learners can only view profiles where:
- privacy == `PUBLIC_TO_MM` AND the learner is in the same MM program as the profile
- OR privacy == `PUBLIC`

Anonymous users can only view profiles where:
- privacy == `PUBLIC`

[2016-03-21 17:01] pdpinch commented on #23
Since mitodl/cookiecutter-djangoapp#26 has merged, can I close this?

[2016-03-21 17:08] noisecapella commented on #23
Sure, I'll close it

[2016-03-21 17:08] #23 closed

[2016-03-21 17:09] noisecapella commented on #40
I think the answer to this question is now, we'll just not allow these users. We'll ignore edX's information on this because we will ask them again when they fill out their profiles

[2016-03-21 17:09] #40 closed

[2016-03-23 15:57] pdpinch commented on #59
FWIW, e0d from edX devops mentioned yesterday that the migrations for this PR are particularly complex.

[2016-03-23 15:58] pdpinch commented on #13
@pwilkins so this is done?

[2016-03-23 16:06] #13 closed

[2016-03-23 16:06] pwilkins commented on #13
Closed by PR #63

[2016-03-23 16:25] noisecapella opened #92 "When user gets a 404, the console reports a ValueError"
My log: http://hastebin.com/yuwalokega.rb
It seems to come from django-server-status, haven't done any investigation yet however

[2016-03-23 16:34] pdpinch opened #93 "Request production OAuth credentials from edx.org"
We have an account set up that works with micromasters-ci.herokuapp.com and micromasters-rc.herokuapp.com but not one that will work with micromasters.herokupapp.com

[2016-03-23 16:35] pdpinch commented on #93
Because we're not ready to deploy yet to micromasters.mit.edu it seems prudent to request two accounts, one with a redirect-url to Heroku and one that we will use later.

[2016-03-23 18:01] noisecapella commented on #92
I've confirmed that this problem exists in the initial commit, so it will take a while to figure out what's wrong here

[2016-03-23 18:02] pdpinch commented on #93
Opened a ticket at https://openedx.atlassian.net/servicedesk/customer/portal/3/DEVOPS-3888

[2016-03-24 14:52] noisecapella opened #94 "Configure google analytics"
This can be configured using the GA_TRACKING_ID environment variable

[2016-03-24 14:55] #73 closed

[2016-03-24 15:09] pdpinch commented on #94
The tracking ids are in https://github.com/mitodl/micromasters/issues/45

[2016-03-24 15:15] noisecapella opened #95 "MIT Micromasters graphics"
We should create graphics for the MIT Micromasters logo, see:
https://projects.invisionapp.com/share/KR6FYCZTX#/screens/142338434

[2016-03-24 15:20] bdero commented on #94
It looks like there are two IDs listed: One for CI and one for Release. Should I use the micromasters-ci tracking ID for RC as well? @pdpinch

[2016-03-24 17:18] pdpinch commented on #67
When we create the profile from the edX profile, we will get a link to the edX avatars. We should allow the user to change these, or add a new one.

It would be nice to support Gravatar as an option. as well.

[2016-03-24 17:20] pdpinch commented on #88
This should wait until we've done some discovery around integrating with other services, particularly LinkedIn.

[2016-03-24 17:22] pdpinch opened #96 "Discovery: allow user to GET profile data from LinkedIn"
Rather than forcing users to enter in employer information and education history, it would be nice to give them an option to pull it from their LinkedIn profile.

- [ ] Where are LinkedIn API docs?
- [ ] What is process for creating an API ID that we can use for our app?
- [ ] What data will LinkedIn share?

[2016-03-24 17:25] pdpinch opened #97 "Home Page Theming"
Make the home page look like ~~https://projects.invisionapp.com/share/KR6FYCZTX#/screens/142338433~~ https://projects.invisionapp.com/share/AF6XG4X62#/screens/152781225_Public_Home_V3-1

- [x] Depends on #95 logo graphic
- [x] Depends on #103 thumbnails and descriptions in Programs model
- [ ] other images available from the launch site repo, https://github.com/mitodl/mga/tree/gh-pages/images (pri

[2016-03-24 18:05] noisecapella opened #98 "Enforce login required for dashboard"
Figure out what happens when a user is not logged in but they visit the dashboard

[2016-03-24 18:06] pdpinch opened #99 "Logout"
Add a logout link to the user menu that links to the logout endpoint.

[2016-03-24 18:17] pdpinch opened #100 "Apply for masters program"
As a learner, when I have completed my micromasters certificate, I would like to be able to apply for an MIT masters degree via SCM.

SCM appears to use the gradapply web app for taking online admissions applications. The entry point from http://scm.mit.edu/admissions is https://gradapply.mit.edu/scm/apply/login/?next=/scm/

[2016-03-24 18:22] noisecapella opened #101 "Add .dockerignore"
This will make the COPY step faster for rebuilds, and reduce the chance of running out of disk space on a docker-machine VM

[2016-03-24 18:29] #75 closed

[2016-03-24 18:37] pdpinch commented on #69
MIT student IDs are 9 digit numbers. For now, let's plan to do the same thing.

Perhaps at some point we will engage the bureaucracy to see if we can get bona fide student ids for micromasters candidates. I'm not sure where to start that conversation though.

[2016-03-24 18:56] #101 closed

[2016-03-24 19:12] pdpinch opened #103 "Add thumbnail and description to programs model"
As a prospective learner, I'd like to know more about the available micromasters programs. They need thumbnails and descriptions for the home page

(note that we won't do ratings at this time)

See the homepage mockup at https://projects.invisionapp.com/share/KR6FYCZTX#/screens/142338433

[2016-03-24 20:01] pdpinch commented on #64
I don't think this quite right. The student is a member of the micromasters program just by creating an account on the micromasters site. There's no additional application necessary. However, we do need an indicator so that the learner knows what tasks she still has to complete to get her certificate.

We also need a button to upsell those who have received their credential to apply for the on-cam

[2016-03-24 20:02] #64 closed

[2016-03-24 20:02] pdpinch opened #104 "Add thumbnail and description to programs model"
As a prospective learner, I'd like to know more about the available micromasters programs. They need thumbnails and descriptions for the home page

(note that we won't do ratings at this time)

See the homepage mockup at https://projects.invisionapp.com/share/KR6FYCZTX#/screens/142338433

[2016-03-24 20:03] pdpinch commented on #104
don't know why that happened...

[2016-03-24 20:03] #104 closed

[2016-03-24 20:09] pdpinch opened #105 "Student dashboard: display micromasters credential status"
As a learner, I want to know if I'm on track to receive my micromasters credential and what I have remaining to do.

This is somewhat indicated by the list of courses and their status on the student dashboard, but we may need something more explicit with a custom message.

This needs UX. Maybe some kind of thermometer.

[2016-03-24 20:30] pdpinch opened #106 "notify users about course enrollment dates"
As a learner, I would like to be reminded when a course in my micromasters series is open for enrollment, but I haven't enrolled yet. I'd rather not have to return to the micromasters site in order to discover this.

Ideally, I'd like to have some influence over how I'm notified, but to start with e-mail seems sufficient.

This will need some more product thinking.

[2016-03-25 13:18] pdpinch commented on #59
@giocalitri what should we do with this issue? Do you think we can/should pursue it next sprint, or do we need to put it on hold until edX actually merged the new OAuth library?

[2016-03-25 13:24] giocalitri commented on #59
I have had some suggestions about how to run the migrations, but I want to create a different devstack to test it. I think it would be useful to test it, especially if we end up finding missing features/problems.

The suggestion about the migration was:
That is expected behavior (unfortunately).  The short version is that you need to run `./manage.py migrate —fake oauth2_provider zero`, followed b

[2016-03-25 14:30] noisecapella opened #108 "When running tests on Travis use tox --sitepackages to avoid installing dependencies twice"
Since the docker container and tox both use exact same dependencies for micromasters, we should be able to speed up tests a bit by using the --sitepackages option

[2016-03-25 14:32] #18 closed

[2016-03-25 14:43] noisecapella opened #110 "Move factory libraries from test_requirements.txt to requirements.txt"
The gen_fake_data command requires the factory libraries

[2016-03-25 14:55] #110 closed

[2016-03-25 14:55] #108 closed

[2016-03-25 16:25] noisecapella opened #113 "Install celery"
Requirement for #53

[2016-03-25 19:55] noisecapella opened #114 "Use redux-asserts"

[2016-03-25 21:28] giocalitri commented on #74
What's the actual scope for this PR?
with the enrollments retrieved via [edx-api-client](https://github.com/mitodl/edx-api-client/pull/5) in theory this story is limited to only retrieve the access token for the current user.
Do I need to create only an interface for this?

[2016-03-25 21:47] noisecapella opened #117 "Javascript code coverage"
Seems to be an oversight, we should configure our test environment to output code coverage for javascript, maybe using Istanbul: http://stackoverflow.com/questions/16633246/code-coverage-with-mocha

[2016-03-28 13:47] pdpinch commented on #74
This story is for the backend. There's a separate story for the react front-end.

I presume the front-end will iterate through the list of courses in the micromasters and request the current user's enrollment status for each course. Does edx-api-client have an api  that fits that case?

[2016-03-28 13:58] giocalitri commented on #74
So this story needs to provide a REST API for the enrollments?
This is fine.
Just a couple questions:
- should we return the list of enrollments intersected with the list of courses for micromasters? If so, do we have a list of Courses for the first micromaster?
- do you know how to identify a course where the user is enrolled with paid certificate?

[2016-03-28 17:19] pdpinch commented on #74
I think we need to provide a REST API for the react front-end, unless it can communicate with edX directly.

Courses are outlined on the SCM web site, http://scm.mit.edu/micromasters. I'll update this comment with course keys.

The course enrollments API returns a field `mode` for each enrollment. I believe when the user pays the mode is set to `verified` (and not `honor` or `audit`).

[2016-03-29 12:35] pdpinch commented on #74
| course number | example course key               | enrollment start | enrollment end | start date | end date |
|---------------|----------------------------------|------------------|----------------|------------|----------|
| CTL.SC0x      | course-v1:MITx+CTL.SC0x+3T2016   |                  |                |            |          |
| CTL.SC1x      | course-v1:MITx+CTL.SC1x_1+2T2015 |

[2016-03-29 13:27] pdpinch commented on #52
@annagav @noisecapella did #90 address this, or is there more work to be done on the enrollments part?

If so, I'm inclined to close this and create a new issue just for the enrollments work.

[2016-03-29 13:28] pdpinch commented on #72
We're reconsidering this as we get some new designs from Nicholae

[2016-03-29 14:26] noisecapella commented on #52
Yes, more work to be done for enrollments.

[2016-03-29 16:33] pdpinch commented on #53
Instead of pre-fetching this data (using a celery task), let's just fetch the dates when we need them. We can revisit if we find we need to.

[2016-03-29 16:40] #52 closed

[2016-03-29 16:57] pdpinch opened #123 "Display user enrollments in dashboard"
Depends on #125

Depending on the course status returned from the student dashboard api, display the appropriate data: i.e. a string, a button or a grade.

See https://projects.invisionapp.com/share/KR6FYCZTX#/screens/142338434

[2016-03-29 17:00] pdpinch opened #124 "Add a model to abstract courses from course runs"
Because edX will offer multiple runs of the same course, but users need only take one of the runs to meet the micromasters requirement.

The courses REST API shouldn't need any major changes, but the enrollment API will.

See picture of new structure:

![img_4231](https://cloud.githubusercontent.com/assets/430126/14128881/d9ed974e-f5f2-11e5-9d6b-fa84182d0663.JPG)

[2016-03-29 17:25] pdpinch opened #125 "Student Dashboard API"
replaces #74

For a given user id, return a list of courses in the current micromasters with a status for each course

For example:

title: Intro to SCM
status:
- course has not been offered (start date doesn't exist or is in the future)
- user not enrolled, but course is offered with enrollment date in the future
- user not enrolled, course is open for enrollment now
- user enrolled but not verif

[2016-03-29 17:29] pdpinch commented on #125
Update this with json structure, when we determine it

[2016-03-29 17:32] pdpinch commented on #125
APIs don't exist yet in edX for some of this data. We will return `null` for this data for now.

[2016-03-29 17:46] pdpinch commented on #67
If there is no value for the avatar we will use edX's default (need URL)

[2016-03-29 17:57] pdpinch commented on #97
we'll ask Nicholae to do this

[2016-03-29 18:06] pdpinch opened #126 "add LinkedIn social auth plugin"
Create an endpoint that prompts the user to login to LInkedIn via OAuth and returns all the json available.

We will use this later once we've established the mapping of LinkedIn fields to user profile fields in micromasters.

[2016-03-29 20:16] pwilkins commented on #125
I find a truth table easier to read.  I'd like to think that these are progressive, that is, the last "yes" in a row implies the yeses that precede it, but the verification date may break that assumption.

 offered | enrollment open | enrolled | verified | past verification | completed | passed |
 --------- | ----------------- | ---------- | ---------- | -------------------- | ----------- | ------

[2016-03-30 01:00] pdpinch commented on #94
Sorry for the delayed reply. Yes, please use the UA code for CI on both CI and RC.

[2016-03-30 01:06] pdpinch commented on #48
@noisecapella is this done?

[2016-03-30 13:19] justinabrahms commented on #74
@noisecapella and I talked a bit about this w/r/t TP. If you have two endpoints (one for all courses available, one for the user's specific enrollments) it allows for nicer caching strategies, at the expense of two RPCs. I think 2 RPCs will be fine, and think that would be the method that I'd personally pursue.

[2016-03-30 14:28] pdpinch commented on #103
We'll look into using wagtail for this.

[2016-03-30 14:51] noisecapella commented on #48
Yes, fixed by #76

[2016-03-30 14:51] #48 closed

[2016-03-30 15:00] pwilkins commented on #42
Clinton who?  Do you have an email?

[2016-03-30 15:06] pwilkins commented on #77
"Clean instructions..." means what?  Do you mean add instructions for ``docker-osx-dev`` using the Teacher's Portal ``README.md`` as an example and convert that from RST format to Markdown?  (I've got an open PR #119 for that.  :-) )

[2016-03-30 15:34] justinabrahms commented on #126
To close the loop from chat:

- LinkedIn does provide sign-in-with-linkedin, but you can't then make reasonable API access without a partnership
- This started ~ 1 year ago. http://thenextweb.com/dd/2015/02/12/linkedin-takes-aim-developers-plans-lock-apis/
- https://developer.linkedin.com/partner-programs/apply is where we apply for the partnership
- I believe we want access to the "Professional P

[2016-03-30 17:46] justinabrahms commented on #126
https://developer.linkedin.com/legal/api-terms-of-use -- terms of use say that we are limited to a total of 500,000 registered people ever, fyi.

[2016-03-30 18:54] justinabrahms commented on #126
The access we get only allows us to get information about the user's current positions, not past positions.

[2016-03-30 19:33] noisecapella commented on #125
What about
- user not enrolled, course enrollment date has passed

Is there a time limit the user must enroll in?

[2016-03-30 19:39] Ferdi commented on #126
FYI .. I just applied for their partner program.

[2016-03-30 19:40] pdpinch commented on #125
I suppose that is another state, but from the user's perspective it's the same as "course has not been offered (start date doesn't exist or is in the future)" or "user not enrolled, but course is offered with enrollment date in the future"

I believe course runs have a field `enrollment_end` after which users can no longer enroll.

[2016-03-30 20:51] pdpinch commented on #54
Putting this here for lack of a better idea at the moment...

[2016-03-30 20:51] pdpinch commented on #54
Supply Chain courses:

| course number | course name               | prerequisites         |
|---------------|---------------------------|-----------------------|
| CTL.SC0x      | Supply Chain Analytics    | (No Prerequisites)    |
| CTL.SC1x      | Supply Chain,Fundamentals | (No Prerequisites)    |
| CTL.SC2x      | Supply Chain Design       | (Prerequisites: SC1x) |
| CTL.SC3x      | Supply Ch

[2016-03-30 20:58] pdpinch commented on #54
SCM course runs:

| course number | course key                       | enrollment start                  | notes                         |
|---------------|----------------------------------|-----------------------------------|-------------------------------|
| CTL.SC0x      | course-v1:MITx+CTL.SC0x+3T2016   | "Registration Opens August 2016"  |                               |
| CTL.SC1x      | M

[2016-03-30 21:03] noisecapella commented on #125
How is this for the data returned?

    {
      courses:
        [{
          title: "SC1x Supply Chain Fundamentals",
          status: "passed",
          grade: "B"
        }, {
          title: "Supply Chain Management 2",
          status: "not-passed",
          grade: "F"
        }, {
          title: "Supply Chain Management 3",
          status: "verified-not-completed",
          complet

[2016-03-30 21:15] pdpinch commented on #125
This is what I had in mind. I'll want to go over it carefully, but this is the right direction.

For example, I think "completion" might natively be a float, e.g. .8 instead of 80.

[2016-03-31 13:50] #126 closed

[2016-03-31 14:34] pwilkins commented on #42
@cblackburn We want to create a button like the green button in this screenshot:

![screenshot-courses edx org 2016-03-30 17-00-51](https://cloud.githubusercontent.com/assets/145821/14179075/96767a78-f72b-11e5-8752-00d8d01c5eda.png)

What is the API endpoint that returns whether a student is verified?

[2016-03-31 14:38] justinabrahms commented on #42
Hey @cblackburn,

We know how to get the students verified status using the enrollments API. What we don't know is how to generate the link to upgrade a user to verified. How do we generate that link? Are the URLs stable and deterministic?

Thanks (cc @pwilkins)

[2016-03-31 14:41] pdpinch commented on #125
Here's an update version of the return json. I'm not sure we can actually get all the data necessary for the "verified, completed and not passed" state, but I've left it in:

[code]

[2016-03-31 14:46] noisecapella opened #128 "Remove redux-actions"
I'd like to remove redux-actions, which is a helper library for simplifying how we define our reducers. The project is accumulating a backlog of issues and pull requests, and it doesn't really gain us much. It's also an extra library that people need to become familiar with when learning redux. Thoughts @justinabrahms?

[2016-03-31 15:16] #114 closed

[2016-03-31 15:20] noisecapella commented on #125
I just realized we don't have a course key anywhere. What should we use for identifying each course? Is the course key good or is that not unique?

[2016-03-31 15:23] noisecapella commented on #125
For a course that's not completed, are we not showing completion anymore, just the grade? Also, are we converting the grade values to percents or to letter grades in the React UI?

[2016-03-31 15:23] giocalitri commented on #125
We need to use the course key, and it will be called `id`, in case we need to change it in the future

[2016-03-31 15:38] pdpinch commented on #125
There is no representation of "percent completed" in edX just a grade.

Letter grades are defined for each course, and I don't see a good way to extract that data (i.e. it's not available from the certificate API). It's much simpler to stick with percents.

[2016-03-31 15:52] #117 closed

[2016-03-31 15:52] pwilkins commented on #42
Clinton's response on Slack edX #General channel:

[2016-03-31 15:53] pwilkins commented on #42
@pdpinch says that the upgrade page is an acceptable solution.

[2016-03-31 19:29] noisecapella commented on #125
If we are showing the grade when the course is not completed, is there anything to notify the user that the course is complete or not?

[2016-03-31 19:43] #124 closed

[2016-03-31 19:47] pdpinch commented on #95
![logo-micromasters](https://cloud.githubusercontent.com/assets/430126/14188673/d11a4d0e-f757-11e5-96bf-c4c1456a4e56.png)
![logo-micromasters 2x](https://cloud.githubusercontent.com/assets/430126/14188672/d11906c4-f757-11e5-8640-c3fa2df8395a.png)

[2016-03-31 19:47] pdpinch commented on #97
![bg-banner-1](https://cloud.githubusercontent.com/assets/430126/14188695/ec37ca58-f757-11e5-95a8-6af1f6ab40a8.png)
![bg-banner-1 2x](https://cloud.githubusercontent.com/assets/430126/14188700/ec44a3ea-f757-11e5-98d2-21f147827439.png)
![bg-main-1](https://cloud.githubusercontent.com/assets/430126/14188698/ec428cf4-f757-11e5-81f7-942d307ea2bb.png)
![bg-main-1 2x](https://cloud.githubusercontent.com

[2016-03-31 19:52] pdpinch commented on #93
edX created the accounts and they have been delivered and added to the configuration by @bdero

[2016-03-31 19:52] #93 closed

[2016-03-31 19:56] noisecapella commented on #125
We should pass the grades as floats instead of strings. Strings are better at guaranteeing float precision of data but I don't think we'll need that here if we're just rounding to the nearest percent

[2016-03-31 20:13] pdpinch commented on #103
Thumbnail for SCM micromasters: http://scm.mit.edu/sites/default/files/styles/adapative_1/adaptive-image/public/imageblock/scx-ban.jpg

description (scraped from https://www.edx.org/mitx-micromasters-credential-supply):
[code]

(kind of longer than I had intended. maybe we just want the first paragraph)

[2016-03-31 20:43] pwilkins commented on #103
the first paragraph is a comprehensive description.  The second paragraph is a sales pitch.

[2016-03-31 20:48] pdpinch commented on #103
I do not know which is called for in this case.

[2016-03-31 22:03] noisecapella commented on #125
Here's the javascript side: https://github.com/mitodl/micromasters/pull/130/files#diff-3ba30cee865fa843dc5141d396244367R39

[2016-04-01 17:39] pdpinch commented on #54
I loaded the 3 completed courses into the micromasters edX sandbox. Working on the current courses next.

[2016-04-04 15:36] #128 closed

[2016-04-04 15:48] noisecapella opened #132 "Set up google analytics to track more events"
We should instrument both the public part of the site and the dashboard. We have the infrastructure set up but we don't send any GA events yet.

Here are the events we should track for MVP:
- [ ] any page view
- [ ] successful OAuth login via edX
- [ ] dashboard view (if not already tracked by page views)
- [ ] user completes profile
- [ ] profile view (if not already tracked by page views)

Post-

[2016-04-04 16:26] bdero commented on #132
I've just configured micromasters-ci and micromasters release to use their respective tracking IDs. New micromasters review apps will also use the micromasters-ci tracking ID.
Does this issue refer to configuring the environments, or building out functionality to send tracking events?

[2016-04-04 20:10] pwilkins commented on #77
I spoke with George out-of-band.  He wants the ``docker-osx-dev`` instructions cleaned-up.  For example, the ``Makefile`` re-installs ``docker`` each time it's run.  Granted, it doesn't do anything if ``docker`` is already installed, but it is still an extra step.

[2016-04-05 13:37] pdpinch commented on #132
Sorry I think I misunderstood the issue to mean specifically what @bdero but reading it again it seems like there is more to be done.

@noisecapella what needs to be done for the GA events? Do you need me to define them?

[2016-04-05 14:23] pdpinch opened #134 "allow CMS user to add new course runs"
As a department team member, I need to identify the course runs that will be part of my micromasters program.

This has to be done manually, because there's no reliable way for us to guess course keys (both course number and run are user defined)

When a course key for a courserun is added to a program, we can use the edX courses API to GET course metadata, like `start_date`, `enrollment_date`, et

[2016-04-05 14:29] noisecapella commented on #132
@pdpinch Yes we should define what events are tracked just to clarify the scope of the issue

@bdero this only refers to actually sending out tracking events, we have the infrastructure set up and in place already

[2016-04-05 14:43] pdpinch commented on #132
Now I see what happened. @bdero you actually completed #94? Can we close that?

[2016-04-05 14:47] pdpinch commented on #132
Events that should be tracked:

- [ ] any page view
- [ ] admin page views (if not too much trouble)
- [ ] OAuth login via edX
- [ ] dashboard view
- [ ] learner clicks enroll button
- [ ] learner clicks 'upgraded to verified' button
- [ ] learner open profile form
- [ ] learner saves profile form

I think that's all that's reasonable for currently scheduled work. This story isn't even in the curr

[2016-04-05 14:57] pdpinch commented on #42
So the constructed URL is something like EDX_SERVER_URL + `/course_modes/choose/` + course_key

[2016-04-05 14:57] #42 closed

[2016-04-05 16:55] pdpinch commented on #54
Ok, all the SCM/CTL courses have been loaded into the micro masters sandbox. They also have repos now so that we could potentially automate this.

https://github.mit.edu/edX-Archives/edX-Archive-CTL.SC0x-3T2016
https://github.mit.edu/edX-Archives/edX-Archive-CTLSC1x-3T2014
https://github.mit.edu/edX-Archives/edX-Archive-CTL.SC1x_1-2T2015
https://github.mit.edu/edX-Archives/edX-Archive-CTL.SC1x_2-1

[2016-04-05 17:27] giocalitri commented on #125
This a "compressed" view of all the states
![img_5179](https://cloud.githubusercontent.com/assets/1005204/14291576/2026ef78-fb32-11e5-813a-4680fb6e0b70.jpg)

[2016-04-05 18:02] pdpinch commented on #132
FWIW, I'm seeing pageviews come across for `/dashboard/` but nothing else. I'm guessing this is because we're configured GA as a react component but the home page doesn't use react.

[2016-04-05 18:09] pdpinch commented on #94
I'm seeing pageviews on GA for /dashboard/

[2016-04-05 18:09] #94 closed

[2016-04-05 18:11] pdpinch opened #135 "Add Google Analytics to django template"
So we can get page views for the home page

[2016-04-05 20:06] pdpinch commented on #96
Our request for enhanced LinkedIn API access was rejected. Without enhanced access, it doesn't seem worth the user's time to sign in to LinkedIn.

[2016-04-05 20:06] #96 closed

[2016-04-05 21:53] noisecapella commented on #99
While you're working with the logout React element, can you also fix this warning:

Failed propType: The prop 'id' is required to make 'Dropdown' accessible for users using assistive technologies such as screen readers
Check the render method of `Uncontrolled(Dropdown)`.

[2016-04-05 22:00] noisecapella opened #137 "Update gen_fake_data to create CourseRuns"
Currently it just creates Courses and Programs

[2016-04-05 22:54] pdpinch commented on #99
That's interesting -- what generates that warning?

[2016-04-06 13:28] aliceriot commented on #99
@noisecapella cool, I can take care of that.

@pdpinch looks like the component requires a particular prop (`id`) for accessibility and we're not passing it. do you mean where does the warning show up?

[2016-04-06 14:24] noisecapella commented on #99
@pdpinch propTypes are a React feature to verify that certain props are present and of the correct types (ie, asserts). I guess `Dropdown` makes use of the id attribute to let screen readers know what to call it

[2016-04-06 15:43] #99 closed

[2016-04-06 16:25] pdpinch commented on #59
A new devstack and Vagrantfile was announced today, ostensibly to address this migration issue.

https://groups.google.com/d/msgid/edx-code/CAKPrGxhoytRL_i%2ByvfNzfdQRwCCca1%2BwgEK7mrTR3%3D%3Dz%3DvXKhg%40mail.gmail.com?utm_medium=email&utm_source=footer

However, at the moment, it's not working for me.

[2016-04-06 17:56] noisecapella opened #140 "Use npm test to run javascript tests"
Move the javascript tests out of tox, but leave a single command to npm test in tox.ini so we can still run all tests with one command

[2016-04-06 19:10] noisecapella opened #142 "Create a script to run micromasters natively for OS X users"
I'm thinking the script will:
 - create a virtualenv in the directory if necessary and pip install requirements
 - npm install
 - read environment variables from `.env`
 - fork three processes for Django, postgres and the webpack watcher

It would require some manual configuration for postgres but hopefully nothing too complicated

[2016-04-06 19:34] #67 closed

[2016-04-06 20:27] pdpinch commented on #30
Two questions @justinabrahms

1. Does this still need to be done?
2. Is there enough definition?

[2016-04-06 20:28] pdpinch commented on #53
I think most of this will be covered by #125.

[2016-04-06 20:29] #74 closed

[2016-04-06 20:29] pdpinch commented on #74
This was superseded by #125

[2016-04-06 20:30] #72 closed

[2016-04-06 20:30] pdpinch commented on #72
No longer part of the dashboard design

[2016-04-06 20:38] pdpinch commented on #100
Full application instructions for regular SCM Masters program are at http://scm.mit.edu/admissions/apply

There are 11 listed requirements for applying. Which, if any, of these will be necessary for applications coming from the micromasters program?

@Ferdi

[2016-04-06 20:40] pdpinch commented on #135
@aliceriot if you need something to do you can grab this.

We already have GA set up to work with React. It records pageviews on the dashboard but nothing else.

We need to make sure it's part of the django template so we'll capture page views on the home page and, ideally, the admin pages as well.

[2016-04-06 21:01] #95 closed

[2016-04-06 22:44] pdpinch opened #145 "Department CMS"
As a member of a department team, I want to be able to create programs, add courses to a program and add courseruns.

[2016-04-06 22:46] pdpinch opened #146 "allow CMS user to create courses"

[2016-04-06 22:47] pdpinch opened #147 "allow department admin to manage users"

[2016-04-07 13:44] #98 closed

[2016-04-07 13:53] justinabrahms commented on #30
There is no current write API. You can use the django admin. I'm fine with things as they exist now, but there may be some requirements that I've not tracked (doubt it) which require this.

I think it's safe to close. We can always create another if it becomes an issue.

[2016-04-07 14:15] #123 closed

[2016-04-07 14:20] #30 closed

[2016-04-07 14:23] Ferdi commented on #70
Closing, duplicate of #125 and #123

[2016-04-07 14:23] #70 closed

[2016-04-07 14:23] Ferdi commented on #53
Closing, duplicate of #125 and #123

[2016-04-07 14:23] #53 closed

[2016-04-07 14:26] noisecapella commented on #30
We don't require authentication for getting information from these APIs FYI, not sure if that's a problem here but it would be good to add it so that it's consistent with the rest of the dashboard

[2016-04-07 14:33] Ferdi commented on #22
There is not much info in the current page (http://micromasters.mit.edu/). Initially, we can simply link the "micromaster" card in the front page to go to the department SCM page (http://scm.mit.edu/micromasters). We can switch when we have the CMS ready. The only thing to do is have the signup form as part of the new front page.

[2016-04-07 15:04] Ferdi commented on #30
I closed because of Justin's last comment. Feel free to reopen.

[2016-04-07 15:06] noisecapella commented on #30
That's fine, I'll create a more specific issue for it

[2016-04-07 15:50] #137 closed

[2016-04-07 19:23] giocalitri commented on #125
Implementation logic
![img_5185](https://cloud.githubusercontent.com/assets/1005204/14363933/914fae8a-fcd4-11e5-84b2-8ef37139675d.jpg)

[2016-04-08 15:09] #54 closed

[2016-04-11 01:05] pdpinch commented on #88
LinkedIn didn't pan out, so we'll do this all by hand, based on the fields described in https://docs.google.com/spreadsheets/d/1ehN3FNymCOhpJT7h9XZDOITP_lOFDnEcStRa0le4MX8/edit?pref=2&pli=1#gid=0

users will have a profile card for personal, employment and education.

personal info can be added directly to the profile model, but employment and education will be one-to-many

[2016-04-11 01:22] pdpinch opened #149 "User enrollment: personal info card (part of profile creation)"
When I first enroll, I need to view and update my personal profile information, as it was imported from edX.

Fields are described in https://docs.google.com/spreadsheets/d/1ehN3FNymCOhpJT7h9XZDOITP_lOFDnEcStRa0le4MX8/edit?pref=2&pli=1#gid=0

This will be the first tab of three, presented the first time the user visits the site. The user will not be able to proceed without completing the required

[2016-04-11 02:35] pdpinch opened #150 "User enrollment: employment card (part of profile creation)"
As a user, I need to enter information about my professional experience. This will help me network with others from my company and industry, and it will help me apply for a masters degree.

Users can enter as many positions as they choose, but they cannot close the modal with zero positions unless they have also answered "No" to the question "Are you currently employed?"

For each employer, the us

[2016-04-11 03:25] pdpinch opened #151 "User Enrollment: education card (profile creation)"
As a user, I need to enter information about my educational history. This will help me network with others, and it will help me apply for a masters degree.

~~The first field, "Education Completed" is populated from edX, but the user can change it.~~

We will present the user with a series of switches, one for each type of degree. If switch is set to "on" the user must add a degree and complete th

[2016-04-11 12:29] pdpinch opened #152 "release v.0.3.0"
We can do a release immediately.

@pwilkins will bring @annagav up to speed on how to do the release.

[2016-04-11 13:55] bdero opened #153 "Allow PR creators to populate PR apps with a superuser"
There are a few options here:

- Automatically create one with a stock username/password in a heroku hook (bin directory script). This approach is risky, because if the check doesn't work correctly, a superuser could be created on any environment (such as production).
- Add a chatops command (with permissions) to allow certain chat to add superusers to PR apps. For this, we need to reconsider doof

[2016-04-11 13:59] bdero opened #154 "Allow PR creators to reset the database of PR apps"
This comes up sometimes, and currently must be done manually by someone with permission to use the heroku dashboard.

[2016-04-11 14:34] bdero opened #155 "Setup AWS S3 for CI, RC, and Production"
Steps:

- [x] Create an S3 bucket for each environment
- [x] Create separate IAMs with minimal permissions to R/W single S3 buckets (turn on versioning)
- [x] Configure each environment in accordance with the AWS environment variables specified here: https://github.com/mitodl/micromasters/pull/143/files#diff-6a1b6963e828b69fcc667e3c45df78bbR80
- [x] Test with micromasters-ci's configuration on the

[2016-04-11 15:09] bdero commented on #155
This is configured on #143 and awaiting testing.

[2016-04-11 15:22] bdero commented on #155
This was confirmed working, and is now configured for all environments and will become active on all future PR apps (micromasters-ci configuration) as well as CI/RC/Production as soon as they receive the #143 changeset.

[2016-04-11 15:22] #155 closed

[2016-04-11 16:35] pdpinch opened #157 "Deploy Certificates API to edx sandbox"
https://github.com/edx/edx-platform/pull/12055

We're hoping this will be merged to master on edx-platform before Friday, 4/15

[2016-04-11 16:42] pdpinch opened #158 "GET user's final grade and certificate status from edX API"
in order to include the data in the dashboard API.

Probably shouldn't start this until edX has *at least* done a first pass on https://github.com/edx/edx-platform/pull/12055

should be added to edx-api-client library
integrate with dashboard API

[2016-04-11 16:46] pdpinch opened #159 "script to create fake certificates data"
in order to demo the learner dashboard, we need to have a demo user who has gotten a certificate in at least one course

a gist would be sufficient. no need to merge upstream

[2016-04-11 16:48] pdpinch opened #160 "remove programs link from top nav"
we don't have a programs view

and there's no ui tests

[2016-04-11 17:00] pdpinch opened #161 "Student Dashboard: add background"
We need the image

[2016-04-11 17:10] pdpinch opened #162 "Make enrollment and upgrade links active"
Provide the same endpoints as edX does for enrollment and upgrade to verified.

All we need is a course key and a logged in user.

[2016-04-11 17:29] pdpinch commented on #149
"To enroll in MIT Micromasters you must fill in the information below"

[2016-04-11 17:37] pdpinch commented on #149
We will POST/PATCH when the user closes the modal -- to avoid losing data in progress

[2016-04-11 17:50] pdpinch commented on #88
We'll start by focusing on the personal data, so as not to block the work on the front-end.

[2016-04-11 18:02] pdpinch commented on #59
The new library has two issues:

- [ ] it doesn't use the template that we had written for the old library
- [ ] it doesn't fix the session issue that we had with old library: authorizations don't persist.

[2016-04-11 18:03] #59 closed

[2016-04-11 18:15] pdpinch opened #163 "Discovery: cybersource API and SOAP libraries"

[2016-04-11 18:53] #135 closed

[2016-04-11 20:11] #140 closed

[2016-04-11 20:13] noisecapella commented on #88
I will be getting rid of these fields collected from edX:

 - bio
 - requires_parental_consent (we will add validation that birthdate is at least 13 years)
 - goals
 - language_proficiencies
 - mailing_address
 - linkedin

There are other fields related to education or employer that will be migrated to our new model in some future issue

[2016-04-11 20:16] pdpinch commented on #88
@Ferdi should we keep language_proficiencies ?

I agree that the rest of these can go.

[2016-04-11 20:20] Ferdi commented on #88
Can we keep them all there ? And for the moment dont expose them in the UI ?

[2016-04-12 13:06] pdpinch commented on #157
@bdero just checking -- you deployed edx/edx-platform#12055 on https://micromasters-demo.d.mitx.mit.edu ?

[2016-04-12 14:35] bdero commented on #157
Yes

[2016-04-12 14:43] pdpinch commented on #149
@noisecapella I updated the fields in the spreadsheet

[2016-04-12 14:52] pdpinch commented on #149
I added a wireframe.

[2016-04-12 15:07] pdpinch commented on #69
I updated the description to capture the discussion in planning.

[2016-04-12 15:37] #163 closed

[2016-04-12 15:37] pdpinch commented on #163
Issue moved to [mitodl/teachersportal #493](https://github.com/mitodl/teachersportal/issues/493) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-12 15:47] noisecapella opened #166 "Upgrade to boto3"

[2016-04-12 16:06] noisecapella opened #167 "Remove linkedin support"

[2016-04-12 16:09] #103 closed

[2016-04-12 16:12] annagav opened #168 "Display a default image if failed to get profile image from edx"
This will eventually be addressed during enrollment/profile set up. The user will be required to upload a profile image.

[2016-04-12 16:37] pdpinch commented on #19
I update the description and the wireframe.

I don't know if we will use the same endpoint and container for the enrollment / profile creation, or if we will need different ones. Perhaps @noisecapella has an opinion.

[2016-04-12 17:34] noisecapella commented on #19
I think we should have a different endpoint, `/profile/` would work.

[2016-04-12 17:40] noisecapella commented on #92
It seems like this is expected behavior. Since we're logging template messages at DEBUG level we will see exceptions for missing variables: https://docs.djangoproject.com/en/1.9/topics/logging/#django-template

[2016-04-12 17:40] #92 closed

[2016-04-12 18:01] noisecapella opened #169 "If user clicks cancel when authorizing edX an AuthCanceled exception is thrown"
I think we just need to capture this exception and redirect them to the index

[2016-04-12 18:52] noisecapella opened #170 "User cannot login if an exception occurs early in the social auth pipeline"
I ran into a problem when the `update_profile_from_edx` function threw an Exception due to unrelated work I did. In this case the `User` is created but the user can't login using that user. When they next attempt to login a new user is generated with a new username which won't match the edX username. This will cause us to fail to get their profile information, which prevents them from logging in t

[2016-04-12 19:50] Ferdi opened #174 "Registration prerequisites"
From my discussion with Erdin:

Currently ( I think) , anyone with an edx.org account can register in the MIT Micromasters portal.  We need to change that so only registered MM learners are allowed to create an account.  A couple of sugestions:
- Explain the eligibility somewhere in the front page
- If the learner tries to "login with edx" anyway we verify their eligibility, we show a message that

[2016-04-12 19:55] giocalitri commented on #174
@Ferdi : Can you please define `registered MM learners`?

[2016-04-12 20:00] aliceriot commented on #69
just opened #173 which addresses some of this (adds the attribute, adds it to the model serializer), but I think we're waiting on some more React work to include this somewhere in the frontend (unless I'm misunderstanding how it's to be included in the UI).

[2016-04-12 20:11] noisecapella commented on #69
I think you should be able to start now, the dashboard has the user profile image and name already. There are some mockups here: https://projects.invisionapp.com/share/KR6FYCZTX#/screens/142338434

[2016-04-12 20:12] aliceriot commented on #69
ah cool, not seeing that I thought the id was only supposed to appear at `/dashboard/profile`

[2016-04-12 20:16] #160 closed

[2016-04-12 20:44] noisecapella commented on #149
Is preferred language a dropdown? Should we have state in addition to city and country?

[2016-04-12 20:51] noisecapella commented on #149
It looks like edX uses ISO 639-1 language codes but they only support English in the devstack by default. edx.org has four languages to choose from

[2016-04-12 20:58] Ferdi commented on #174
@giocalitri  I think it means "paid certificate" if I have the term right.

[2016-04-12 21:10] giocalitri commented on #174
The problem with this is that for querying if the user has at least one paid enrollment, we need she to login because we need her edX `access_token`.

Now we can work around this and remove her user if after she login and we realize she does not have a paid course.

Anyway this sounds a bit silly to me, because I imagine it would be much better for the user to create an account but disable everyth

[2016-04-12 21:17] Ferdi commented on #174
Agree with you.  I think we are saying the same thing.  We can talk briefly offline and update this issue accordingly.

[2016-04-12 21:30] noisecapella commented on #149
We should have a message that says that the user will opt in to receive email by submitting their profile

[2016-04-12 21:48] #170 closed

[2016-04-12 23:18] pdpinch commented on #149
Actually, I was referring to `language_proficiencies` in the edX profile, not `language`

I believe the user can choose from any of the ISO 639-1 languages for their proficiencies, but language is limited to the 4 supported languages.

Our micromasters site is only going to support English (as far as I know) but I think MIT is interested in the range of it's users' proficiencies.

[2016-04-12 23:25] pdpinch commented on #149
Thanks for the reminder! I updated the wireframe.

I assume we still have a field in the database for tracking opt-in status, even though we're not letting people opt-out here.

[2016-04-13 12:46] pdpinch opened #178 "Terms of Service"
We need a page for terms of service, and a link to it from the footer.

[2016-04-13 12:53] pdpinch opened #179 "allow user to update avatar"
Allow users to upload an image, to replace their edX avatar

![image](https://cloud.githubusercontent.com/assets/430126/18056441/e0bb2eb0-6dd9-11e6-9564-a0f639888fb1.png)

![image](https://cloud.githubusercontent.com/assets/430126/18098882/2ac6de86-6eb2-11e6-8ce2-39b25dbe932b.png)

![image](https://cloud.githubusercontent.com/assets/430126/18098901/3b63cdc6-6eb2-11e6-9ad0-b431b4ba14e9.png)

![imag

[2016-04-13 14:36] noisecapella commented on #149
Can you upload the wireframe again?

[2016-04-13 14:53] aliceriot commented on #161
@pdpinch to confirm, is this to add the background for the profile bar? as seen here: https://projects.invisionapp.com/share/KR6FYCZTX#/screens/142338434

[2016-04-13 15:04] pdpinch commented on #161
That's correct.

I thought I had a PNG for the image, but I can't locate it right now.

[2016-04-13 15:09] aliceriot commented on #161
there's one linked over in #97 , can I just use that?

[2016-04-13 15:14] pdpinch commented on #161
Yes!

I knew when I put it there I wasn't going to be able to find it again...

[2016-04-13 15:15] aliceriot commented on #161
haha, yeah it's easy to lose things.

cool, I have a pr ready then.

[2016-04-13 18:45] #65 closed

[2016-04-13 18:45] #161 closed

[2016-04-13 19:11] noisecapella commented on #149
When we say 'Preferred name' is optional, does that mean we use first + last otherwise? Should we set preferred_name to this internally?

[2016-04-13 20:30] pdpinch commented on #149
I'm trying to anticipate stuff like the social network, where it may not be appropriate to default to the user's given name.

I don't think I know now what we will use in those cases, so I'd rather not populate preferred.

----------------
I am mobile.

[2016-04-13 20:56] noisecapella commented on #19
I'm reassigning this to myself since I already did most of this in my personal page work

[2016-04-14 13:34] pdpinch commented on #152
@annagav @pwilkins is this done?

[2016-04-14 13:50] annagav commented on #152
Yes, It's done

[2016-04-14 15:11] pwilkins commented on #152
There are two steps left to do.
1. merge ``release`` with ``master``, and push ``master``  (no PR)
2. tag the version with ``v0.3.0``

[2016-04-14 15:21] noisecapella commented on #88
Closed by #180
@Ferdi the fields have been renamed but not deleted except for year_of_birth which we can't really use and will be replaced by date_of_birth which we ask for

[2016-04-14 15:21] #88 closed

[2016-04-14 15:29] pdpinch commented on #152
Ok. When those two things are done, we can close this issue.

[2016-04-14 16:11] pdpinch commented on #151
@noisecapella @annagav @Ferdi I added a wireframe for the education tab. I'll update the description shortly.

[2016-04-14 16:16] Ferdi commented on #151
Some UX work is needed For example:
What is required ?
What if I dont have a doctorate degree?

[2016-04-14 16:20] pdpinch commented on #151
I added this to the description:

Master's or Professional => Master's Degree, Bachelor's Degree, High School
Associate Degree => Associate Degree, High School
High School => High School

[2016-04-14 17:43] #19 closed

[2016-04-14 18:00] pdpinch commented on #162
For "enroll" we can use the enrollments API: http://edx.readthedocs.org/projects/edx-platform-api/en/latest/enrollment/enrollment.html#view-and-add-to-a-users-course-enrollments This supports a POST, so it looks like its easiest and best to enroll the user without leaving micromasters.

For "upgrade to verified" we have no choice but to drop the user into the edX shopping cart flow. The URLs look

[2016-04-14 20:35] Ferdi commented on #149
1. It looks like "preferred name" is required on edx, so we must have that for each learner
2. We might want to allow user to use a name other than real name (in discussions / forums etc.)

Given 1 and 2 above what dont we make "preferred name" required ?

[2016-04-15 18:05] noisecapella commented on #149
So we should populate "preferred name" with edX's "name" field?

[2016-04-15 18:10] #69 closed

[2016-04-15 19:09] pdpinch commented on #150
There should be just enough definition here to get started, but I need to take another pass on the fields. I'm also going to update the title.

[2016-04-15 19:09] aliceriot commented on #150
cool, I've got stuff to do in the meantime! no rush.

[2016-04-15 19:58] noisecapella opened #188 "Add fields to CourseRunFactory"
At least `start_date`, `end_date`, `enrollment_start`, `enrollment_end`

[2016-04-15 20:28] #125 closed

[2016-04-15 20:55] #168 closed

[2016-04-18 21:28] pdpinch commented on #150
@aliceriot I update the description and added a wireframe.

[2016-04-19 13:56] aliceriot commented on #150
great! going to probably get started on this today.

[2016-04-19 20:44] aliceriot commented on #150
today I merged #190, which sets up react-router to navigate between the profile tabs and adds a skeleton employment page.

currently working on fleshing out the employment page more.

[2016-04-20 14:34] noisecapella opened #192 "Replace mocked dashboard API in client"

[2016-04-20 18:37] #192 closed

[2016-04-20 19:14] noisecapella opened #195 "500 error when viewing dashboard"
2016-04-20T19:09:23.663101+00:00 app[web.1]:     response = self.process_exception_by_middleware(e, request)
2016-04-20T19:09:23.663092+00:00 app[web.1]: Traceback (most recent call last):
2016-04-20T19:09:23.663094+00:00 app[web.1]:   File "/app/.heroku/python/lib/python3.4/site-packages/django/core/handlers/base.py", line 149, in get_response
2016-04-20T19:09:23.663055+00:00 app[web.1]: [2016-04

[2016-04-20 19:26] noisecapella commented on #195
@giocalitri says this was caused by `position_in_program` being `None`. We are requiring the admin to set this value properly when editing the course in Django admin

[2016-04-20 19:26] #195 closed

[2016-04-20 19:54] annagav opened #196 "Pull profile data from edx when profile is out date"
In particular: happens with profile picture from edx, if user changes his picture on edx after his MM profile was created.

[2016-04-22 12:02] pdpinch commented on #97
@aliceriot there's a new home page design from @nicolaeherrera at https://github.com/mitodl/micromasters-templates/commit/e293184d53111161f247dbda078491bfd1c55cc4

[2016-04-22 12:14] pdpinch commented on #97
There's also an updated invision page too: https://projects.invisionapp.com/share/AF6XG4X62#/screens/152781225_Public_Home_V3-1

[2016-04-22 14:00] noisecapella opened #201 "Refactor dashboard API"

[2016-04-22 14:35] #149 closed

[2016-04-22 19:54] #188 closed

[2016-04-22 20:06] #105 closed

[2016-04-25 11:56] pdpinch commented on #152
Looks done to me!

[2016-04-25 11:56] #152 closed

[2016-04-25 11:56] #157 closed

[2016-04-25 15:33] noisecapella opened #210 "Show X-ie when there is no user profile"
The link we provide for a default empty profile doesn't work for edX, which has a different default image they use

may want to address this at the same time as #179

[2016-04-25 19:24] pdpinch opened #214 "Some programs require courses to be taken in order"
As a micromasters student, I need to understand when courses must be taken in the proscribed order.

In practice, there are plenty of users who have taken the courses out of order. And some programs will allow this (although not SCM). However, when a student hasn't taken the per-requisite courses, we should direct her to enrolling in the first eligible course.

[2016-04-25 19:26] pdpinch commented on #214
@Ferdi I don't think this is an MVP requirement, especially given that edX doesn't enforce prerequisites. Let me know if I'm wrong.

[2016-04-25 19:29] Ferdi commented on #214
I think the idea is to force it in the MM portal since edx doesn't do it.

[2016-04-25 20:12] pdpinch opened #215 "Add a public/private option to the user profile"
As a micromasters student, I want to be able to control who can see my profile information. In particular, I may want to share my professional experience with MIT, but I may not want my employer to know that I'm seeking further education.

Add a field to the profile form. We might as well follow the same format as edX, i.e.

"Micromasters learners can see my: " ("public to the world", "public to o

[2016-04-25 20:12] aliceriot commented on #150
pr open for the expanded form, not quite done: #191

[2016-04-25 20:44] pdpinch commented on #201
What did you have in mind for this?

[2016-04-26 00:46] pdpinch opened #216 "Allow user to view & edit profile"
As a micromasters student, I'd like to be able to view my profile in one page, with the ability to edit it.

The user can view at /users/{username}, and editing will return to the profile form at /profile/{username} with the proper tab open.

Modeled after aboutme.google.com.

Current draft of the design at https://invis.io/4E791TKU3#/157446163_Public_Profile

[2016-04-26 01:08] pdpinch opened #217 "Profile: update personal info form styling to match current mock-ups"
Make https://micromasters-ci.herokuapp.com/profile/personal look like https://projects.invisionapp.com/share/AF6XG4X62#/screens/153562859_Step_One_-_Personal_Info

<img width="686" alt="screen shot 2016-05-18 at 2 14 02 pm" src="https://cloud.githubusercontent.com/assets/430126/15370050/2a4c9d34-1d03-11e6-83cc-c851f3b1c123.png">

[2016-04-26 01:33] pdpinch opened #218 "Program pages"
As an unregistered / not-logged-in user I want to be able to find out more about micromasters programs and possibly enroll.

Question: How do users enroll in a micromasters program if they haven't registered for a course in the program?

The program page will have 3 tabs:

**Program Home**: https://projects.invisionapp.com/share/AF6XG4X62#/screens/153562858
**FAQ**: https://projects.invisionapp.co

[2016-04-26 01:35] pdpinch opened #219 "Add "not passed" courses to student dashboard API"
As a micromasters student I want to see courses that I enrolled in but didn't pass on my student dashboard.

After discussing the issue at the Product Council, it is clear that we do need to display failed courses, so students know what has happened.

[2016-04-26 12:25] bdero opened #220 "Setup codecov on Micromasters"
So that we have automated code coverage reporting on PRs.

[2016-04-26 14:24] noisecapella commented on #201
I think at this point we just need to have a way to group courses into programs in the rest API, and update the UI accordingly

[2016-04-26 14:47] #142 closed

[2016-04-26 15:34] pdpinch opened #221 "force login of users if, when we query edX, we get a 401"
edX will return a 401 when the user's oAuth token has expired, which will happen more frequently after we change to the new OAuth library.

[2016-04-26 15:46] pdpinch opened #222 "when grade is empty, don't display percent completed"
Since we aren't getting current grades yet, we don't want to mislead students by displaying 0% of the course completed. Instead we will should display the same state as if the student is enrolled with the string "enrolled"

[2016-04-26 15:53] pdpinch commented on #219
This is complicated for several reasons:

- The certificate table at edX only contains users who passed the course.
- Also, the necessary data isn't passed in the dashboard API currently. Moreover, we will need to change the structure to be nested, so we have the relationship of the failed run to the next run.

[2016-04-26 15:54] pdpinch opened #223 "Add course not-passed to Dashboard UI"
related to the API story, #219

Need UI design before we estimate.

[2016-04-26 15:58] #55 closed

[2016-04-26 16:06] pdpinch opened #224 "add program information to dashboard API"
restructure json returned from the dashboard api to include program information: return a nested structure like:

[code]

[2016-04-26 16:06] pdpinch commented on #224
@giocalitri please update the description

[2016-04-26 16:08] pdpinch opened #225 "add program information (title) to student dashboard"
front-end for #224

[2016-04-26 16:11] pdpinch opened #226 "Add button and note for applying to masters program to student dashboard"
For MVP, this should just be an inactive button -- so users know that it's coming later. It should look like https://projects.invisionapp.com/share/AF6XG4X62#/screens/142338434

For the future:

There should be a message, "You need to complete X more courses before you can apply for a masters"

X = (total number of courses in the program minus the user's course with status PASSED)

button is inact

[2016-04-26 16:22] pdpinch opened #227 "require user profile be complete before allowing user to view dashboard"
After some further thought, this should depend on checking a value from the REST API, filled_out

[2016-04-26 16:33] pdpinch opened #228 "add form for user to agree to terms of service"
If the user hasn't yet agreed to the terms of service, display a form for agreeing.

If the user does not agree, they must be logged out and not allowed to edit the profile form.

[2016-04-26 16:50] noisecapella commented on #215
Currently we use the edX account_privacy option as a default, we should make sure to remove this piece of code in `pipeline_api.py`

[2016-04-26 16:56] pdpinch commented on #216
double check the url structure

[2016-04-26 17:16] pdpinch opened #229 "discovery: find a python library for countries & states/provinces"
bonus if we get cities too.

django-countries maybe?

this is implemented in the front end though

[2016-04-26 17:24] giocalitri commented on #224
@pdpinch done

[2016-04-26 17:36] noisecapella commented on #229
This looks promising for the front end: https://www.npmjs.com/package/iso-3166-2

[2016-04-26 17:41] pdpinch opened #230 "Research spike: static site generator vs. wagtail"
spend a day each evaluating static content management with wagtail and with a static site generator. Make a decision about how to proceed with Micromasters

Program pages have 3 tabs:
home: https://projects.invisionapp.com/share/AF6XG4X62#/screens/153562858
FAQ: https://projects.invisionapp.com/share/AF6XG4X62#/screens/153562856
Courses: https://projects.invisionapp.com/share/AF6XG4X62#/screens/15

[2016-04-26 17:42] Ferdi commented on #229
http://stackoverflow.com/questions/3845006/database-of-countries-and-their-cities

[2016-04-26 17:45] #158 closed

[2016-04-26 18:12] giocalitri opened #231 "switch edx-api-client requirement to the 0.2.0 release"

[2016-04-26 18:24] #231 closed

[2016-04-26 18:25] noisecapella opened #233 "When profile is completed for first time, set email_optin and filled_out to True"
Not sure which issue this connects to so I'm filling out this story just in case

[2016-04-26 18:33] giocalitri commented on #219
dependent on #224

[2016-04-26 19:04] giocalitri opened #234 "handle http errors in dashboard UI"
Now if there is a 500 error in the backend there is no information in the front-end, for example when the user has multiple social auth objects.

The error message should include a link to e-mail mitx-support@mit.edu, with the text of the error message.

If the error is coming from edX, we should still display the dashboard, but with a message that some data is missing.

[2016-04-27 18:18] noisecapella opened #236 "Change Micromasters to MicroMaster’s"
Officially, MicroMaster's should be mixed case, ending with an apostrophe s. When possible we will use a curly quote, ’

From Erdin:

A few questions to resolve:

- [ ] Should the logo be updated?
- [x] Straight apostrophe, or "smart" apostrophe? ' or ’

[2016-04-27 19:11] pdpinch commented on #51
not MVP

[2016-04-27 19:12] pdpinch commented on #58
not MVP

[2016-04-27 19:12] pdpinch commented on #226
I don't think this is necessary for MVP, @Ferdi ?

[2016-04-27 19:31] noisecapella opened #237 "Remove /api/v0/courses and /api/v0/programs"
And related react work to fetch from these APIs. We get everything from /api/v0/dashboard/ now.

If we're concerned we may need this in the future we should at least get rid of the code on the frontend side which fetches from these APIs

[2016-04-27 19:37] Ferdi commented on #226
A static , inactive button that does nothing would be nice. To give the impression to users that we are working on it

[2016-04-27 20:00] pdpinch commented on #226
I update the description to make the expectation for MVP more clear.

[2016-04-28 02:12] Ferdi commented on #237
Not sure why you guys went with this kind of design (not very RESTy) but I think we should keep the backend api-s

[2016-04-28 12:39] pdpinch commented on #219
@Ferdi do you think this is required for MVP?

[2016-04-28 13:19] giocalitri opened #239 "The requests to edX that contain the username should use the proper one"
Currently we assume that the local username on micromaster is the same we have on edX.

This might not be the case in some edge situations. The solution is to pull the edX username from the `User social Auth` model. The right field is `uid`.

[2016-04-28 14:23] pdpinch opened #240 "backend for employment profile"
Splitting this out from #150 so that @aliceriot and @amir-qayyum-khan can work on it in parallel.

[2016-04-28 14:23] pdpinch commented on #240
@aliceriot can you please paste a sample of the json structure you're expecting here?

[2016-04-28 16:06] pdpinch commented on #236
We are waiting for a final determination on spelling from Erdin.

[2016-04-28 16:27] noisecapella commented on #240
Just to be explicit, we need to end up with an `Employment` model with the appropriate fields. The `JSONField` in the PR is just temporary.

[2016-04-28 18:13] amir-qayyum-khan commented on #240
@noisecapella @pdpinch so what should I do? Do i need to gather possible fields for Employment from doc or mockup?

[2016-04-28 19:01] aliceriot commented on #240
@pdpinch @amir-qayyum-khan  here's what we'd like to see:

[code]

[2016-04-29 17:46] #97 closed

[2016-04-29 18:34] #178 closed

[2016-04-29 19:03] #224 closed

[2016-04-29 19:08] giocalitri commented on #219
The code #224 has been merged, if we want to proceed with this one

[2016-04-29 19:12] Ferdi commented on #219
If I understand it correctly, this is one of the core features in the dashboard - knowing that I took the course, didnt pass so I should take it again soon.

[2016-04-29 19:22] giocalitri commented on #219
ok: so I will work on this next

[2016-04-29 20:13] noisecapella commented on #228
Fixed by #238

[2016-04-29 20:13] #228 closed

[2016-04-29 20:27] noisecapella commented on #216
Is this necessary for the MVP?

[2016-04-29 21:04] pdpinch commented on #216
@noisecapella yes.

The expectation is that this is the same API as the first profile. And the hope is that we can reuse the react components for education and employment.

[2016-05-02 13:25] pdpinch commented on #159
Any luck finding the management command for creating certificates?

[2016-05-02 13:30] bdero commented on #159
[code]

[2016-05-02 15:24] #225 closed

[2016-05-02 19:44] noisecapella commented on #233
This is blocked by #150 #151

[2016-05-02 19:45] noisecapella commented on #239
:+1: I keep running into this locally and it will be painful to deal with in production

[2016-05-02 20:01] giocalitri commented on #239
in production is unlikely until we will support multiple edx instances (I know we heard we will not, but you know how these things go :-P )

[2016-05-03 13:57] noisecapella opened #255 "Handle deletion of employment items in UI"
For #150

[2016-05-03 13:58] noisecapella opened #256 "Figure out UI for work which doesn't have an end date (ie the current job)"
For #150

[2016-05-03 14:00] noisecapella opened #257 "Date field needs label, the current placeholder is hidden when the date is selected"
For #150

[2016-05-03 14:00] noisecapella opened #258 "Date field is not clearable"
For #150

[2016-05-03 14:22] noisecapella opened #259 "Change yes/no values being sent from employment UI"
The backend should handle true/false values here, so at some point we should translate the yes/no in the state to true/false, either in the API function or maybe `boundSelectField`

For #150

[2016-05-03 14:24] #150 closed

[2016-05-03 15:23] pdpinch commented on #151
@annagav I updated the description, added the wireframes from last week and links to the new screen designs. Let us know if you have any questions.

[2016-05-03 18:25] giocalitri commented on #223
the new UI should take in account the following ideas among all:
- in the program each line will represent always a course (and not a course run)
- there will be a collapsable list under each course with the runs and their statuses
- the actions at the level of the course will be  related only to the future or current enrolled run

[2016-05-03 19:29] #229 closed

[2016-05-03 19:45] #237 closed

[2016-05-03 21:43] noisecapella opened #266 "Profile: user must fill out all steps sequentially"
- [x] All but the last tab will have 'Save and continue' buttons. The last tab will have a 'Save' button.
- [x] The continue buttons will validate only the current tab
- [x] The last save button will validate the entire profile. If there is a validation error it will redirect to the earliest tab which has the validation error.
- [x] All tabs except the last tab should patch `filled_out: false` so

[2016-05-04 13:26] noisecapella opened #268 "In CourseRunFactory FuzzyDate should be FuzzyDateTime to match CourseRun fields"

[2016-05-04 14:39] noisecapella commented on #266
We decided on this UX:

 - All but the last tab will have 'Save and continue' buttons. The last tab will have a 'Save' button.
 - The continue buttons will validate only the current tab
 - The last save button will validate the entire profile. If there is a validation error it will redirect to the earliest tab which has the validation error.
 - All tabs except the last tab should patch `filled_out

[2016-05-04 14:43] noisecapella commented on #266
We should also PATCH `email_optin: true` in the last tab since that's where the email consent message is

[2016-05-04 14:58] Ferdi commented on #266
Can you keep the remaining tabs disabled and only enable when the the previous tabs passes the validation ?

[2016-05-04 15:17] noisecapella commented on #266
The main problem is that the profile is always updated as a whole but only pieces of it are validated at a time. If the user was on the second tab, they could remove some information from the first tab, go back to the second tab, click save, and the entire profile is sent while only the second tab is validated. Disabling the third tab wouldn't prevent this scenario.

Another way to solve this is t

[2016-05-04 15:31] Ferdi commented on #266
We should try hard not to compromise on usability.

Can you emulate the traditional web apps here - keep only the current tab active and disable the rest ?  The previous tabs get enabled by an additional "previous step" button

Side note :  what is "consent message" ?

[2016-05-04 16:13] annagav commented on #151
![screen shot 2016-05-03 at 3 47 01 pm](https://cloud.githubusercontent.com/assets/7574259/15020794/a43c2f6e-11f1-11e6-944b-aa771c8943fd.png)

[2016-05-04 16:14] annagav commented on #151
![screen shot 2016-05-03 at 3 44 52 pm 1](https://cloud.githubusercontent.com/assets/7574259/15020815/bb331430-11f1-11e6-983c-f00a115a97e2.png)

[2016-05-04 17:02] Ferdi commented on #151
Feel free to open new issues for any of these.  The dont have to be part of the current open PR

- Match the style of the form input labels to the mockup (light gray instead of purple)
- The month-year doesn't look very material design.  Here is one suggestion
![month-year](https://cloud.githubusercontent.com/assets/125561/15022029/b69ace6c-11f7-11e6-8c90-b331ee26de89.png)
- The select element (e.

[2016-05-04 17:07] noisecapella opened #270 "Save and continue buttons should wait for 200 from PATCH before continuing"
Needs UI for any error message

[2016-05-04 17:45] noisecapella opened #272 "After PATCH the employment id should be saved to the profile"
After a new employment is PATCHed, the PATCH returns an updated profile. We should take this updated profile and replace it in the redux state

[2016-05-04 18:47] #272 closed

[2016-05-04 20:01] pdpinch commented on #266
@ferdi and I spoke. They're not tabs, they're steps in a multi-page form. Everything on George's [bullet list](https://github.com/mitodl/micromasters/issues/266#issuecomment-216885753) is correct, but in addition we'll

- remove the "tab" links
- and add a "previous step" button.

The user cannot advance through the steps without clicking "save and continue" which validates, avoiding the scenario

[2016-05-04 20:11] aliceriot commented on #266
by 'remove the "tab" links' do you mean get rid of the tab ui elements or remove the ability to click on them and navigate between tabs that way?

I'm personally in favor of keeping them (or something similar, e.g. 'page 1 of 3') as a visual hint to the user of approximately how much form there is left to deal with.

do we plan to keep having urls for each form section? currently there's `/profile

[2016-05-04 20:14] Ferdi commented on #266
@aliceriot as you say, we should keep the "tabs" as a replacement for  "step 1/3".

[2016-05-04 20:46] #268 closed

[2016-05-04 21:56] noisecapella opened #274 "Change osx_run.sh to not prefix python3 to shell commands"

[2016-05-04 22:06] noisecapella commented on #274
We should also fix this so tox runs correctly

[2016-05-05 11:33] pdpinch commented on #151
I think the error messages look the way you want them to:

<img width="321" alt="screen shot 2016-05-04 at 4 48 17 pm" src="https://cloud.githubusercontent.com/assets/430126/15028687/0e066fd8-1218-11e6-91d0-c05b3b56a410.png">

[2016-05-05 11:38] pdpinch opened #275 "Profile: match form labels' style to mockup"
from https://github.com/mitodl/micromasters/issues/151#issuecomment-216932574

See https://invis.io/A377LRRG2#/155766490_Step_Two_-_Educational_Info_-_Add_Degree

Also, when validation fails, don't change the color of the form labels (i.e. keep them gray instead of turning them red). See https://github.com/mitodl/micromasters/issues/151#issuecomment-217155696

[2016-05-05 11:40] pdpinch opened #276 "Profile: make month / year component more material"
from https://github.com/mitodl/micromasters/issues/151#issuecomment-216932574

This needs to be applied to the education and employment profiles

[2016-05-05 11:47] pdpinch opened #277 "Profile: make select component more material"
from https://github.com/mitodl/micromasters/issues/151#issuecomment-216932574

[2016-05-05 11:47] pdpinch commented on #277
How about this? It's a "menu"

<img width="321" alt="screen shot 2016-05-04 at 4 48 17 pm" src="http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3VGxlSGNVWmNJX3c/components_menus_behavior2.png">

from http://www.google.com/design/spec/components/menus.html#menus-behavior

[2016-05-05 11:48] pdpinch commented on #151
I opened 3 new issues, #275, #276 and #277

[2016-05-05 12:07] pdpinch commented on #240
Closed via #243

[2016-05-05 12:07] #240 closed

[2016-05-05 12:08] amir-qayyum-khan commented on #240
Done this in https://github.com/mitodl/micromasters/pull/243

[2016-05-05 12:13] pdpinch commented on #162
In the interests of getting this done, we can implement the enroll button as a link instead of a POST for now also.

[2016-05-05 12:32] #219 closed

[2016-05-05 13:34] Ferdi commented on #151
@pdpinch that looks pretty good. The form lables should not be red though.

[2016-05-05 15:31] pdpinch opened #278 "Implement OAuth refresh token"
edX has updated its OAuth library and now supports refresh tokens. The new library also implements a 10 hour expiration of OAuth tokens, making refreshes more important.

[2016-05-05 15:52] aliceriot commented on #274
seems like there's a of code shared between the `osx_run` and `osx_start` scripts, why not move it into one file that defines shell functions?

could look something like this:

[code]

then you could just source this file in your shell config (or do something like `alias dev_python_osx='source ~/Code/micromasters/osx_dev.sh'` to source it when you need it) and then call the functions, like `start_

[2016-05-05 16:27] amir-qayyum-khan commented on #162
@pdpinch can i get ui image where to add these links?

[2016-05-05 16:33] pdpinch commented on #162
See https://invis.io/UY77QX9N4#/142338434_Student_-_Dashboard

[2016-05-05 16:46] annagav commented on #215
@pdpinch Is this going to be another tab in the profile page (the forth one)?

[2016-05-05 19:26] pdpinch commented on #215
Yes. It's in the mockups now. I'll shoot you a url when I get a chance.

[2016-05-05 20:13] #215 closed

[2016-05-05 20:28] pdpinch opened #280 "style terms of service"
See https://invis.io/4E791TKU3#/157446164_Terms_Of_Service

- [x] Make it look like profile (with header, user profile image)
- [x] Shift the existing form to the center, like the other profile forms.
- [x] Use a scrolling text box for the actual legal language, when we get it.

![terms of service](https://cloud.githubusercontent.com/assets/430126/15399706/b9394f20-1db6-11e6-8f04-a9a1a3866f66.png)

[2016-05-06 13:25] pdpinch opened #281 "Profile: country > state > city"
Because choosing the country populates the state / territory drop-down, change the order of these fields.

[2016-05-06 13:38] pdpinch commented on #10
Closing this. If we do go with a django CMS, it will be wagtail.

[2016-05-06 13:38] #10 closed

[2016-05-06 13:40] pdpinch commented on #174
@Ferdi what's the status of this?

[2016-05-06 13:41] pdpinch commented on #196
We actually don't want to do this. Getting profile data is a convenience for the user, but we don't need to keep the two profiles in sync.

[2016-05-06 13:41] #196 closed

[2016-05-06 13:45] pdpinch commented on #201
@giocalitri @noisecapella I believe this was address with https://github.com/mitodl/micromasters/pull/245

If I'm wrong, feel free to re-open but we need more details in the description.

[2016-05-06 13:45] #201 closed

[2016-05-06 13:49] pdpinch commented on #278
is this the same as #221 ?

[2016-05-06 13:49] pdpinch commented on #221
Is this addressed by #278 ?

[2016-05-06 13:52] pdpinch commented on #256
I think this is addressed by https://invis.io/VC7850ZBS#/156281164_Step_Three_-_Professional_Info_-_Add_Emp_Modal

??

[2016-05-06 13:54] pdpinch commented on #257
I believe this is addressed in the current design, https://invis.io/A377LRRG2#/155766490_Step_Two_-_Educational_Info_-_Add_Degree

[2016-05-06 14:34] pdpinch opened #283 "Make Micromasters Production Ready"
## "Production readiness" checklists

### Oct 15
- [x] Move to production dyno
- [x] Move db to production db
- [X] #707 Move elasticsearch from bonsai to AWS
- [x] #469 Performance Monitoring
- [x] #980 Production error monitoring
- [x] #1219 Mail Monitoring
- [x] #1218 Load Testing

### Required features:

- [x] Does it support configuration via environment variables?
- [x] Does it support confi

[2016-05-06 14:35] pdpinch commented on #283
@blarghmatey @bdero can you guys take a look at this list and let me know how far off we are, before planning on Monday?

[2016-05-06 14:40] pdpinch opened #284 "Test release version with edX.org"
So far, we've been testing micromasters with sandboxes and stage.edx.org, which may not be configured the same as edx.org. We need to test the release version with the live edX.

- [x] connect micromasters-rc to stage.courses.edx.org
- [x] create test courses on stage.courses.edx.org
- [x] popualate micromasters-rc with a program that works with stage.courses.edx.org
- [x] ask edX to create fake c

[2016-05-06 14:48] aliceriot opened #285 "alert user to which fields are unfilled using red text"
When checking for profile completeness we need to alert the user about which fields are currently unfilled.

A couple possibilities:

- move `errors` into the redux store, then the `validateProfileComplete` method could dispatch the errors into the store (so that validation messages would show up on individual fields in the same way they currently do on save)
- put information about missing fields

[2016-05-06 15:02] pdpinch commented on #159
@bdero can you make me a fake cert on micromasters.d.mitx.mit.edu ?

[code]

Or, if I should be able to run this myself, could you remind me how?

[2016-05-06 15:05] amir-qayyum-khan commented on #159
@bdero is there way to check if course has certification or not?
``X = (total number of courses in the program minus the courses with certificates)``

https://github.com/mitodl/micromasters/issues/226

@pdpinch @giocalitri

[2016-05-06 15:07] giocalitri commented on #159
I was going to write something about this right now

[2016-05-06 15:08] giocalitri commented on #159
the problem with the management command is that it assumes that the course mode `verified` already exists.
I am going to paste some code to create it

[2016-05-06 15:09] pdpinch commented on #285
To be clear, this is an alert in addition to moving the user to the first step with invalid fields?

I'd like to highlight the fields the same way we do when the user is still within a step. Is that the first option you listed?

[2016-05-06 15:16] giocalitri commented on #159
To be able to see a course as passed, in Micromasters, the course needs to be "past", meaning the end date should be past.
In EDX, you need to create a verified enrollment and certificate for the micromaster course for a user.
To manually create a certificate for a user `bob` for a course `course-v1:odl+GIO101+CR-FALL15`:
[code]
Make sure the user `bob` is already enrolled in the course, then chan

[2016-05-06 15:17] aliceriot commented on #285
yes, that would be the first step.

to accomplish that I think we'd need to refactor how we do validation slightly, currently the validation errors are stored in the redux store but under `userProfile.edit.errors`. The `edit` key on `userProfile` doesn't exist unless we've started editing the profile, so we'd need to change that around a little bit.

[2016-05-06 15:17] aliceriot commented on #285
although if we're redirecting people there we'd expect them to be editing things soon anyway, so maybe it would work as-is, with a few changes to the `validateProfileComplete` method.

[2016-05-06 16:08] pdpinch opened #286 "Profile: return user to point they left off if their enrollment was interrupted"
As a user I may not complete my profile in on session. When I return, I need to be directed to the sections that I still need to complete.

[2016-05-06 16:09] pdpinch commented on #286
swapped for #227

[2016-05-06 16:35] #286 closed

[2016-05-06 16:56] bdero commented on #283
@pdpinch I've checked off all of the items in the list that are done.

For the others:

-  **Can it send stack trace emails to a configurable email list?:** It *should* be able to, but I haven't received any stack traces in a while, so we should double-check this.
-  **Does the health check return a 500 status code when any component in the health check is detected to be failing?:** This actually

[2016-05-06 17:01] bdero commented on #283
FYI @blarghmatey , this checklist is copied from a list if guidelines I wrote and pushed here: https://github.com/mitodl/handbook/blob/master/production-ready.md

Feel free to open a PR against it if you have any additional recommendations/suggested modifications.

[2016-05-06 17:24] bdero commented on #159
@pdpinch I've generated the certificate for you on `micromasters.d`:
[code]

[2016-05-06 17:27] Ferdi commented on #285
I think the modal is a bit too much here. There is only one place they'd end up - where they left off . Why dont we simply redirect there displaying the inline validation errors ?   In addition we can show a simple message at the top of the form  "Please complete your profile to continue".

[2016-05-06 20:51] #230 closed

[2016-05-09 01:34] pdpinch opened #287 "Update home page to match current mock-ups"
See https://invis.io/2R78JXBUG#/142338433_Public_Home

- [x] larger program cards
- [x] add placeholder card for right column
- [x] remove star ratings from card (since we don't have ratings functionality yet)
- [x] refactor cards to strip out extraneous CSS; use bootstrap
- [ ] replace text in placeholder card with the following:

- [ ] add a pop-up form with the fields and functionality of https

[2016-05-09 01:40] pdpinch opened #288 "state/territory is required in all profile forms"
Since our country data includes at least one state/territory for every country, we can make state/territory a required field.

The UX will be better once we change the order of city, state, country as described in #281

[2016-05-09 01:44] pdpinch opened #289 "style employment step to look like current mock-ups"
See https://invis.io/4E791TKU3#/153562860_Step_Three_-_Professional_Info

- [ ] Implement switch instead of "are you employed" question

[2016-05-09 01:47] pdpinch opened #290 "Profile: allow user to submit employment info without an end date"
See https://invis.io/VC7850ZBS#/156281164_Step_Three_-_Professional_Info_-_Add_Emp_Modal

- [x] add label for "end date"
- [x] add hint text "Leave blank if this is a current position"
- [x] allow End Date to be null

[2016-05-09 01:48] pdpinch commented on #256
duplicate of #290

[2016-05-09 01:48] #256 closed

[2016-05-09 01:49] pdpinch opened #291 "Dashboard: Remove settings and profile items from drop-down menu"
because they aren't functional yet. They can be added back when they are functional.

[2016-05-09 01:50] pdpinch opened #292 "clicking on user's name returns user to dashboard"
For logged in users, we display their name and a drop-down menu in the top right corner. Clicking on the users name should return her to the dashboard.

This would replace the "Dashboard" link in the top nav

- [ ] add link to user name, for logged in user
- [ ] remove "Dashboard" link from top nav

[2016-05-09 01:53] #77 closed

[2016-05-09 13:29] amir-qayyum-khan commented on #292
@pdpinch you are saying instead of ```dashboard``` link on landing page add ```user name link```

<img width="656" alt="screen shot 2016-05-09 at 6 26 58 pm" src="https://cloud.githubusercontent.com/assets/10431250/15114525/d9803d0c-1613-11e6-95ff-749db718a035.png">

And remove this dashboard link at all from ```dashboard page``` . Am I right?

<img width="650" alt="screen shot 2016-05-09 at 6 27

[2016-05-09 13:49] pdpinch commented on #292
It's hard for me to say for sure without the URLs, but I tried to clarify the description. Note that this is only relevant to the logged-in user.

[2016-05-09 13:53] amir-qayyum-khan commented on #287
@pdpinch is there template for ``placeholder cards`` or we need to implement it?

[2016-05-09 13:57] pdpinch commented on #287
The only template we have is https://github.com/mitodl/micromasters-templates/blob/master/index.html but it looks like that's the smaller, 3-per-row cards.

[2016-05-09 14:44] noisecapella opened #293 "Enforce camelcase and var rules in eslint"

[2016-05-09 15:21] noisecapella opened #294 "Add dialog polyfill"
This will be necessary to support Firefox and IE

[2016-05-09 15:28] noisecapella opened #296 "Add tests for getCookie, fetchJSONWithCSRF, and csrfSafeMethod in api.js"

[2016-05-09 15:39] aliceriot commented on #294
I added a dialog polyfill in https://github.com/mitodl/micromasters/commit/0e8cc743c2354a1c79d631456176e6bcd25b70ea, do we need to do anything else?

[2016-05-09 15:50] noisecapella commented on #294
I missed that, but we also need it for #241. I'd like to do it as a separate PR to avoid blocking that merge

[2016-05-09 15:55] aliceriot commented on #294
ah, gotcha. do you mean a separate PR to handle actually doing the polyfill dealio for `<dialog>` elements declared in #241?

I wrote a little helper function called `doDialogPolyfill` in `util/util.js` that should make it easy to take care of.

[2016-05-09 16:22] aliceriot commented on #222
currently if you set a course run to have the `verified-not-completed` status, and it has no grade, this is what it looks like:

![no-grade](https://cloud.githubusercontent.com/assets/6207644/15119808/a9552486-15e0-11e6-88ac-b9a24cbc4b05.png)

do we need to change this behavior further?

[2016-05-09 16:58] pdpinch commented on #259
We don't need to do this. If the user has no employment history, we won't store anything.

[2016-05-09 16:58] #259 closed

[2016-05-09 17:17] aliceriot commented on #277
http://www.material-ui.com/#/components/auto-complete

[2016-05-09 17:29] pdpinch opened #297 "Profile: Allow deletion of education items"
Make the existing UI functional.

Shouldn't require any API changes.

[2016-05-09 20:02] pdpinch commented on #222
That's perfect. Thanks for checking.

[2016-05-09 20:02] #222 closed

[2016-05-10 14:47] pdpinch commented on #289
I updated the link in the description.

[2016-05-10 15:11] noisecapella commented on #277
The autocomplete component looks like what we want. Not sure how easily it handles many items, but for countries and territories it may not get big enough to matter

[2016-05-10 15:11] aliceriot commented on #277
awesome, glad we found something that works!

[2016-05-10 16:38] blarghmatey commented on #283
I am unable to get a stacktrace email despite forcing a 500 error via raising an explicit exception.

[2016-05-10 19:39] noisecapella opened #303 "Move blankWorkHistoryEntry into a function in util/util.js so we can test it"

[2016-05-10 19:46] aliceriot commented on #289
stuff I'm working on:

- [ ] add actions and reducer to hold employment tab dialog state (dialog visible, index, etc)
- [ ] add dialog element to hold edit form
- [ ] refactor edit form function to size things correctly
- [ ] add callbacks defined in `ProfilePage` to page in to `EmploymentTab` (via `this.props`) for updating dialog state
- [ ] write functions to produce short description rows
- [

[2016-05-10 20:14] aliceriot commented on #303
what sorts of tests do we need to write for it?

[2016-05-10 20:15] aliceriot commented on #303
are you thinking tests to catch possible regressions?

[2016-05-10 20:54] blarghmatey commented on #283
@bdero @pdpinch This will be done once we move the DB to a paid plan and set the backup schedule.

[2016-05-10 20:54] blarghmatey commented on #283
I'm going to leave it as in progress as a reminder to do the DB setup

[2016-05-10 21:28] #151 closed

[2016-05-10 21:36] noisecapella commented on #303
Yes, and just for code cleanliness it seems more logical to locate state stuff in utils or a reducer than in a React component

[2016-05-10 21:40] aliceriot commented on #303
gotcha, sounds good to me.

[2016-05-10 22:41] pdpinch commented on #287
@amir-qayyum-khan the image for the placeholder card is at https://github.com/mitodl/micromasters-templates/blob/master/assets/images/academia.png

[2016-05-11 14:15] amir-qayyum-khan commented on #292
Done with changes in PR #300
<img width="639" alt="screen shot 2016-05-10 at 7 01 10 pm" src="https://cloud.githubusercontent.com/assets/10431250/15149223/1ea6e178-16e2-11e6-8fe4-beeed8082f37.png">

[2016-05-11 14:16] amir-qayyum-khan commented on #226
Done with changes in #282

<img width="1067" alt="screen shot 2016-05-06 at 8 42 16 pm" src="https://cloud.githubusercontent.com/assets/10431250/15078203/79c1685e-13cb-11e6-82e5-4ac25bff0d7b.png">

[2016-05-11 14:20] amir-qayyum-khan commented on #287
Work done so far in PR #306.
@pdpinch

![Uploading Screen Shot 2016-05-11 at 7.16.35 PM.png…]()

[2016-05-11 20:06] pdpinch commented on #287
@amir-qayyum-khan I'm not sure how far along you are with this, but this isn't right yet.

Card size looks good, but we currently have only one Program, plus one placeholder card. Like https://projects.invisionapp.com/share/2R78JXBUG#/screens/142338433_Public_Home

[2016-05-12 12:17] amir-qayyum-khan commented on #287
@pdpinch that UI was generic (show card in loop) and i have multiple programs live for testing purpose.

- Just removed 2 out of 3 programs by making live button unchecked.
- Added added card for coming soon

Can you send me text for coming soon card?

<img width="1274" alt="screen shot 2016-05-12 at 5 11 22 pm" src="https://cloud.githubusercontent.com/assets/10431250/15214163/ee938fd4-1864-11e6-8

[2016-05-12 12:32] pdpinch commented on #287
Looks good @amir-qayyum-khan, but I saw that you need some text for the placeholder box.

@Ferdi how about this:

I'll also send another e-mail to Erdin to see if he has some input.

[2016-05-12 13:26] Ferdi commented on #287
@pdpinch that look more like a message that goes in the main banner and not much related with the "more programs coming soon".

A sentence the expand the the title "More programs coming soon" and and invite to subscribe for updates would be great,  I think.

[2016-05-12 13:30] pdpinch commented on #287
How about

"Sign in with edX.org <http://edx.org/> now and MITx will send you updates about new Micromasters programs when they are announced"

Ideally with "Sign in with edX.org <http://edx.org/>" being a link that functions like the sign in button.

[2016-05-12 13:33] Ferdi commented on #287
Not sure about "sign in with edx".   How about a mailing list sign-up.  Since we are replacing the current micromasters.mit.edu and there is a signup feature already there.

[2016-05-12 13:40] pdpinch commented on #287
so, re-use the mailchimp form from https://github.com/mitodl/mga/blob/gh-pages/index.html#L92-L190 <https://github.com/mitodl/mga/blob/gh-pages/index.html#L92-L190> ?

[2016-05-12 13:42] Ferdi commented on #287
I think the form wouldn't look great in the page. Maybe a button that brings up the form?  It looks like we need some designer help .

[2016-05-12 13:57] pdpinch commented on #287
I spoke with Ferdi and we'd like to replace the placeholder graphic with the form, but it's going to need some design.

@amir-qayyum-khan can you add the form to your PR and take a screenshot, so we have something to work from?

[2016-05-12 13:58] amir-qayyum-khan commented on #287
let me

[2016-05-12 14:21] #293 closed

[2016-05-12 14:26] amir-qayyum-khan commented on #287
@pdpinch adding form to card looks like. this form is bigger the normal card.

![screen shot 2016-05-12 at 7 25 45 pm 2](https://cloud.githubusercontent.com/assets/10431250/15218000/61fd60a0-1877-11e6-9caf-33fd0e8c58d6.png)

[2016-05-12 14:50] aliceriot commented on #289
hey @pdpinch, I'm wondering about font selections for the little 'job history summary' rows we show. did nicholae have any specific guidelines for that?

[2016-05-12 14:53] #292 closed

[2016-05-12 14:55] aliceriot commented on #289
we have Open Sans included in the `<head>` for all pages, so I can use that (I think it's a nice looking font) I just thought it would be good to check.

[2016-05-12 15:05] amir-qayyum-khan commented on #285
@aliceriot can you guide me where to start?

[2016-05-12 15:10] aliceriot commented on #285
@amir-qayyum-khan sure - I think all you should need to do is that when we check for profile completeness (see the `validateProfileComplete` method in `util/util.js` and the `requireCompleteProfile` method on `App.js`) if the profile isn't complete we dispatch the `START_PROFILE_EDIT` and `UPDATE_PROFILE_VALIDATION` actions. The `errors` object that holds the validation results is passed down into

[2016-05-12 15:10] aliceriot commented on #285
does that make sense? lmk if you have more questions

[2016-05-12 15:12] amir-qayyum-khan commented on #285
yeah, thnaks

[2016-05-12 15:17] #162 closed

[2016-05-12 15:17] #226 closed

[2016-05-12 16:07] aliceriot commented on #289
another questions: on the mockup there's only one line shown:

![employment](https://cloud.githubusercontent.com/assets/6207644/15221584/0755b5e0-183a-11e6-9f1a-e4744610a70a.png)

does the 'plus' button appear on every line? is that what adds a new entry? if it's not on every line, how should things be spaced out?

[2016-05-12 17:06] noisecapella opened #307 "Update documentation and add scripts for OS X so that webpack-dev-server runs locally but everything else runs via Docker"
This will remove the need for docker-osx-dev. We will need to update our handling of the host string since right now it assumes the dev server host is the same as the Django host. We will need to figure out how to reference the host IP address from within docker-machine, and we should add a script to let OS X users start the dev server more easily (this would be used by docker-compose.yml too)

[2016-05-12 18:56] giocalitri opened #310 "UI for multiple programs in dashboard"
Now it looks like this:

![screen shot 2016-05-12 at 2 55 43 pm](https://cloud.githubusercontent.com/assets/1005204/15226657/a32c666e-1851-11e6-91a8-d56cf014600f.png)

[2016-05-12 20:09] aliceriot commented on #294
can we close?

[2016-05-12 20:15] #294 closed

[2016-05-13 12:42] pdpinch commented on #289
Sorry I didn't back to you sooner. You should feel free to add comments to the invision site -- I've added your questions.

I also added @nicolaeherrera the designer to this repo as well, but I think it will be easier to ask questions about the design in the context of the mock-ups.

[2016-05-13 13:12] pdpinch commented on #289
Alice, regarding [your question about the "plus" button](https://github.com/mitodl/micromasters/issues/289#issuecomment-218805573) there's an example of how multiple rows should look in the education mock-up. See https://invis.io/4E791TKU3#/153562861_Step_Two_-_Educational_Info (and yes, it's for adding new entries)

[2016-05-13 13:33] aliceriot commented on #289
cool, over in the PR  (#312) I have a screenshot of what I have right now. I have a few small things to iron out and some last-minute styling to change.

One thing I have set up differently than the mockup right now is the placement of the 'add an entry' button, I moved it down to sit on the bottom border of the card. I was reading about what Google thinks you should do with floating action button

[2016-05-13 13:41] pdpinch commented on #289
Can you add the screenshots here? We'd like to keep the requirements conversation on the issue.

[2016-05-13 13:42] aliceriot commented on #289
![employment-ui](https://cloud.githubusercontent.com/assets/6207644/15249707/fb1c9482-18ee-11e6-9e0e-41f6d259e4bc.png)

[2016-05-13 13:43] Ferdi commented on #289
@aliceriot, I agree, your "add new entry" button is more "material design"-like than what we have in mockups. Why is half out of the box ? Just curious.

[2016-05-13 13:46] aliceriot commented on #289
I just thought it looked nice like that! haha.

It's one of the placements the design guidelines for material suggest for floating action buttons. I think on a mobile UI you might want it floating, but on a desktop I think it feels better to have it anchored to something.

[2016-05-13 19:01] #277 closed

[2016-05-13 19:21] Ferdi opened #315 "Make "industry" a select / dropdown element"
Can we make this a select element ?

![industry](https://cloud.githubusercontent.com/assets/125561/15259235/01df488a-191e-11e6-98f7-64c17b564b14.png)

It looks like this is the list linkedin uses https://developer.linkedin.com/docs/reference/industry-codes

[2016-05-13 19:55] #276 closed

[2016-05-13 20:37] noisecapella opened #318 "Use state select in education profile view"
can be addressed the same time as #281 and #288

[2016-05-13 20:57] pdpinch opened #319 "Bug: can't validate country on the the education profile"
Steps to reproduce:

1. login
2. navigate to https://micromasters-ci.herokuapp.com/profile/education
3. Click to add a degree, for example high school
4. Fill out all the fields.

Expected behavior:

Form is validated and the pop-up closes.

Actual behavior:

A red validation message displays "Country is Required." The pop-up does not close.

[2016-05-13 20:58] pdpinch commented on #319
@annagav let me know if you have any thoughts about possible causes of this.

[2016-05-13 21:01] pdpinch opened #320 "Bug: When the viewport shrinks, the pop-up form can be obscured"
Steps to reproduce:

1. Login with edX
2. Navigate to https://micromasters-ci.herokuapp.com/profile/education
3. Click + to add a degree, for example, high school
4. Shrink the browser window vertically (for example, by opening the developer console)

Expected Behavior:

Either the pop-up window shrinks and a scrollbar is added or the pop-up window doesn't stays fixed.

Actual behavior:

The pop-u

[2016-05-13 21:17] noisecapella commented on #319
This is due to a bug in #302, not anything specific to the education tab.

[2016-05-15 18:25] pdpinch opened #323 "Bug: enroll button leads to 404 (on micromasters-ci)"
Starting at the [dashboard](https://micromasters-ci.herokuapp.com/dashboard/) and clicking an enroll button, leads to the following URL:

https://micromasters.d.mitx.mit.educourses/course-v1:MITx+CTL.SC0x+3T2016/info

There's a slash missing between the domain name and the path.

Also, I believe we need to direct unenrolled users the about page, not the info page. Unenrolled users can't access the

[2016-05-15 23:30] pdpinch commented on #323
Sorry, I failed to save the description earlier. It's updated now.

[2016-05-16 01:58] pdpinch opened #324 "admin enhancements"
As an admin user, it would be handy to be able to see the edx course key in the courserun list view.

Since so many of the course runs have the same name, the only way to differentiate them is by course key.

[2016-05-16 14:33] #323 closed

[2016-05-16 15:20] noisecapella opened #327 "Fix behavior where AutoComplete leaves text in field which doesn't correspond with selected item"
There are two ideas:
 - we store the text being edited as well as the selected text. We clear the text being edited when a new item is selected, so if we check that there is no text being edited when we validate, we should be able to force the user to select this
 - copy AutoComplete into our repository and modify it to our needs. This will give us better control over what callbacks we have access

[2016-05-16 15:26] #319 closed

[2016-05-16 17:27] pdpinch opened #328 "Add real text to Terms of Service"
We may want to do this at the same time as #280

The text is in a google doc at https://goo.gl/EgJRvD

If there is a preferred format (markdown? HTML?), let me know.

[2016-05-16 17:28] noisecapella opened #329 "Merge educationDialog reducer and related actions into ui reducer"
Blocked by #312

[2016-05-16 17:29] noisecapella commented on #328
HTML should be fine

[2016-05-16 17:32] noisecapella opened #330 "Convert all remaining class.propTypes and etc to use class property syntax"

[2016-05-16 17:52] pdpinch opened #331 "Style education form to match mock-ups"
See https://invis.io/4E791TKU3#/153562861_Step_Two_-_Educational_Info and https://invis.io/4E791TKU3#/155766490_Step_Two_-_Educational_Info_-_Add_Degree

- [ ] increase margins
- [ ] match colors
- [ ] make add button (`+`) green and move down to [similar location to employment](https://github.com/mitodl/micromasters/issues/289#issuecomment-219046258)
- [ ] border around each component
- [ ] make

[2016-05-16 17:54] pdpinch opened #332 "Remove "field of study" field from high school degree detail in education profile"
Most high schools don't have a field of study.

[2016-05-16 18:10] pdpinch opened #333 "Change "Field of Study" to a select drop-down in education degree detail view"
As an admin, I'd like to have users use a controlled vocabulary for fields of study, normalizing this field and making it easier to do (faceted) searches.

As a user, I'd like to be able to start typing my field of study and have the ui present me with a list of matches, so I don't have to guess what fields of study are recognized.

We will use the [Classification of Instructional Programs (CIP)](

[2016-05-16 18:17] pdpinch opened #334 "Add favicon"
Unless we plan to customize, we can re-use the MIT favicon in use on the micromasters marketing site, https://github.com/mitodl/mga/blob/gh-pages/images/favicon.ico

[2016-05-16 18:20] pdpinch opened #335 "Style profile privacy page like mock-ups"
/profile/privacy should look like https://invis.io/4E791TKU3#/156281163_Step_Four_-_Profile_Privacy

Notably, by changing to radio buttons, users will be able to see the options more easily.

[2016-05-16 19:04] noisecapella commented on #335
We also need to move the email optin text from the work history tab to the privacy tab

[2016-05-16 21:02] giocalitri opened #337 "In dashboard rest api filter out programs that are not live"
Currently there is no filter

[2016-05-16 21:14] #278 closed

[2016-05-17 14:49] aliceriot commented on #330
I'm happy to take this on - I find the class property syntax much more readable.

[2016-05-17 14:58] #324 closed

[2016-05-17 15:36] #288 closed

[2016-05-17 15:37] giocalitri commented on #291
Planning to work on this: the profile is technically working even if it is not the profile page: do we want to remove the link anyway?

[2016-05-17 15:42] pdpinch commented on #291
Yes. Remove the profile link. We'll put it back in when we do https://github.com/mitodl/micromasters/issues/216

[2016-05-17 16:30] #255 closed

[2016-05-17 16:30] #289 closed

[2016-05-17 16:30] #290 closed

[2016-05-17 16:59] #330 closed

[2016-05-17 17:06] #270 closed

[2016-05-17 17:56] noisecapella opened #343 "Fix test warning"
App
        ✓ clears profile, ui, and dashboard after unmounting (165ms)
        profile completeness
          ✓ redirects to /profile if profile is not complete (316ms)
    Deprecation warning: moment construction falls back to js Date. This is discouraged and will be removed in upcoming major release. Please refer to https://github.com/moment/moment/issues/1407 for more info.
    Arguments: [ob

[2016-05-17 18:10] #291 closed

[2016-05-17 18:11] #337 closed

[2016-05-17 18:20] noisecapella commented on #343
It looks like this is due to the user profile constant not having default work history or education information.

[2016-05-17 18:34] blarghmatey commented on #283
Apparently the free tier allows for up to 2 backups maintained. I added a schedule to run the backups at midnight UTC on a nightly basis.

[2016-05-17 18:39] aliceriot commented on #343
ah, I think Amir added those in #314

[2016-05-17 19:04] pdpinch commented on #283
🏆

[2016-05-17 19:29] #343 closed

[2016-05-17 19:44] #274 closed

[2016-05-17 19:44] noisecapella commented on #274
Replaced by #307

[2016-05-17 19:49] pdpinch commented on #287
@amir-qayyum-khan we finally got the new design:

https://invis.io/4E791TKU3#/159574507_Public_Home_-sign_Up-

There's a button on the home page that launches a modal. There a couple of things that are wrong in the mock-up:

"Micromasters" should be "MicroMaster's" (see #236)
The form in the modal should be dynamic, same as the one currently at http://micromasters.mit.edu/

[2016-05-17 20:29] noisecapella commented on #329
We should also write tests at this point

[2016-05-17 20:57] #281 closed

[2016-05-18 12:33] pdpinch commented on #227
@noisecapella will this be addressed by #336 ?

[2016-05-18 12:34] pdpinch commented on #284
@bdero can you take a quick pass over the checkmarks here? I think you did a lot of this already?

[2016-05-18 12:48] amir-qayyum-khan commented on #328
@pdpinch  i dont have access on this document.

[2016-05-18 12:50] pdpinch commented on #328
asked and answered =)

[2016-05-18 14:00] noisecapella commented on #227
No but #336 is a requirement for this work since otherwise `filled_out` will always be false

[2016-05-18 14:37] aliceriot commented on #329
:+1: on this, I think `js/reducers/index.js` and `js/actions/index.js` are getting way big at this point.

[2016-05-18 14:58] #233 closed

[2016-05-18 17:51] noisecapella opened #350 "Use prefer-template eslint rule"

[2016-05-18 18:07] bdero commented on #284
@pdpinch I checked off the stuff that's done. Note - I only asked around for the fake certificate, we haven't actually got one yet. Maybe I should ask on slack.

[2016-05-18 18:08] pdpinch commented on #284
I think I'll open a ticket. Let's check in tomorrow.

[2016-05-18 18:10] bdero commented on #284
For `Test with the old library & the existing micromasters OAuth application on edx.org`, does this mean test with both Django OAuth Toolkit as well as the older one currently in use?

[2016-05-18 18:18] pdpinch commented on #280
@amir-qayyum-khan when you start work on an issue, please assign it to yourself and move it to the "in progress" pipeline.

[2016-05-18 18:21] pdpinch commented on #284
That's what I had in mind. When I wrote the ticket, I wasn't sure which OAuth library we would go with. If everything is in place and working, I think we can just use the new one, but until we know for sure I'd like to have the option of using the old one.

[2016-05-18 18:46] #318 closed

[2016-05-18 18:49] #297 closed

[2016-05-18 19:01] #223 closed

[2016-05-18 20:42] #296 closed

[2016-05-18 20:55] #350 closed

[2016-05-19 03:10] #329 closed

[2016-05-19 13:53] Ferdi commented on #328
What is the scope of this issue ?   Are you aiming for the final version :

![tos](https://cloud.githubusercontent.com/assets/125561/15395872/7f8e9168-1da7-11e6-8238-0ac0bc229406.png)

[2016-05-19 13:57] pdpinch commented on #328
This issue is just the text from https://goo.gl/EgJRvD. #280 is the design

@amir-qayyum-khan , I thought you were working on #280 as well?

[2016-05-19 15:43] pdpinch commented on #280
added a screenshot to the description, from the invision mock-up

[2016-05-19 18:32] noisecapella commented on #216
I'm going to submit a PR to put this in place (currently non-functional), then we can figure out what we want in more detail

![screenshot from 2016-05-19 14-31-39](https://cloud.githubusercontent.com/assets/863262/15405110/90713a36-1dce-11e6-9d10-44b2a52db9c9.png)

[2016-05-19 18:40] Ferdi commented on #216
@noisecapella that looks pretty good !

[2016-05-19 19:53] #227 closed

[2016-05-19 20:20] amir-qayyum-khan commented on #280
@pdpinch i havent change the color of success button.

<img width="1276" alt="screen shot 2016-05-20 at 1 17 29 am" src="https://cloud.githubusercontent.com/assets/10431250/15408257/b3794e60-1e28-11e6-9f0d-2071ab1f9539.png">

[2016-05-20 14:35] #320 closed

[2016-05-20 15:04] pdpinch opened #366 "Remove HTTP basic auth from /_o/ endpoint on courses.stage.edx.org"
For a variety of reasons, we need to be able to test our releases with edX's staging environment. Unfortunately, stage.edx.org uses HTTP basic auth, which trips up the OAuth authentication flow.

EdX devops says they will remove the basic auth from the `/_o` endpoint, which should make this a no-op for us. But I'm opening this issue to remind me to bug them about it.

@bdero

[2016-05-20 15:10] bdero commented on #366
Thanks for making an explicit issue for this, it's been our biggest blocker for #59 .

[2016-05-20 15:12] pdpinch commented on #236
Erdin says that it's definitely "MicroMaster's" (mixed case, with apostrophe).

I'm double-checking on the logo, and we can decide ourselves about straight vs. curly-quote.

[2016-05-20 15:17] pdpinch commented on #257
This has been fixed incidentally.

[2016-05-20 15:17] #257 closed

[2016-05-20 15:31] pdpinch commented on #51
Closing this in favor of #310 which has screenshots of the current state of affairs.

[2016-05-20 15:31] #51 closed

[2016-05-20 15:32] #334 closed

[2016-05-20 15:39] pdpinch opened #367 "Add header to profile pages"
I.e., make them look like this, including the user's avatar and the welcome message, on all profile forms, including the terms of service:

![step four - profile privacy](https://cloud.githubusercontent.com/assets/430126/15433249/874d39a8-1e7f-11e6-9b18-f5935fb5922a.png)

[2016-05-20 15:50] pdpinch opened #368 "add footer to enrollment/profile pages"
- [x] use same footer as home page
- [x] omit About page until we have one.
- [x] Give button uses links to https://giving.mit.edu/explore/campus-student-life/digital-learning

![step four - profile privacy](https://cloud.githubusercontent.com/assets/430126/15433285/bbc9b6ca-1e7f-11e6-9a70-060f53c4f166.png)

[2016-05-20 16:04] #303 closed

[2016-05-20 16:19] pdpinch opened #369 "add wizard / progress UI to profile / enrollment forms"
Instead of tabs, the profile / enrollment forms should have an indicator so users know which step they are on.

There are no links to jump between forms. The only way to advance is to click the "save and continue" button. (we need to add a "Previous Step" button but there's no design yet)

Here is the most recent design:
![step two - alt wizard 2](https://cloud.githubusercontent.com/assets/430126/

[2016-05-20 17:34] #327 closed

[2016-05-20 17:37] pdpinch opened #370 "create program template for CMS"
We can create programs and program pages through the Wagtail CMS, but we can't actually publish the pages because there's no template.

@nicolaeherrera has create a template for us at https://github.com/mitodl/micromasters-templates/blob/master/program.html. It just needs to be adapted.

[2016-05-20 18:46] giocalitri commented on #307
#356 fixed this: closing

[2016-05-20 18:46] #307 closed

[2016-05-20 18:49] #169 closed

[2016-05-22 18:03] pdpinch opened #373 "On Dashboard, gray-out "Apply for Masters" button"
The button isn't clickable, but it's still too subtle. We need to actually change the color of the button and the text.

See, for example, https://getmdl.io/components/index.html#buttons-section

[2016-05-22 18:08] pdpinch opened #374 "Profile: changing preferred name should update the top nav drop-down"
As a user, I expect that when I update my preferred name in the profile my name will also update in the drop-down in the top nav.

[2016-05-22 18:12] pdpinch opened #375 "Profile: add previous button"
As a user, I would like to be able to navigate back through the profile if need to make changes.

Add a previous button to the user profile steps, to the leff of the "save and continue" buttons on the Education, Employment and Privacy steps.

[2016-05-22 18:16] pdpinch opened #376 "add footer to home page"
- [x] use same footer as profile / enrollment page (#368)
- [x] omit About page until we have one.
- [x] Give button links to https://giving.mit.edu/explore/campus-student-life/digital-learning

![public home sign up](https://cloud.githubusercontent.com/assets/430126/15455820/7a20792a-202d-11e6-9716-28532c1e28ed.png)

[2016-05-22 18:17] pdpinch opened #377 "Add about page"
needs content

[2016-05-22 18:19] pdpinch opened #378 "Personal Profile: make date picker for date of birth more material"
The current date picker doesn't look like the others.

We'll change to 3 text fields so users don't feel like they need to page backwards through the years.

[2016-05-22 18:20] pdpinch opened #379 "Profile: make date labels behave simliar to other labels"
Currently on the education and employment profile forms, the date labels don't behave the same way as other labels. The labels are also located to the left of the fields instead of above them.

Combine the mm/yyyy into one text field, with the slash. Label should behave the same as other labels, but on focus fill the field with the hint text mm/yyyy

[2016-05-22 18:22] pdpinch opened #380 "Bug: in employment form, selecting a country needs to clear the state/territry field"
Observed during Friday's demo, changing the country on the employment form did not update the state/territory select field, leaving the user in a state where the country didn't match the states displayed in the drop-down.

[2016-05-22 19:04] pdpinch opened #381 "Change references to MicroMaster's certificate to "MicroMaster's credential""
MIT is offering a credential not a certificate.

A quick search only turned up the copy at https://github.com/mitodl/micromasters/blob/c63d244d93406c194f5761280ee254896a90ceee/static/js/containers/ProfilePage.js#L153-L156

[2016-05-22 20:14] pdpinch commented on #287
I updated the description with new action items based on the new design.

[2016-05-23 00:56] #22 closed

[2016-05-23 01:06] #159 closed

[2016-05-23 11:59] pdpinch commented on #174
@Ferdi can we close this?

It seems like we'll need to consider this issue on a feature-by-feature basis going forward, but we don't have anything in the pipeline right now that it would affect.

[2016-05-23 12:00] pdpinch commented on #258
@noisecapella is this still an issue?

[2016-05-23 13:22] Ferdi commented on #174
For users that are not enrolled in any MM course, What happens after they fill in their profile data ?

[2016-05-23 13:23] pdpinch commented on #174
Currently, they have access to the student dashboard, which should encourage them to enroll in a SCM course.

[2016-05-23 13:25] Ferdi commented on #174
It's sort of OK for now.  Here is a use case that it doesn't quite work.  I register with MM but I'm not interested in SCM MM.

[2016-05-23 14:55] noisecapella opened #383 "Bug: selecting a new country doesn't clear the state/territory state"
To reproduce: start with the state and country fields selected. Change the country field and you see the state field clear in the UI. However the redux state for the state field doesn't change until you interact with the state field, so it will pass validation despite being a state for a different country.

I think the solution is to create a `boundCountrySelectField` and specify the state field t

[2016-05-23 15:36] pdpinch opened #384 "Bug: Don't attempt to display enroll button when edx_course_key is null"
We allow courseruns to be created without an edx_course_key when there are plans to create one later.

Unfortunately, this means we have to protect against situations when a course key is required, like providing an enroll button.

In normal usage, this is unlikely to happen because we wouldn't pass the enrollment_start date without having a course code. But in our testing this came up.

[2016-05-23 16:22] amir-qayyum-khan commented on #335
Made changes in UI.

<img width="1209" alt="screen shot 2016-05-23 at 9 21 24 pm" src="https://cloud.githubusercontent.com/assets/10431250/15477113/6e5a56ba-212c-11e6-8270-5aac1fcae6ba.png">

[2016-05-23 17:02] pdpinch opened #387 "Honor user privacy setting when viewing profile"
We have 3 types of user and 3 privacy settings, but only 7 use cases and 3 possible outcomes.

### Users
1. The current user
2. A verified micromasters user (to be defined, but we will add a field to the user profile)
3. An anonymous use (not logged in).

### Privacy Settings
1. Private
2. Public to other verified micromasters users
3. Public to all

### Possible Outcomes
1. Access to the complete

[2016-05-23 17:05] pdpinch opened #388 "reuse enrollment / profile components in profile viewer"
When the user edits a profile card, open a pop-up similar to one used when first creating the profile.

Clicking the edit button next to the user's name / avatar, open a personal form.

Clicking an edit button on the row next to a degree, open the degree form component.

Clicking an edit button on the row next to a job, open the employment form component.

[2016-05-23 17:06] pdpinch opened #389 "Profile viewer: add plus buttons to profile viewer"
... so the user can add additional degrees and jobs

clicking plus will open the form component to add a new item.

the form is validated when the user saves it.

[2016-05-23 17:10] pdpinch opened #390 "database caching architecture"
We'll need to put some thought to how we can add caching infrastructure.

@giocalitri feel free to add some thoughts to this.

[2016-05-23 17:20] pdpinch opened #391 "Profile viewer: allow user to edit personal info"
Clicking the edit button next to the user's name / avatar, open a personal form.

[2016-05-23 17:22] pdpinch opened #392 "Profile viewer: allow user to edit educational info"
Clicking an edit button on the row next to a degree, open the degree form component.

[2016-05-23 17:23] noisecapella commented on #387
It looks like we already do this in the REST API, but we should at least double check that the proper tests are in place and that we're handling all three privacy settings

[2016-05-23 17:23] pdpinch opened #393 "Profile viewer: allow user to edit employment info"
Clicking an edit button on the row next to a job, open the employment form component.

[2016-05-23 17:33] noisecapella commented on #258
We only use this for the birthdate at the moment and we don't want the user to clear that, so I'll close this and we can open a new issue if it becomes a problem

[2016-05-23 17:33] #258 closed

[2016-05-23 18:03] noisecapella commented on #369
@gsidebo FYI this will need tests too, similar to existing tests for `makeCourseProgressDisplay`

[2016-05-23 18:05] pdpinch opened #394 "API for uploading avatars"
update the model to store an image

Use django-storages back-end to manage location for saving

Same authorizations as profile API

[2016-05-23 18:46] aliceriot commented on #367
@pdpinch I'm wondering how this story relates to #346, it looks like Amir has the banner added to the ToS page there. Should I add it to the ToS page in the PR for this issue anyway, or just let Amir take care of that?

[2016-05-23 19:27] aliceriot opened #399 "proposal: use npm-shrinkwrap instead of pinning exact versions"
TL;DR: We've seen issues even with pinning exact versions of npm packages. I think using [npm-shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap) could help us avoid this in the future.

## Details

An `npm-shrinkwrap.json` file works much like a `Gemfile.lock` file does in Ruby/bundler. Every time a dependency is added `npm` will automatically update the shrinkwrap file to reflect the addition of

[2016-05-23 19:28] #380 closed

[2016-05-23 19:40] gsidebo commented on #399
👍

[2016-05-23 19:52] noisecapella commented on #399
Overall using npm shrinkwrap is probably a good idea. I'm wary about mixing devDependencies into dependencies because I'm not sure how it impacts the bundle file size. How would this work when we install a new dependency? Run `npm install` then `npm shrinkwrap`?

[2016-05-23 19:58] aliceriot commented on #399
With npm 3 the shrinkwrap will be updated anytime you pass `--save`, so if you need to add e.g. `material-ui` you would just do `npm install --save material-ui`, and `npm` would insert `material-ui` into `package.json` and add a statement for `material-ui` to the shrinkwrap file.

The only thing that I'm a little unsure of is how ongoing maintenance of the shrinkwrap will work if dev dependencies

[2016-05-23 20:11] #374 closed

[2016-05-23 20:39] #335 closed

[2016-05-23 20:54] pdpinch commented on #367
I'd like to be standardized on one approach. It seems like one of you will have a merge conflict though I suppose.

[2016-05-23 20:56] pdpinch commented on #394
@gsidebo before you work on this, I'd like to talk about the possibility of using the gravatar service.

[2016-05-23 20:57] pdpinch commented on #179
@noisecapella before you and @gsidebo work on this, I'd like to investigate using the gravatar service.

[2016-05-24 12:07] amir-qayyum-khan commented on #287
@pdpinch where can i get background image of placeholder card?

[2016-05-24 14:15] aliceriot commented on #399
Some testing!

First off, I wanted to get a baseline estimate for how big our current JS bundle is. Here's the output of running `node node_modules/webpack/bin/webpack.js --config webpack.config.prod.js --bail --progress` in the `watch` container:

![before_node_update](https://cloud.githubusercontent.com/assets/6207644/15505983/ba711838-2193-11e6-9ab8-8769e45f9716.png)

after updating the nodejs

[2016-05-24 14:18] aliceriot commented on #399
curious to hear your thoughts @noisecapella. I have a branch with the changes that I can push up to github as well if you'd like to poke at it.

[2016-05-24 14:26] noisecapella commented on #399
Sure, that would be great. I'm fine with moving everything to dependencies, it would also prevent problems where we install something as a devDependency and don't realize it's needed in production until it gets onto one of the deploy servers

[2016-05-24 14:52] aliceriot commented on #399
One other question: currently we're installing nodejs and npm inside of the web container (which we build with a dockerfile). Is there a reason we're doing this instead of using one of the prebuilt nodejs containers for `watch`? e.g. https://hub.docker.com/_/node/

Instead, we could, in `docker-compose.yml`, declare that `watch` uses the `node:6.2` image - then we'd avoid having to install node an

[2016-05-24 15:01] noisecapella commented on #399
There's no reason not to do things that way. In LORE we put node and npm inside the web container because django-compressor ran the JSX transformer inside the same container. We should be able to get rid of node and npm and do this in a separate container.

[2016-05-24 15:02] aliceriot commented on #399
Cool, maybe I'll take a poke at doing that in the branch I have open, and see if it's easy to get it to work. I'd looooove to get the CI test time down, it's a lot of waiting for packages to install right now.

[2016-05-24 15:12] noisecapella commented on #399
If we do this we will also need to change our documentation for running unit tests. What would we replace `docker-compose run web tox` with?

[2016-05-24 15:15] aliceriot commented on #399
`docker-compose run watch ./js_test.js`? we could add a little file that just has:

[code]

alternatively, if we wanted one command to run them all we could just have a small shellscript:

[code]

[2016-05-24 15:18] noisecapella commented on #399
That works for me as long as the documentation gets updated and whatever changes we make are communicated to the group

[2016-05-24 15:18] aliceriot commented on #399
cool!

[2016-05-24 15:28] giocalitri commented on #387
What the different users are supposed to see?

Case 1: User Foo looks at profile Foo (same user)
This is easy: the user should see everything.

Case 2: The user Foo looks at the profile Bar (with privacy set to "private")
?

Case 3: The user Foo (a MM student) looks at the profile Bar (with privacy set to "private to MM students")
?

Case 4: The user Foo (a MM student) looks at the profile Bar (wi

[2016-05-24 16:00] pdpinch commented on #387
I'll update the description once we work through the details, but here's my first pass.

Case 1: User Foo looks at profile Foo (same user)
This is easy: the user should see everything.

Case 2: The user Foo (a MM student) looks at the profile Bar (with privacy set to "private")
returns a 404

Case 3: The user Foo (a MM student) looks at the profile Bar (with privacy set to "private to MM students"

[2016-05-24 16:04] #383 closed

[2016-05-24 16:05] noisecapella opened #403 "Better validation error when date is invalid"
Currently we just use '... is required' for all validation messages. If the date is invalid because it's impossible we should adjust our error message accordingly

Should handle these cases:
 - A date which is out of range or has invalid characters (what should a valid range be?)
 - An end date which is before the begin date
 - A birthdate which is after today (do we want to restrict it further to

[2016-05-24 16:10] gsidebo commented on #394
@pdpinch sounds good. im going to take a swing at this after #369 and #375

[2016-05-24 16:18] giocalitri commented on #387
I have 2 doubts:

1. the 404 looks a bit too eccessive to me: it means we are basically allowing the users to be invisible in the context of the application. I am not sure, but I think that LinkedIn does not allow this and probably only Facebook does.
2. should the cases 3, 4 and 7 exclude also
    "filled_out", "agreed_to_terms_of_service", "account_privacy", "email_optin"?

[2016-05-24 17:21] giocalitri commented on #387
Looking at edx, for private users, it returns a 200 with just username, profile_image and account_privacy.
[code]

[2016-05-24 17:54] giocalitri commented on #387
Another note from a conversation with @pdpinch:

We should introduce a flag in the profile for `verified_micromaster_user` to be set to `True` when the student is `enrolled verified` in at leas one micromaster course.

[2016-05-24 18:03] gsidebo commented on #399
i'd prefer it if said shell script would run js tests only with tox, or at least have the option to do so

[2016-05-24 18:18] pdpinch commented on #387
@giocalitri @Ferdi I updated the description to combine Giovanni and my conversations. Let me know if I got everything right.

[2016-05-24 18:27] giocalitri commented on #387
@pdpinch I think it is worth mentioning that we assume that unverified micromasters users will be considered as anonymous users for profile features

[2016-05-24 18:38] noisecapella commented on #399
Why do you prefer it that way? Are you just looking for a single place to run all the tests?

[2016-05-24 18:47] pdpinch commented on #387
Thx. I updated the description.

[2016-05-24 18:59] gsidebo commented on #399
just realized i was assuming that coverage and lint were specific to our JS code. if that's not true, ignore me 😄

[2016-05-24 19:29] noisecapella commented on #399
FYI There is linting and coverage for both python and JS. In Python it's done with pylint and coverage using pytest plugins (see pytest.ini). In JS we are running them as separate commands `npm run lint` and `npm run coverage`. The coverage output for Python is at `htmlcov/` and for JS it's at `coverage/`

[2016-05-24 19:38] aliceriot commented on #399
FYI this is what I have currently (over in #402), `test_suite.sh`:

[code]

so you can do `./test_suite.sh` to run all the tests.

[2016-05-24 19:40] aliceriot commented on #399
@gsidebo I'm not exactly sure what you mean, are you asking whether `tox` will still run the JS tests?

[2016-05-24 19:40] aliceriot commented on #399
...oops

[2016-05-24 19:41] Ferdi commented on #378
@noisecapella Can you upload a screenshot ?

[2016-05-24 19:50] aliceriot commented on #367
I think we're going to wait to merge #346 until after I've merged #398

[2016-05-24 20:16] noisecapella commented on #378
![screenshot from 2016-05-24 15-19-37](https://cloud.githubusercontent.com/assets/863262/15518431/d69b8b74-21ca-11e6-9ca1-e9cb99acf9f2.png)

[2016-05-24 20:16] noisecapella commented on #378
![screenshot from 2016-05-24 15-19-37](https://cloud.githubusercontent.com/assets/863262/15518442/dfde49b0-21ca-11e6-8d0d-195f1796dc87.png)

[2016-05-24 21:18] #367 closed

[2016-05-25 09:51] #285 closed

[2016-05-25 12:02] amir-qayyum-khan commented on #373
@pdpinch what should be change in text?

[2016-05-25 12:23] pdpinch commented on #373
The text should be:

[code]

I forgot that it was already white, so the color is fine.

The button should be greyed out, as it is in the design. I.e. `#B2C9D2`

[2016-05-25 13:52] pdpinch commented on #366
@bdero I open a ticket for this at https://openedx.atlassian.net/servicedesk/customer/portal/3/DEVOPS-4271 -- can you check to see if you can access it?

[2016-05-25 13:55] noisecapella opened #412 "Tests for uncovered code in profile_edit.js"
- Need tests for boundSelectField AutoComplete onBlur added in #355
 - This case in boundSelectField, where editText has something already:

        if (editText !== undefined) {
            searchText = editText;
        } else if (selectedOption) {

- In saveAndContinue:

          if ( _.isFunction(nestedValidationCallback) ) {
            fields = nestedValidationCallback(profile, requiredFiel

[2016-05-25 14:49] #328 closed

[2016-05-25 15:33] aliceriot opened #414 "scrollbar presence / absence causes a spacing mismatch between profile tabs"
The issue occurs when switching between the education and work history tabs, on a screen height that causes a scrollbar to appear on the education tab but not on the work history tab. The scrollbar changes the screen width, so that the margins calculated for the card (`<div class='app-media layout-boxed'>) change a slight amount, causing a little visual jump.

I noticed this just now in reviewing

[2016-05-25 15:35] #412 closed

[2016-05-25 15:58] #331 closed

[2016-05-25 16:15] #379 closed

[2016-05-25 17:44] bdero commented on #366
I don't have access to it. :o

On Wed, May 25, 2016 at 9:52 AM, Peter Pinch <notifications@github.com>
wrote:

[2016-05-25 17:52] #399 closed

[2016-05-25 18:26] giocalitri commented on #179
this depends on #394

[2016-05-25 19:06] giocalitri commented on #394
just for my own knowledge I try to implement the support for the gravatar images ([docs here](https://en.gravatar.com/site/implement/images/)) and I came out with this code for the profile serializer:

[code]

The only problem with this is that the `obj.profile_url_full` must be a public URL because it will be served by gravatar and not by edx directly, so it does not work in development environme

[2016-05-25 19:27] noisecapella opened #415 "Profile viewer: remove add, delete, or edit icons if profile is not user's"
This is the frontend part of #387

This should be a simple comparison between the current user's id (could be null) and the username in the URL, but we do need tests.

[2016-05-25 19:47] #378 closed

[2016-05-25 20:09] #217 closed

[2016-05-25 20:19] noisecapella opened #416 "Bug: radio buttons don't show up if value is null"
Instead, they should all show up but none should be selected

[2016-05-25 20:42] #387 closed

[2016-05-26 13:22] noisecapella commented on #315
Are those industry codes copyrighted? Is that something that you can do to a list of codes?

[2016-05-26 13:31] pdpinch commented on #315
LinkedIn is offering the list as part of their API. Unless the pending Google/Oracle suit ends horribly, APIs aren't copyrighted.

Also, I'm not sure we actually need the codes. We're mostly just interested in the user-facing labels.

[2016-05-26 15:52] giocalitri opened #418 "Gravatar support for images"
Based on [this comment](https://github.com/mitodl/micromasters/issues/394#issuecomment-221675266) we are going to implement Gravatar support for profile images.

We are also going to postpone the implementation of #394 and #179

[2016-05-26 15:54] giocalitri commented on #394
We are going to postpone this story.

[2016-05-26 15:54] giocalitri commented on #179
we are going to postpone this story

[2016-05-26 16:01] gsidebo opened #419 "Bug: Autocomplete + Enter key breaks tabbing behavior in profile form fields"
To reproduce:

- log in and navigate to the profile edit page
- highlight an autocompleted form field like "Preferred language"
- type a partial value, use the arrow keys to select an autocomplete option, and press Enter
- press Tab

Expected: the next input would be selected as if the Enter key was never pressed
Actual: the MIT Micromasters logo is highlighted and the page scrolls to the top

Loo

[2016-05-26 16:38] aliceriot commented on #389
is this a different task than making the current education and employment components work on the profile view? they already include buttons for adding entries.

[2016-05-26 16:47] pdpinch commented on #389
Sounds like it's already covered. If that's merged, you can close this.

[2016-05-26 16:47] aliceriot commented on #389
not yet merged, but I'll close this when all the work I'm doing is done.

[2016-05-26 17:51] pdpinch commented on #287
@amir-qayyum-khan the background graphic for the placeholder card is now at https://github.com/mitodl/micromasters-templates/blob/master/assets/images/part-globe.png

[2016-05-26 17:52] noisecapella commented on #419
For what it's worth, this is a bug on the AutoComplete component, not necessarily our hacks to it: http://www.material-ui.com/#/components/auto-complete

There may be something we can do to say, when user selects an item, explicitly focus on the text field

[2016-05-26 18:33] pdpinch commented on #368
According to the [MIT graphic identify site](http://web.mit.edu/graphicidentity/download-logos.html), it looks like this is the preferred logo for black backgrounds:

https://github.com/mitodl/micromasters/blob/fixup/pdpinch/add_footer/static/images/MIT-logo-ltgray-white-72x38.svg

[2016-05-26 18:45] #315 closed

[2016-05-26 18:46] pdpinch commented on #333
We're now looking at adapting this controlled vocabulary: http://digitalcommons.bepress.com/cgi/viewcontent.cgi?article=1008&context=reference

[2016-05-26 20:00] pdpinch commented on #333
@Ferdi the digitalcommons document lead me to the [National Academies site](http://sites.nationalacademies.org/PGA/Resdoc/PGA_044521).

Their list has about 80 fields of study, compared with digitalcommons' list of 1300.

How about if I merge the MIT list (113) with the National Academies list?

[2016-05-26 20:08] noisecapella opened #426 "Run webpack during travis tests"
This will detect import bugs which won't necessarily show up when JS tests are run

[2016-05-26 20:10] Ferdi commented on #333
I think more is better, no?  What's your concern ?

[2016-05-26 20:15] #332 closed

[2016-05-26 20:15] pdpinch commented on #333
Browser performance, and user confusion. But I could be overreacting.

If we go with the digitalcommons list, would you use the full hierachy, or just the leaf? For example, "Arts and Humanities: Classics: Ancient History, Greek and Roman through Late Antiquity" or just "Ancient History, Greek and Roman through Late Antiquity"

There's also a few MIT departments that don't exist in the digitalcomm

[2016-05-26 20:25] Ferdi commented on #333
I'm not sure , none of these seems consistent. What linkedin version looks like , can you guess ?

[2016-05-26 21:15] noisecapella opened #428 "node_modules is owned by root"
When we switched to the `node:6.2` image we started running its commands as root. We can create a minimal Dockerfile to add the mitodl user to fix this.

FYI, the mitodl user is uid 1000 which happens to be the default first normal user, this is why files created inside the container are owned by the same user as the one outside the container. If you had two normal users on your system the docker

[2016-05-26 21:27] #419 closed

[2016-05-27 14:14] #418 closed

[2016-05-27 14:21] #381 closed

[2016-05-27 14:32] noisecapella commented on #369
It seems like we should remove the react-router handling for the tabs as well, so the user can't just go to /profile/education in the browser as a workaround. What do you think @aliceriot?

[2016-05-27 14:36] aliceriot commented on #369
hmm that might be what we want but I think that will entail a decent refactor of how the `ProfilePage` component injects props into the tab components - we might need a dummy component that just renders:

[code]

to keep the existing pattern. Either way I think this is blocked until https://github.com/mitodl/micromasters/issues/375 and https://github.com/mitodl/micromasters/issues/393 are merged,

[2016-05-27 14:38] noisecapella commented on #369
Ok, I'll work on removing the links but otherwise not touch the react-router pieces. I'll file a new issue to cover the removal of the react-router support for individual profile pages

[2016-05-27 14:39] aliceriot commented on #369
I do agree that it doesn't necessarily make sense to have the user able to navigate around by URL, but at the same time with the `requireProfileFilledOut` and `requireCompleteProfile` methods on `App.js` we might have those edge cases covered anyway - meaning, it shouldn't be possible for a user to do any interaction with the site until they've filled out the profile, so someone editing the url to

[2016-05-27 14:43] noisecapella commented on #369
At the moment we don't actually validate that the user has to enter any work history or education, even if the switches are enabled indicating they had something to add... but when we fix that it should work like you said

[2016-05-27 14:43] noisecapella opened #433 "Profile: if education or work history is missing, and the relevant switch is turn on, we should cause a validation error"
The validation error message should be displayed where the collapsed degree would have gone.

[2016-05-27 14:44] aliceriot commented on #369
ah
right yeah, for the work history validation if `profile.work_history` is an empty array we don't validate it.

[2016-05-27 15:48] #236 closed

[2016-05-27 16:59] pdpinch commented on #368
@amir-qayyum-khan I should have mentioned this, but I thought you already knew. We have HTML templates from the designer at http://mitodl.github.io/micromasters-templates/ (repo at https://github.com/mitodl/micromasters-templates)

The footer should have been based on that template, except for the changes mentioned in the issue.

[2016-05-27 16:59] pdpinch commented on #376
@amir-qayyum-khan I should have mentioned this, but I thought you already knew. We have HTML templates from the designer at http://mitodl.github.io/micromasters-templates/ (repo at https://github.com/mitodl/micromasters-templates)

The footer should have been based on that template, except for the changes mentioned in the issue.

[2016-05-27 17:04] #428 closed

[2016-05-27 17:06] #416 closed

[2016-05-27 17:07] gsidebo commented on #375
@pdpinch forgot to ask: is there a mock for this? i'm just kinda winging it in terms of styling for now

[2016-05-27 17:10] pdpinch commented on #333
After some more discussion, Ferdi and I have decided to go with the Classification of Instructional Programs (CIP) vocabulary, managed by the National Center on Education Statistics. You can browse the 2010 (most recent) and download a csv from their [resource page](https://nces.ed.gov/ipeds/cipcode/resources.aspx?y=55).

Besides being comprehensive, and a well-recognized standard, we also like th

[2016-05-27 17:31] pdpinch commented on #375
There is no mock-up for this one, so wing away.

I might suggest using the Cancel button in the TOS as a model, although it may look weird as a flat button.

<img width="562" alt="screen shot 2016-05-27 at 1 30 15 pm" src="https://cloud.githubusercontent.com/assets/430126/15616017/4f31b2ca-240f-11e6-8190-f2aa145dec86.png">

[2016-05-27 17:37] pdpinch opened #434 "change font to Roboto"
We should be using Roboto as the default font for the site. In some places it appears to be specified in the CCS but, in Firefox at least, Helvetica is actually being used.

When we list degrees and employment in the profile form, the labels should be Roboto 16px bold and the dates should be Roboto 16px Light.

See https://projects.invisionapp.com/d/main#/console/6633865/153562860/comments/6312926

[2016-05-27 17:37] pdpinch commented on #434
Sorry these design details arrived late. I've asked @nicolaeherrera to let us know the scope of this change.

[2016-05-27 17:38] amir-qayyum-khan commented on #376
sorry i was not aware, let me use this one.
On May 27, 2016 9:59 PM, "Peter Pinch" <notifications@github.com> wrote:

[2016-05-27 17:53] pdpinch opened #436 "Bug: Can't save High School Degree"
Steps to reproduce:

1. Navigate to education profile
2. Click to add a High School degree
3. Fill out the form completely.
4. Click Save
Nothing happens

Expected Behavior: Either the form saves and the pop-up is dismissed, or a validation error is returned.

Most likely, when the field of study was removed in #332 we neglected to remove it from the validation.

[2016-05-27 18:00] #239 closed

[2016-05-27 18:16] giocalitri opened #437 "(django) Staff users cannot access Wagtail"
Probably this is only a configuration issue, but we need to make sure we know how to make staff users access the CMS

[2016-05-27 18:20] noisecapella opened #438 "Clean up util/util.js"
There's a lot of functions there, we should move them into separate files. We should also refactor some functions which return react components into their own react components.

[2016-05-27 18:22] Ferdi opened #439 "Confirmation when user deletes employment / education"
We should have a confirmation dialog when users try to delete an education/employment entry.

We can use the standard material-ui dialog, with the message "Are you sure you want to delete this?" with the buttons, "Cancel" and "Confirm"

[2016-05-27 18:23] noisecapella opened #440 "General 404 page"
Should include:

- [ ] generic header with MM logo
- [ ] dashboard and user drop-down, if user is logged in
- [ ] Message: `404: The page you requested is unavailable. Please check the URL and try again\n Maybe you were looking for one of these pages: `
- [ ] text links to the programs -- that's the content we have, might as well direct users to it
- [ ] link to report a problem: for now, mailto:m

[2016-05-27 18:23] pdpinch opened #441 "404 page"

[2016-05-27 18:24] #441 closed

[2016-05-27 18:45] pdpinch opened #442 "Field of Study API"
We need a read-only REST API for fields of study.

The data should be modeled after the Classification of Instructional Programs (CIP) vocabulary from the [National Center on Education Statistics](https://nces.ed.gov/ipeds/cipcode/resources.aspx?y=55). Note that this vocabulary has a 3-level hierarchy. The model should preserve the hierarchy.

For now, the API will only be used to back the `field

[2016-05-27 18:46] pdpinch opened #443 "Update Field of Study in education profile to use JSON data"
Currently this field is a free text field. We would like to convert it to a type-ahead field. As the user types, we will look up the field of study, and populate a dynamic drop-down menu with the results.

For the future (not this story), we would like to allow the user to enter their own text (i.e. not matching anything returned from the API).

We will store the CIP code in the profile, similar t

[2016-05-27 18:51] #369 closed

[2016-05-27 18:53] giocalitri commented on #333
I briefly looked into a basic fulltext search using Postgres and it does not look as easy as I thought.
https://dlo.me/archives/2014/09/01/postgresql-fts/

We might want to consider using elasticsearch.

[2016-05-27 20:10] #366 closed

[2016-05-27 20:33] #393 closed

[2016-05-27 20:43] #436 closed

[2016-05-31 13:09] #373 closed

[2016-06-01 18:39] #287 closed

[2016-06-01 21:23] gsidebo opened #448 "(Bug) IntegrationTestHelper/renderComponent swallows all errors"
To reproduce:

1. Open static/js/containers/ProfilePage_test.js
1. Immediately after any line that calls `renderComponent`, add the following line: `assert(false);`. Example:

        renderComponent("/profile/privacy").then(([, div]) => {
          assert(false);
          //...
1. Run the js tests for this file (`docker-compose run watch npm run-script singleTest static/js/containers/ProfilePage

[2016-06-01 21:26] gsidebo opened #449 "Add page titles"
All of the Profile pages have the title of "MIT Micromasters". As a result, a user's browser history (as revealed by right-clicking the back button) might look something like this:

![ss 2016-05-31 at 11 50 03 am](https://cloud.githubusercontent.com/assets/14932219/15726256/db55e494-281d-11e6-92d3-2b340f2894cb.png)

For this and other reasons, it would be wise to add some helpful titles to the Pro

[2016-06-01 21:34] gsidebo opened #450 "Update documentation to reflect edX changes"
We need to update the README to reflect 2 main changes that edX has made:

1. The structure (and content) of their docs for running edX devstack has been changed. Links to those docs need to be updated, and the instructions on our end may need to be updated as well.
1. The process for adding OAuth credentials has changed. We now need to add an Application in "Django OAuth toolkit" (with the "Autho

[2016-06-02 13:35] noisecapella commented on #448
I think this is what we want: https://nodejs.org/api/process.html#process_event_unhandledrejection

[2016-06-02 20:00] pdpinch commented on #376
@amir-qayyum-khan wasn't this closed by #421 ?

[2016-06-02 20:03] pdpinch opened #451 "Master's degree should be punctuated the same as Micromaster's degree"
"Masters degree" without the apostrophe appears in at least one place, the modal on the homage page that pops up when clicking on "Learn More"

[2016-06-02 20:08] pdpinch opened #452 "fix Micromaster's punctuation on home page form button"
This should say `Yes, tell me when new Micromaster’s are available`

![screenshot-micromasters-ci herokuapp com 2016-06-02 16-05-15](https://cloud.githubusercontent.com/assets/430126/15759322/3f40b3ee-28dc-11e6-9322-d0429c810a48.png)

[2016-06-02 20:10] pdpinch opened #453 "Link program card on home page to program page"
As a user when I click on the SCM card on the MicroMaster's home page, I should go to the SCM program page.

[2016-06-02 21:07] #376 closed

[2016-06-02 21:08] amir-qayyum-khan commented on #280
Resolved by #346

[2016-06-02 21:08] #280 closed

[2016-06-02 21:08] amir-qayyum-khan commented on #368
resolved by #421

[2016-06-02 21:08] #368 closed

[2016-06-03 15:06] giocalitri opened #455 "discovery: implement circuit breaker pattern for calls to edX"

[2016-06-03 15:06] giocalitri opened #456 "old endpoints for OAUTH backend"

[2016-06-03 15:14] giocalitri opened #457 "off-site links should open in a new window/tab"
As a user, I don't want to lose my place on the site. Off-site links should open in a new window.

- [ ] footer: edX link
- [ ] footer: ODL link
- [ ] footer: Give to MIT button
- [ ] home page: MITx link to https://www.edx.org/school/mitx

[2016-06-03 15:16] noisecapella opened #458 "Upgrade to Python 3.5"
It looks like if we switch the Dockerfile to point to `python:3.5` instead of `ubuntu:trusty` everything should just work

[2016-06-03 15:34] noisecapella opened #460 "Use pdb++"
One of the pycon speakers mentioned this as being preferable to pdb, so we should try it out and update requirements if we like it

[2016-06-03 15:37] noisecapella opened #461 "Use mypy for type checking"
Since we are using Python 3 we should try out mypy to enforce types in our project.

Note: this is mypy-lang in pip, not just mypy which is a different package

[2016-06-03 15:38] gsidebo commented on #460
never used pdb, but i have used ipdb. have we ever looked at that? did the speakers compare pdb++ with ipdb at all?

[2016-06-03 15:40] #448 closed

[2016-06-03 15:41] noisecapella opened #462 "Another high school validation error"
cc @giocalitri

When we sent `null` as the field of study to the backend it complains. We should update the backend with a database migration to allow nulls for all education and employment fields

[2016-06-03 16:16] giocalitri commented on #460
I use pdn++ (pdbpp in pypi) a lot, but it does not work with python 3.4 (at least for me): another reason to  switch to 3.5

[2016-06-03 17:44] pdpinch commented on #462
It seems extreme to allow nulls on everything because of this one field. Are you anticipating some other changes?

[2016-06-03 17:49] noisecapella commented on #462
It's not strictly necessary for the other fields, just for consistency. I can revert the changes to the other fields

[2016-06-03 18:21] aliceriot opened #465 "[bug] user page: spinner appears below footer"
this is what the user sees on the user page if something takes a while to load:

![spinner](https://cloud.githubusercontent.com/assets/6207644/15788623/67a0d570-2996-11e6-8b95-65693b1d9be3.png)

[2016-06-03 20:12] amir-qayyum-khan commented on #376
yes it is closed.

On Fri, Jun 3, 2016 at 1:00 AM, Peter Pinch <notifications@github.com>
wrote:

--
Amir Qayyum Khan
*Skype:* l070020
*Ph:* (+92)3344200954
LinkedIn <http://pk.linkedin.com/pub/amir-qayyum-khan/17/102/207>, Facebook
<https://www.facebook.com/Amir.KingKhan.The.1>

[2016-06-03 21:05] #375 closed

[2016-06-03 22:29] #266 closed

[2016-06-03 22:38] pdpinch commented on #403
Is "Please enter a valid date" clear enough?

[2016-06-03 22:50] pdpinch opened #468 "Discovery: ZenDesk integration"
As a registered micromasters learner, I would like to have an interface where I can submit support questions to MIT, and see the response from MIT MicroMaster's staff. In particular, I would use this to request scholarships and track my scholarship request.

We can do this with a ZenDesk integration, possibly as a drawer in the student dashboard.

[2016-06-03 23:00] pdpinch opened #469 "Performance monitoring"
As a devops, I'd like to be able to monitor the response time of the server so I can detect any issues in response time and, ideally, identify their cause.

Loading micromasters-ci is often very slow, which we attribute to the time spent waking the Heroku dyno. We need some monitoring in place so that we know that this isn't an issue in production.

[2016-06-03 23:01] pdpinch opened #470 "Bug: micromasters-ci still requires authorization on login with edX"
Presumably, this is a configuration issue -- we're either using the wrong OAuth library on the CI server, or we haven't configured OAuth to skip authorizations.

[2016-06-03 23:04] pdpinch opened #471 "Test student dashboard with a real certificate"
Up until now, we've only test the student dashboard with a fake certificate, which leads to the odd situation of a pass with 0%. We need to test with a more plausible certificate.

We can do this by:

- [ ] create a dummy course with at least one problem
- [ ] create a verified track for the course
- [ ] add the course to a micromasters program
- [ ] register a user as verified
- [ ] have the veri

[2016-06-05 15:49] pdpinch opened #472 "Mailing list form on home page should behave the same as form on current site"
- [x] default state: comments field and Institution name field are hidden
- [x] when the user selects "I represent an interested corporation" or "I represent an interested university or educational institution" the "institution name" field is displayed
- [x] when the user selects "Other" the "comments" field is displayed
- [x] when the user selects "I am an interested learner" the form reverts to

[2016-06-05 15:51] pdpinch commented on #472
@amir-qayyum-khan I thought this was going to be part of #287. Is this a bug, or did you just leave it out?

[2016-06-05 16:02] #275 closed

[2016-06-05 16:22] pdpinch opened #473 "make "enroll" and "upgrade to verified" buttons more accessible"
As a screen reader user who navigates the dashboard by links, there's no way to distinguish multiple "enroll" buttons or multiple "upgrade to verified" buttons.

We can follow the approach in https://github.com/edx/edx-platform/pull/12269 (which includes a custom `sr` CSS class

[2016-06-05 16:25] pdpinch commented on #216
I'm changing this to its own epic.

[2016-06-05 16:26] pdpinch opened #474 "profile"

[2016-06-06 09:13] amir-qayyum-khan commented on #472
ops, that was not assigned to me, i havent seen this at all. By the way is is already fixed in #287.

[2016-06-06 09:13] amir-qayyum-khan commented on #472
Fixed via #287.

[2016-06-06 14:19] #462 closed

[2016-06-06 14:31] noisecapella opened #475 "Use chai eventually assert to assert promise results"
This wouldn't change functionality, it would just make our tests cleaner and more explicit

http://chaijs.com/plugins/chai-as-promised/

cc @gsidebo

[2016-06-06 14:39] pdpinch opened #476 "Profile: Tighten up the Education and Professional forms"
When there is no education or employment listed, we don't need so much space for each card.

[2016-06-06 14:41] pdpinch opened #477 "Profile Privacy: move each hint to its own line, below the radio button."
- [x] move each hint to its own line
- [ ] make hint text accessible, using #555555 for the text color
- [x] change the text as follows:

`Your MicroMaster’s profile will be visible to all website visitors.`

`Your profile will be visible to other MicroMaster’s learners, and to MIT faculty and staff`

`Your MicroMaster’s profile will only be visible to MIT faculty and staff`

[2016-06-06 14:44] #458 closed

[2016-06-06 14:51] pdpinch commented on #442
Given that the fields of study data is only 80k, it seems like we could get away without an API

[2016-06-06 14:55] giocalitri commented on #461
Well, we should start to type the functions and then we can use mypy.

Anyway, I am still a bit skeptical about the syntax for type annotation.

[2016-06-06 14:58] aliceriot commented on #475
can we use chai side-by-side with mocha, or will we have to refactor our current test setup?

[2016-06-06 15:01] noisecapella commented on #475
I believe we would just replace our `assert` library with the chai one. It looks like chai provides an assert module which is a drop in replacement for the one we currently use

[2016-06-06 15:01] aliceriot commented on #475
Awesome, that sounds pretty painless.

[2016-06-06 15:03] gsidebo commented on #475
@aliceriot what he said. fyi: https://mochajs.org/#assertions

our current assertion library is 'assert' (confused yet?). chai would just replace it and allow for some more elegant and (most importantly) accurate assertions

[2016-06-06 15:04] noisecapella commented on #475
It looks like it's not quite drop-in, we would need to rename `assert.ok` to `assert.isOk` or just `assert()`.

[2016-06-06 15:04] aliceriot commented on #438
@noisecapella picking this up since my stories are both out for review.

I'm thinking of:

- [ ] moving validation-related functions out of `util.js` and into `validation.js`, so they're all in one place (and moving the tests for those same functions to `validation_test.js`)
- [ ] moving the course progress display related functions into a new file (maybe `util/courseProgress.js` or something simi

[2016-06-06 15:06] noisecapella commented on #438
Sounds good to me. The course progress functions all return some sort of `ReactElement` so maybe `util/ui.js` would fit better there?

[2016-06-06 15:07] aliceriot commented on #438
that makes sense to me!

[2016-06-06 15:07] noisecapella commented on #438
Actually I've been wondering if those UI functions should just be made into components and moved into their own classes... up to you! No strong opinions here

[2016-06-06 15:08] #474 closed

[2016-06-06 15:08] aliceriot commented on #438
hmm, I'll play around with it!

[2016-06-06 15:16] #392 closed

[2016-06-06 15:26] pdpinch commented on #472
This isn't displaying properly for me on micromasters-ci or micromasters-rc:

<img width="1364" alt="screen shot 2016-06-06 at 11 24 46 am" src="https://cloud.githubusercontent.com/assets/430126/15827506/64702104-2bd9-11e6-8c5b-9dc1cf6b57d6.png">

In the default state, and when individual learner is selected, the institution and comment fields should not display.

[2016-06-06 15:42] noisecapella opened #478 "Use MicroMaster's in logo image"
New logos were added in the micromasters-templates repository by https://github.com/mitodl/micromasters-templates/commit/a76837efae0521e77827b0c188febea2266e24a3

https://github.com/mitodl/micromasters-templates/blob/gh-pages/assets/images/logo-micromasters.png
https://github.com/mitodl/micromasters-templates/blob/gh-pages/assets/images/logo-micromasters%402x.png
https://github.com/mitodl/micromas

[2016-06-06 15:47] noisecapella opened #480 "Make npm install less chatty"
The main issue is that it slows down viewing of Heroku logs

[2016-06-06 16:05] aliceriot opened #481 "handle URLs that react-router doesn't have a route for in a better way"
Currently if you mistakenly visit e.g. `/profiles/:username}` this is basically what you see:

![error_react](https://cloud.githubusercontent.com/assets/6207644/15828816/d580d60e-2bde-11e6-9e3e-59d29c98ecc5.png)

there's a console warning that says `Warning: [react-router] Location "/profile/alicepote" did not match any routes`, which is the only user-facing indication of what's going on. We shoul

[2016-06-06 16:09] gsidebo commented on #438
i'm wondering why these things exist in a directory called "util" at all. a lot of these don't strike me as utility functions. as for these UI components, why not something like "static/js/components/common"? or maybe "shared" instead of "common"?

[2016-06-06 16:37] pdpinch commented on #470
just fix the django configuration

[2016-06-06 16:49] pdpinch commented on #439
Double check the text before implementing this.

[2016-06-06 17:00] aliceriot opened #482 "Clarify behavior when turning switches to 'off' on education and work history forms"
Currently turning off the switch doesn't remove any previously entered jobs or degrees, so a user could enter two jobs, flip the switch to 'off', and then click 'save and continue', and currently the entered jobs would be saved.

We should clarify what we intend for the switches to do. Here's an idea:

- If a user has already entered some input, a confirmation is shown ('really delete all jobs?')

[2016-06-06 17:05] pdpinch opened #483 "Users API should return 404 for users with privacy setting set to "private""

[2016-06-06 17:06] pdpinch opened #484 "Profile privacy: default to "public to other MicroMaster's students""

[2016-06-06 17:08] pdpinch opened #485 "user settings"
Users should be able to change their settings from the user drop-down.

The settings page will currently just have the privacy setting.

[2016-06-06 17:19] pdpinch opened #486 "create docs for adding new users to WagTail"

[2016-06-06 17:23] pdpinch opened #487 "General 500 error page"
Should include a link to mitx-support@mit.edu, with the subject set to the error message.

[2016-06-06 17:26] pdpinch opened #488 "edX caching architecture"

[2016-06-06 17:34] #388 closed

[2016-06-06 18:14] pdpinch commented on #221
this is probably already done.

[2016-06-06 18:41] giocalitri commented on #470
I just configured all the apps in
https://micromasters.d.mitx.mit.edu/admin/oauth2_provider/application/

to skip the authorization and in particular
![screen shot 2016-06-06 at 2 36 57 pm](https://cloud.githubusercontent.com/assets/1005204/15833400/b1706f8e-2bf4-11e6-8d59-01cd5108cd84.png)

[2016-06-06 18:42] giocalitri commented on #470
@Ferdi can you please test it tomorrow morning to check if it asks again for the authorization?

[2016-06-06 18:43] #391 closed

[2016-06-06 19:12] aliceriot commented on #476
@pdpinch is there a mockup which shows what the optimal end state is for this, or should I just give it a go?

[2016-06-06 19:19] pdpinch commented on #476
Please "give it a go" and post a screenshot to the issue for Ferdi to review.

[2016-06-06 19:20] aliceriot commented on #476
will do!

[2016-06-06 19:24] noisecapella opened #490 "Only one validation error is shown in education form at a time"
To reproduce, open a new education and click Save

[2016-06-06 19:44] giocalitri commented on #234
The scope of this story will be to handle the errors ONLY in the front end and leave the data as is.
We will need an additional story to make the dashboard REST API more robust and send some data back in case there is only a problem with edX.

[2016-06-06 19:50] #438 closed

[2016-06-07 02:31] pdpinch commented on #437
Probably replaced by #486

[2016-06-07 02:32] pdpinch commented on #414
may be moot now that the footer has pushed us into requiring scrollbars on all the pages.

[2016-06-07 07:46] amir-qayyum-khan commented on #477
@pdpinch So, do you want me to change color of hint as well. Of this light gray color is ok?

[2016-06-07 11:45] amir-qayyum-khan commented on #472
@pdpinch hello,

The issue is in deployment of https://micromasters-rc.herokuapp.com,
- you cannot able to open my files from source of home page for example https://micromasters-rc.herokuapp.com/static/bundles/js/home_page/custom.js
- But you can open the public.js file which is existing deployed. https://micromasters-rc.herokuapp.com/static/bundles/public.js

You can check you self by right clic

[2016-06-07 12:13] amir-qayyum-khan commented on #477
@pdpinch is this UI ok.

![screen shot 2016-06-07 at 5 12 48 pm](https://cloud.githubusercontent.com/assets/10431250/15857140/2a706b44-2cd3-11e6-84eb-5630f6385f0f.png)

[2016-06-07 12:21] pdpinch commented on #477
Using the color contrast check at http://webaim.org/resources/contrastchecker/ you are correct -- there isn't enough contrast between that gray and the white background.

Let's change the hint text to #555555 -- it's pretty dark but it passes the WCAG AAA requirement.

[2016-06-07 12:25] pdpinch commented on #477
Please change the text as follows (I also updated the description):

`Your MicroMaster’s profile will be visible to all website visitors.`

`Your profile will be visible to other MicroMaster’s learners, and to MIT faculty and staff`

`Your MicroMaster’s profile will only be visible to MIT faculty and staff`

[2016-06-07 12:27] pdpinch commented on #477
UI looks good.

[2016-06-07 12:38] pdpinch commented on #472
@bdero @blarghmatey what's going on here with the static asset build (on both micromasters-ci and micromasters-rc)

[2016-06-07 12:38] amir-qayyum-khan commented on #477
Done.
![screen shot 2016-06-07 at 5 37 59 pm](https://cloud.githubusercontent.com/assets/10431250/15857793/9bb9920a-2cd6-11e6-900b-2f834c335f3b.png)

[2016-06-07 12:42] amir-qayyum-khan commented on #483
@pdpinch sorry i forget abt Users API. Can you give me api url?

[2016-06-07 12:43] pdpinch commented on #477
While we're working on this, can you change the header text `Who can see your profile` to an h4? I think it should be styled the same as similar questions in the other profile forms.

[2016-06-07 12:44] amir-qayyum-khan commented on #477
ok let me.

[2016-06-07 12:45] pdpinch commented on #483
The web page view is at /users/ but the API is /api/v0/profiles/<username>

[2016-06-07 12:46] amir-qayyum-khan commented on #483
thanks

[2016-06-07 12:56] amir-qayyum-khan commented on #477
Done @pdpinch

![screen shot 2016-06-07 at 5 55 49 pm](https://cloud.githubusercontent.com/assets/10431250/15858276/213abdf8-2cd9-11e6-8393-bc5619559c33.png)

[2016-06-07 13:16] bdero commented on #472
I'm looking into this.

[2016-06-07 13:19] bdero commented on #472
Nevermind, Tobias is working on this.

[2016-06-07 13:25] bdero commented on #456
I will move to the current edX master given the dependent PR is merged: https://github.com/edx/edx-platform/pull/12595

[2016-06-07 14:11] #456 closed

[2016-06-07 14:11] #460 closed

[2016-06-07 14:21] #490 closed

[2016-06-07 14:22] aliceriot commented on #414
It still happens on a tall enough screen (my external monitor). I think that it's not that it is fixed by the footer, but that it wasn't that great of a problem in the first place. I'm fine with ignoring it indefinitely, haha.

[2016-06-07 15:13] gsidebo commented on #443
fields of study data source: https://nces.ed.gov/ipeds/cipcode/resources.aspx?y=55

[2016-06-07 17:47] pdpinch opened #498 "Collapse multiple education cards on User page into one card"
Instead of:

![screenshot-micromasters-ci herokuapp com 2016-06-07 13-43-15](https://cloud.githubusercontent.com/assets/430126/15868472/f9c9d2c2-2cb5-11e6-844a-dd85bd53aa90.png)

we'd like something more like:

<img width="293" alt="screen shot 2016-06-07 at 1 45 57 pm" src="https://cloud.githubusercontent.com/assets/430126/15868517/33b12058-2cb6-11e6-9b26-f9b0d3371e89.png">

I'm not sure if this

[2016-06-07 17:47] pdpinch commented on #498
@Ferdi what's your opinion on this?

[2016-06-07 17:51] pdpinch commented on #389
closed via #445 and #406

[2016-06-07 17:51] #389 closed

[2016-06-07 17:58] aliceriot commented on #476
here's what I have so far!

![standard](https://cloud.githubusercontent.com/assets/6207644/15868894/be4bc2ee-2cb7-11e6-8bba-d5f200c5e767.png)

![partially](https://cloud.githubusercontent.com/assets/6207644/15868897/c159c01c-2cb7-11e6-8d11-3342d32c4d14.png)

![fully](https://cloud.githubusercontent.com/assets/6207644/15868898/c3ab1690-2cb7-11e6-94a1-5968b3746ccb.png)

basically this is just settin

[2016-06-07 18:00] Ferdi commented on #498
@pdpinch I agree actually.  I understand we might lose component re usability,   it looks like we need a new component here, very similar to Employment.

[2016-06-07 18:19] #480 closed

[2016-06-07 18:22] aliceriot commented on #498
If we did this we wouldn't be able to re-use the component we currently have for education.

I think it would be a substantial amount of work to make this happen, we'd need to pull the pop-up form portion out of the current education form into a separate component, build a new display component for the `/users` page, etc. There's a lot of specialized logic built into the education form which would

[2016-06-07 18:35] #370 closed

[2016-06-07 18:37] pdpinch commented on #476
Actually, this issue was about the profile -- /profile/education -- not /users (I wish I had better names for these views).

That said, this is a relevant test for #498

[2016-06-07 18:42] aliceriot commented on #476
Ah, so the changes I made above I just showed on the `/users` page for convenience, the changes above are made in such a way that they show up the same way on `/profile/education` and `/profile/professional`.

[2016-06-07 18:45] pdpinch commented on #476
Ah, cool. I didn't realize.

These seems like good improvements, but can we can remove some of the whitespace in the card in the case where the switch is on, but there are now rows yet (i.e. when there's just the FAB)?

[2016-06-07 18:46] aliceriot commented on #476
I can try! that's a little bit trickier but it might be doable.

[2016-06-07 18:57] aliceriot commented on #476
another go! here I removed some `padding-bottom` on the card and also removed `min-height`:

![smaller](https://cloud.githubusercontent.com/assets/6207644/15870904/0ef901ea-2cc0-11e6-97e1-9aa1f1a07f7b.png)

it's more condensed, but I think still not too busy.